<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" href="layui/css/layui.css">
	</head>
	<body>

		<br>

		<div class="demoTable">
			根据姓名：
			<div class="layui-inline">
				<input class="layui-input" name="cName" id="cName" autocomplete="off">
			</div>
			<button class="layui-btn" data-type="reload">搜索</button>
			&nbsp;&nbsp;&nbsp;&nbsp;
			根据负责人：
			<div class="layui-inline">
				<input class="layui-input" name="cUsp" id="cUsp" autocomplete="off">
			</div>
			<button class="layui-btn" data-type="reload">搜索</button>
		</div>

		<table class="layui-hide" id="tab" lay-filter="test"></table>
 
		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="detail">查看</a>
		  <a class="layui-btn layui-btn-xs" lay-event="edit">编辑</a>
		  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
		  <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="success">成交</a>
		  <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="transfer">转诊</a>
		</script>

		<script src="layui/layui.js"></script>

		<script>
            layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element'], function(){
                var laydate = layui.laydate //日期
                    ,laypage = layui.laypage //分页
                    ,layer = layui.layer //弹层
                    ,table = layui.table //表格
                    ,upload = layui.upload //上传
                    ,element = layui.element //元素操作

                //执行一个 table 实例
                table.render({
                    elem: '#tab'
                    ,height: 350
                    ,url: 'transaction/customerlist' //数据接口
                    ,title: '用户表' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 5 //每页显示条数
                    ,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
                    ,cols: [ //表头
                        [
                            {type: 'checkbox', fixed: 'left'}
                            ,{field: 'cid', width: 120, title: 'ID', sort: true, align:'center'}
                            ,{field: 'cname', width: 120, title: '姓名', align:'center'}
                            ,{field: 'ctel', width: 120, title: '电话', sort: true, align:'center'}
                            ,{field: 'cproject', width: 120, title: '报名项目', align:'center'}
                            ,{field: 'cregistrationtime', width: 120, title: '报名时间', align:'center'}
                            ,{field: 'cearnest', width: 120, title: '定金', align:'center'}
                            ,{field: 'cusp', width: 120, title: '负责人', align:'center'}
                            ,{field: 'cuspid', width: 120, title: '负责人编号', align:'center'}
                            ,{field: 'cappointmenttime', width: 120, title: '预约时间', align:'center'}
                            ,{field: 'chospital', width: 120, title: '预约门诊', align:'center'}
                            ,{field: 'carrive', width: 120, title: '是否到店', align:'center'}
                            ,{field: 'ctransaction', width: 120, title: '是否成交', align:'center'}
                            ,{field: 'cstatus', width: 120, title: '客户状态', align:'center'}
                            ,{fixed: 'right', width: 300, align:'center', toolbar: '#barDemo'}
                        ]
                    ]
                });

                //监听头工具栏事件
                table.on('toolbar(test)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id)
                        ,data = checkStatus.data; //获取选中的数据
                    switch(obj.event){
                        case 'add':
                            location.href = "customersave";
                            break;
                        case 'update':
                            if(data.length === 0){
                                layer.msg('请选择一行');
                            } else if(data.length > 1){
                                layer.msg('只能同时编辑一个');
                            } else {

                                if(checkStatus.data[0].ctransaction == 0){
                                    location.href = "transaction/queryCustomerByCid?cid=" + checkStatus.data[0].cid;
                                } else {
                                    layer.msg("该预约客户已成交，不能编辑!");
                                }
                            }
                            break;
                        case 'delete':
                            if(data.length === 0){
                                layer.msg('请选择一行');
                            } else {
                                layer.confirm('真的删除行么', function(){

                                    if(checkStatus.data[0].ctransaction == 0){
                                        location.href = "transaction/delCustomerByCid?cid=" + checkStatus.data[0].cid;
									} else {
                                        layer.msg("该预约客户已成交，不能删除!");
									}
                                });
                            }
                            break;
                    }
                });

                //监听行工具事件
                table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                    var data = obj.data //获得当前行数据
                        ,layEvent = obj.event; //获得 lay-event 对应的值
                    if(layEvent === 'success'){
                        if(data.ctransaction == 0){
                            location.href = 'transaction/editTransaction?cid='+data.cid;
						} else {
							layer.msg("该预约客户已成交");
                        }

                    } else if(layEvent === 'del'){
                        layer.confirm('真的删除行么', function(index){

                            if(data.ctransaction == 0){

                                obj.del(); //删除对应行（tr）的DOM结构
                                layer.close(index);
                                //向服务端发送删除指令
                                location.href = "transaction/delCustomerByCid?cid=" + data.cid;
                            } else {
                                layer.msg("该预约客户已成交，不能删除!");
                            }
                        });
                    } else if(layEvent === 'edit'){

                        if(data.ctransaction == 0){
                            location.href = "transaction/queryCustomerByCid?cid=" + data.cid;
						} else {
                            layer.msg("该预约客户已成交，不能编辑!");
						}
                    } else if(layEvent === 'transfer'){

                        if(data.ctransaction == 0){
                            location.href = "transaction/goTransfer?cid=" + data.cid;
                        } else {
                            layer.msg("该预约客户已成交，不能转诊!");
                        }
                    } else if(layEvent === 'detail'){
						location.href = "transaction/goDetail?cid=" + data.cid;
                    }
                });

                var $ = layui.$, active = {
                    reload: function(){
                        var cName = $('#cName');
                        var cUsp = $('#cUsp');

                        //执行重载
                        table.reload('tab', {
                            page: {
                                curr: 1 //重新从第 1 页开始
                            }
                            ,where: {
                                cName: cName.val(),
                                cUsp: cUsp.val()
                            }
                        }, 'data');
                    }
                };

                $('.demoTable .layui-btn').on('click', function(){
                    var type = $(this).data('type');
                    active[type] ? active[type].call(this) : '';
                });

            });

		</script>

	</body>
</html>
