<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>首页</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" />
    <style>
        .baseMargin{
            margin: 5px 0 10px 0;
        }
        .baseColor{color: #1E9FFF}
        .list{cursor: pointer;height: 30px;padding: 5px;top: 0;line-height: 30px;}
        #list{border: 1px solid #C9C9C9; border-top: none;}
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--头部固定区域-->
    <div class="layui-header">
        <div class="layui-logo">LiliCRM</div>
        <!--左侧导航-->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <input type="text" placeholder="请输入客户姓名/手机号" autocomplete="off" class="layui-input"
                       id="search" style="border: 0;background-color: #383d49;color: #bdbeb7;margin-top: 10px;">
                <div id="list" style="background-color: #383d49;height: auto; display: none;"></div>
            </li>
        </ul>
        <!--右侧导航-->
        <ul class="layui-nav layui-layout-right" style="color: #FFFFFF;">
            <li class="layui-nav-item">
                <input type="hidden" id="uId" th:value="${user.getuId()}" >
                <input type="hidden" id="uName" th:value="${user.getuName()}" >
                <input type="hidden" id="uRoleId" th:value="${user.getuRoleId()}" >
                <input type="hidden" id="rName" th:value="${user.getrName()}" >
                <a href="javascript:;">
                    <img th:src="@{/images/head.jpg}" class="layui-nav-img">
                    <span id="username" th:text="${user.getuName()}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:editPwd();">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">退出登录</a></li>
        </ul>
    </div>

    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test" id="nav">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:void(0);" id="workbench" class="skip">工作台</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div id="body" class="layui-body" style="background-color: #f5f5f5; bottom: 0px;">
        <iframe id="frame" frameborder="0" scrolling="yes" width="100%"
                height="590px" src="workbench"></iframe>
    </div>

    <!--详情页面-->
    <div id="detail" style="position:absolute; z-index:999999; top:0; right:-100%;
		transition:all linear 0.5s; width: 900px; height: 580px;background-color:white;
		border: 1px gainsboro solid;box-shadow: gainsboro 0 0 5px 5px;margin-top: 2px;">

        <div style="float: left; margin: 5px;">
            <span style="font-size: 20px;">客户详情</span>
        </div>
        <div style="float: right; cursor: pointer;">
            <i onclick="javascript:document.getElementById('detail').style.right = '-100%';" class="layui-icon layui-icon-close" style="font-size: 25px;"></i>
        </div>
        <br>

        <!--head-->
        <div class="layui-row layui-card" style="height: 120px;">
            <div class="layui-col-md9 layui-row">
                <div class="layui-col-space1">
                    <!--客户信息-->
                    <br />
                    <div class="layui-col-md4 layui-row">
                        <div class="layui-col-space1">
                            <div class="layui-col-md3" style="padding-top: 10px;"><img id="img" th:src="@{/images/boy.png}" width="40px" height="40px" /></div>
                            <div class="layui-col-md7">
                                <div class="layui-row" style="margin-bottom: 2px;">
                                    <div class="layui-col-md6"><span style="font-size: 20px;" name="cName"></span></div>
                                    <div class="layui-col-md3"><span style="float: right;margin-top: 3px;" name="cAge"></span></div>岁
                                </div>
                                <div style="margin-bottom: 2px;"><span name="cTel"></span></div>
                                <div>上次:<span id="hName"></span></div>
                            </div>
                        </div>
                    </div>
                    <!--成交金额-->
                    <div class="layui-col-md2">
                        <br><div><span id="successMoney"></span></div>
                        <div><span style="color: #9F9F9F;">成交金额</span></div>
                    </div>
                    <!--已收金额-->
                    <div class="layui-col-md2">
                        <br><span id="payMoney"></span><br />
                        <span style="color: #9F9F9F;">已交金额</span>
                    </div>
                    <!--待收金额-->
                    <div class="layui-col-md2">
                        <br><span id="waitMoney"></span><br />
                        <span style="color: #9F9F9F;">待交金额</span>
                    </div>
                    <!--预交金额-->
                    <div class="layui-col-md2">
                        <br><span name="cEarnest"></span><br />
                        <span style="color: #9F9F9F;">预交金额</span>
                    </div>
                </div>
            </div>
            <br />
            <div class="layui-col-md3">
                <div style="margin-bottom: 2px;">创建时间:<span id="createTime"></span></div>
                <div style="margin-bottom: 2px;">修改时间:<span id="editTime"></span></div>
                <div>负责人:<span id="userName"></span></div>
            </div>
        </div>

        <!--body-->
        <div class="layui-row">
            <div class="layui-col-space10">
                <!--左侧选项卡、预约记录-->
                <div class="layui-col-md8">
                    <!--选项卡-->
                    <div class="layui-card" style="height: 265px;">
                        <div style="height: 330px;">
                            <div class="layui-tab">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">基本信息</li>
                                    <li>操作记录</li>
                                    <li>成交记录</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <!--基本信息-->
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-row" style="align-content: center;margin-left: 5px;">
                                            <div class="layui-col-md4 baseMargin">姓名：<span class="baseColor" name="cName"></span></div>
                                            <div class="layui-col-md4 baseMargin">性别：<span class="baseColor" id="cSex"></span></div>
                                            <div class="layui-col-md4 baseMargin">年龄：<span class="baseColor" name="cAge"></span></div>
                                            <div class="layui-col-md4 baseMargin">电话：<span class="baseColor" name="cTel"></span></div>
                                            <div class="layui-col-md4 baseMargin">来源：<span class="baseColor" id="cSource"></span></div>
                                            <div class="layui-col-md4 baseMargin">预交金额：<span class="baseColor" name="cEarnest"></span></div><br>
                                            <div class="layui-col-md4 baseMargin">报名项目：<span class="baseColor" id="cProject"></span></div>
                                            <div class="layui-col-md8 baseMargin">报名时间：<span class="baseColor" id="cPlaceTime"></span></div>
                                        </div>
                                    </div>
                                    <!--操作记录-->
                                    <div class="layui-tab-item">
                                        <!--表格-->
                                        <table class="layui-hide" id="operating" lay-filter="operating"></table>
                                    </div>
                                    <!--成交记录-->
                                    <div class="layui-tab-item">
                                        <!--表格-->
                                        <table class="layui-hide" id="success" lay-filter="success"></table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--预约记录-->
                    <div style="height: 145px;overflow-y: auto;">
                        <ul class="layui-timeline">
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <div style="margin-bottom: 5px;">
                                        <span style="font-size: 18px;">初诊</span>
                                    </div>
                                    <p>
                                        <span>欧卡多</span>
                                        <i class="layui-icon">&#xe602;</i><span>2020-10-03</span>
                                        <i class="layui-icon">&#xe602;</i><span>到店</span>
                                        <i class="layui-icon">&#xe602;</i><span>罗洋</span>
                                        <i class="layui-icon">&#xe602;</i><span>种植</span>
                                        <i class="layui-icon">&#xe602;</i><span>3799</span>
                                    </p>
                                </div>
                            </li>
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis">&#xe63f;</i>
                                <div class="layui-timeline-content layui-text">
                                    <div style="margin-bottom: 5px;">
                                        <span style="font-size: 18px;">初诊</span>
                                    </div>
                                    <p>
                                        <span>欧卡多</span>
                                        <i class="layui-icon">&#xe602;</i><span>2020-10-03</span>
                                        <i class="layui-icon">&#xe602;</i><span>到店</span>
                                        <i class="layui-icon">&#xe602;</i><span>罗洋</span>
                                        <i class="layui-icon">&#xe602;</i><span>种植</span>
                                        <i class="layui-icon">&#xe602;</i><span>3799</span>
                                    </p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--右侧跟进-->
                <div class="layui-col-md4">
                    <div class="layui-card" style="height: 430px;overflow-y: auto;">
                        <!--表单-->
                        <div style="border:1px solid #f2f2f2;height: 230px;">
                            <form class="layui-form" action="">
                                <div class="layui-form-item">
                                    <div style="margin: 15px 15px 0 15px;">
                                        <select id="followSel" lay-filter="followSel">
                                            <option value="0">客户跟进</option>
                                            <option value="2">成交回访</option>
                                            <option value="3">未成交回访</option>
                                            <option value="4">未到店联系</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="layui-form-item layui-form-text" style="margin-top: 15px; margin-left: 15px; margin-right: 15px;">
                                    <textarea id="content" placeholder="请输入内容" class="layui-textarea" style="border-color: #FFFFFF;"></textarea>
                                </div>
                                <div class="layui-form-item" style="margin-top: 15px;text-align: center;">
                                    <button class="layui-btn layui-btn-sm" lay-submit="" lay-filter="formDemo">提交</button>
                                    <button type="reset" class="layui-btn layui-btn-sm layui-btn-primary">重置</button>
                                </div>
                            </form>
                        </div>
                        <!--时间线-->
                        <div style="margin-top: 20px;">
                            <ul class="layui-timeline" id="follow">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
<!--<script src="//cdn.bootcdn.net/ajax/libs/pym/1.3.2/pym.v1.min.js"></script>-->
<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
<!--<script th:src="@{layui/layui.all.js}"></script>-->

<script>

    var $ = layui.jquery;
    var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
    var layer = layui.layer;
    var table = layui.table;

    //给搜索框添加input事件
    $("#search").on("input", function(){
        var search = $("#search").val();
        if(search != ""){
            //根据客户名称或者客户电话查询客户
            $.post("/customer/queryCByCNameOrCTel", {key:search}, function (data) {
                var html = "";
                for (i = 0; i < data.data.length; i++){
                    html += "<div class='list' onclick='javascript:goDetail("+data.data[i].cId+");'>"+data.data[i].cName+"/"+data.data[i].cTel+"</div>";
                }
                html += "<div class='list' style='text-align: right;margin-top: -10px;' id='close'>关闭</div>";
                //赋值
                $("#list").html(html);
                //给关闭添加onclick事件
                $("#close").on("click", function(){
                    $("#list").attr("style", "background-color: #383d49;height: auto; display: none;");
                });
            });
            $("#list").attr("style", "background-color: #383d49;height: auto; display: block;");
        }else{
            //赋值
            $("#list").html("");
            $("#list").attr("style", "background-color: #383d49;height: auto; display: none;");
        }
    });

    //给搜索框添加onfocus事件
    $("#search").on("focus", function(){
        var search = $("#search").val();
        if(search != ""){
            $("#list").attr("style", "background-color: #383d49;height: auto; display: ;");
        }
    });

    //弹出详情页面
    function goDetail(cId) {
        //显示详情页面
        document.getElementById("detail").style.right = 0;
        document.getElementById("detail").style.top = document.scrollingElement.scrollTop + "px";
        //根据客户编号查询信息并赋值
        $.get("/customer/detail", {cId:cId}, function (data) {
            if (data.customer.cSex == "男"){
                $("#img").attr("src", "/images/boy.png");
            } else {
                $("#img").attr("src", "/images/boy.png");
            }
            //上次门诊
            $("#hName").text(data.hName);
            //给基本信息赋值
            var cNameList = $("[name=cName]");
            for(var i = 0; i < cNameList.length; i++){
                cNameList[i].innerText = data.customer.cName;
            }
            var cAgeList = $("[name=cAge]");
            for(var i = 0; i < cAgeList.length; i++){
                cAgeList[i].innerText = data.customer.cAge;
            }
            var cTelList = $("[name=cTel]");
            for(var i = 0; i < cTelList.length; i++){
                cTelList[i].innerText = data.customer.cTel;
            }
            var cEarnestList = $("[name=cEarnest]");
            for(var i = 0; i < cEarnestList.length; i++){
                cEarnestList[i].innerText = data.customer.cEarnest;
            }
            //成交金额
            $("#successMoney").text(data.successMoney);
            //已交金额
            $("#payMoney").text(data.payMoney);
            //待交金额
            $("#waitMoney").text(data.waitMoney);
            //创建时间
            $("#createTime").text(data.customer.cPlaceTime);
            //修改时间
            $("#editTime").text(data.updateTime);
            //负责人
            $("#userName").text(data.customer.uName);
            //性别
            $("#cSex").text(data.customer.cSex);
            //来源
            $("#cSource").text(data.customer.cSource);
            //报名项目
            $("#cProject").text(data.customer.cProject);
            //报名时间
            $("#cPlaceTime").text(data.customer.cPlaceTime);
        });

        //成交记录
        table.render({
            elem: '#success'
            ,url: '/success/querySBySCId?sCId=' + cId //访问路径
            ,height: '200px'
            ,page: true //开启分页
            ,limit: 5 //每页显示条数
            ,limits: [5] //自定义可选每页显示条数
            ,cols: [
                [
                    {field: 'sId', title: 'ID', minWidth: 120, sort: true, event: 'collapse',
                        templet: function(data) {
                            return "<div style='position: relative; padding: 0 10px 0 20px; cursor:pointer;'>" + data.sId +
                                "<i	style='left: 0px;' lay-tips='展开' class='layui-icon layui-colla-icon layui-icon-right'></i>" +
                                "</div>";
                        }
                    }
                    ,{field: 'cName', title: '客户名称', minWidth: 120}
                    ,{field: 'cTel', title: '电话', minWidth: 120}
                    ,{field: 'hName', title: '成交门诊', minWidth: 150}
                    ,{field: 'sMessage', title: '成交信息', minWidth: 150}
                    ,{field: 'sSum', title: '成交金额', minWidth: 120, sort: true}
                    ,{field: 'sPaysum', title: '已交金额', minWidth: 120, sort: true}
                    ,{field: 'sRemark', title: '成交备注', minWidth: 250}
                    ,{field: 'sTime', title: '成交时间', minWidth: 200}
                ]
            ]
        });

        //成交记录监听行工具事件
        table.on('tool(success)', function(obj) {
            var data = obj.data;
            if (obj.event === 'collapse') {
                var trObj = layui.$(this).parent('tr'); //当前行
                var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                var content = '<table></table>' //内容
                //表格行折叠方法
                collapseTable({
                    elem: trObj,
                    accordion: accordion,
                    content: content,
                    success: function(trObjChildren, index) { //成功回调函数
                        //trObjChildren 展开tr层DOM
                        //index 当前层索引
                        trObjChildren.find('table').attr("id", index);
                        table.render({
                            elem: "#" + index
                            ,url: '/payrecord/queryPByPaySId?paySId=' + data.sId
                            ,cols: [
                                [
                                    {field: 'payId', minWidth: 120, title: 'ID', sort: true}
                                    ,{field: 'cName', minWidth: 120, title: '客户名称'}
                                    ,{field: 'paySum', minWidth: 120, title: '支付金额', sort: true}
                                    ,{field: 'payTime', minWidth: 200, title: '支付时间', sort: true}
                                    ,{field: 'payType', minWidth: 120, title: '支付类型'}
                                ]
                            ]
                        });

                    }
                });

            }
        });

        //表格折叠方法
        function collapseTable(options) {
            var trObj = options.elem;
            if (!trObj) return;
            var accordion = options.accordion,
                success = options.success,
                content = options.content || '';
            var tableView = trObj.parents('.layui-table-view'); //当前表格视图
            var id = tableView.attr('lay-id'); //当前表格标识
            var index = trObj.data('index'); //当前行索引
            var leftTr = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + index + '"]'); //左侧当前固定行
            var rightTr = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + index + '"]'); //右侧当前固定行
            var colspan = trObj.find('td').length; //获取合并长度
            var trObjChildren = trObj.next(); //展开行Dom
            var indexChildren = id + '-' + index + '-children'; //展开行索引
            var leftTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + indexChildren + '"]'); //左侧展开固定行
            var rightTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + indexChildren + '"]'); //右侧展开固定行
            var lw = leftTr.width() + 15; //左宽
            var rw = rightTr.width() + 15; //右宽
            //不存在就创建展开行
            if (trObjChildren.data('index') != indexChildren) {
                //装载HTML元素
                var tr = '<tr data-index="' + indexChildren + '"><td colspan="' + colspan + '"><div style="height: auto;padding-left:' + lw + 'px;padding-right:' + rw + 'px" class="layui-table-cell">' + content + '</div></td></tr>';
                trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
                var fixTr = '<tr data-index="' + indexChildren + '"></tr>';//固定行
                leftTrChildren = leftTr.after(fixTr).next().hide(); //左固定
                rightTrChildren = rightTr.after(fixTr).next().hide(); //右固定
            }
            //展开|折叠箭头图标
            trObj.find('td[lay-event="collapse"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
            //显示|隐藏展开行
            trObjChildren.toggle();
            //开启手风琴折叠和折叠箭头
            if (accordion) {
                trObj.siblings().find('td[lay-event="collapse"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                trObjChildren.siblings('[data-index$="-children"]').hide(); //展开
                rightTrChildren.siblings('[data-index$="-children"]').hide(); //左固定
                leftTrChildren.siblings('[data-index$="-children"]').hide(); //右固定
            }
            success(trObjChildren, indexChildren); //回调函数
            heightChildren = trObjChildren.height(); //展开高度固定
            rightTrChildren.height(heightChildren + 115).toggle(); //左固定
            leftTrChildren.height(heightChildren + 115).toggle(); //右固定
        }
        /*

                        //根据客户编号查询所拥有的跟进类型
                        $.get("/follow/queryFtypeByFCId?cId=" + cId, function(obj){
                            var html = "";
                            for(var i = 0; i < obj.length; i++) {
                                //根据跟进类型查询和客户编号最后一次跟进时间
                                $.get("/follow/queryLastFTimeByFtypeAndFCId?cId=" + cId + "&ftType=" + obj[i], function (obj2) {
                                    var year = obj2.substring(0, 4);
                                    var month = obj2.substring(5, 7);
                                    var day = obj2.substring(8, 10);
                                    var date = year+"年"+month+"月"+day+"日";
                                    html += "<li class='layui-timeline-item'>" +
                                        "<i class='layui-icon layui-timeline-axis'>&#xe63f;</i>" +
                                        "<div class='layui-timeline-content layui-text'>" +
                                        "<h3>" + date + "（" + obj.data[j].ftype + "）</h3>" +
                                        "<ul>";
                                    //根据跟进类型和客户编号查询跟进记录
                                    $.get("/follow/queryFByFtypeAndFCId?fCId=" + cId + "&ftType=" + obj[i], function(obj3){
                                        for(var j = 0; j < obj3.data.length; j++){
                                            html += "<li>" + obj3.data[j].opName + "</li>";
                                        }
                                    });
                                    "</ul>" +
                                    "</div>" +
                                    "</li>";
                                });
                            }
                            //赋值
                            $("#follow").html(html);
                        });
        */

    }

    //跳转页面
    function skip(id) {
        $("#frame").attr("src", id);
    }

    //获取用户编号和用户名
    var uId = $("#uId").val();
    var uName = $("#uName").val();
    var uRoleId = $("#uRoleId").val();
    var rName = $("#rName").val();

    //把用户编号和用户名存到sessionStorage
    sessionStorage.setItem('uId', uId);
    sessionStorage.setItem('uName', uName);
    sessionStorage.setItem('uRoleId', uRoleId);
    sessionStorage.setItem('rName', rName);

    //修改密码
    function editPwd() {
        var ix = layer.open({
            type: 2, //层类型，iframe
            title: '修改密码',
            content: ['/goEditPwd'],
            area: ['400px', '300px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var oldPwd = $(body).find("#oldPwd").val();
                var newPwd = $(body).find("#newPwd").val();
                var newPwd2 = $(body).find("#newPwd2").val();
                //判断当前密码是否输入正确
                $.post("/user/verifyPwd", {uId:uId, uPassword:oldPwd}, function (data) {
                    if (data){
                        if (newPwd.length >=6 && newPwd.length <=16 && newPwd2.length >=6 && newPwd2.length <=16){
                            if (newPwd == newPwd2){
                                $.post("/user/editPwd", {uId:uId, uPassword:newPwd}, function (data) {
                                    layer.close(ix);
                                    layer.msg("密码已修改，请重新登录", {time: 1000}, function () {
                                        location.href = "/loginPage";
                                    });
                                })
                            } else {
                                layer.msg("两次密码不一致");
                            }
                        } else {
                            layer.msg("密码长度为6到16个字符");
                        }
                    } else {
                        layer.msg("当前密码输入错误");
                    }
                })
            },
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    }

    //获取菜单列表
    $.get("/authority/queryRMByRId?rId="+uRoleId, function (obj) {
        //定义内容
        var html = "";
        var parent = obj.data;
        var child = obj.data;
        for(index in parent){
            if(parent[index].mParentId == 0){
                html += "<li class='layui-nav-item'>" +
                    "       <a class='' href='javascript:;'>"+parent[index].mName+"</a>" +
                    "       <dl class='layui-nav-child'>";
                for(i in child){
                    if(child[i].mParentId == parent[index].rmMId){
                        html += "<dd>" +
                            "   <a href='javascript:;' id='"+child[i].mUrl+"' class='skip'>"+child[i].mName+"</a>" +
                            "</dd>"
                    }
                }
                html += "   </dl>" +
                    "</li>";
            }
        }

        //给导航条赋值
        $("#nav").append(html);
        //重新渲染元素
        element.init();

        //绑定跳转事件
        $(".skip").on("click", function () {
            skip(this.id);
        })

    });

</script>
</body>
</html>