<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>LiLiCRM</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" />
    <style>
        .baseMargin{
            margin: 5px 0 10px 0;
        }
        .baseColor{color: #1E9FFF}
        .list{cursor: pointer;height: 30px;padding: 5px;top: 0;line-height: 30px;}
        #list{border: 1px solid #C9C9C9; border-top: none;}
        .budiv {
            margin: 0 1px;
        }
        .layui-table-fixed .layui-table-body {
            height: auto!important;
        }
        .layui-table-fixed.layui-hide {
            display: block!important;
        }
    </style>
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">

    <!--头部固定区域-->
    <div class="layui-header">
        <div class="layui-logo">LiliCRM</div>
        <!--左侧导航-->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item">
                <input type="text" placeholder="请输入客户姓名/手机号" autocomplete="off" class="layui-input"
                       id="search" style="border: 0;background-color: #383d49;color: #bdbeb7;margin-top: 10px;">
                <input type="hidden" id="page" value="1">
                <input type="hidden" id="count">
                <div id="list" style="background-color: #383d49;height: auto; display: none;">
                    <div id="data"></div>
                    <div class='list' style='text-align: right;margin-top: -10px;'>
                        <i onclick="previousPage()" class="layui-icon layui-icon-up" style="font-size: 15px;"></i>&nbsp;&nbsp;&nbsp;
                        <i onclick="nextPage()" class="layui-icon layui-icon-down" style="font-size: 15px;"></i>
                    </div>
                    <div class='list' style='text-align: right;margin-top: -10px;' id='close'>
                        <i onclick="hideList()" class="layui-icon layui-icon-close" style="font-size: 15px;"></i>
                    </div>
                </div>
            </li>
        </ul>
        <!--右侧导航-->
        <ul class="layui-nav layui-layout-right" style="color: #FFFFFF;">
            <li class="layui-nav-item">
                <input type="hidden" id="uId" th:value="${user.getuId()}" >
                <input type="hidden" id="uName" th:value="${user.getuName()}" >
                <input type="hidden" id="uRoleId" th:value="${user.getuRoleId()}" >
                <input type="hidden" id="rName" th:value="${user.getrName()}" >
                <a href="javascript:;">
                    <img th:src="@{/images/head.jpg}" class="layui-nav-img">
                    <span id="username" th:text="${user.getuName()}"></span>
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:editPwd();">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a th:href="@{/logout}">退出登录</a></li>
        </ul>
    </div>

    <!--左侧导航栏-->
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree" lay-filter="test" id="nav">
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:void(0);" id="workbench" class="skip">首页</a>
                </li>
            </ul>
        </div>
    </div>

    <!-- 内容主体区域 -->
    <div id="body" class="layui-body" style="background-color: #f5f5f5; bottom: 0px;">
        <iframe id="frame" frameborder="0" scrolling="yes" width="100%"
                src="workbench"></iframe>
    </div>

    <!--详情页面-->
    <div id="detail" style="position:absolute; z-index:999999; top:0; right:-100%;
		 transition:all linear 0.5s; width: 1050px; height: 648px;background-color:white;
		border: 1px gainsboro solid;box-shadow: gainsboro 0 0 5px 5px;margin-top: 2px;">

        <div style="float: left; margin: 5px;">
            <span style="font-size: 20px;">客户详情</span>
        </div>
        <div style="float: right; cursor: pointer;">
            <i onclick="javascript:document.getElementById('detail').style.right = '-100%';" class="layui-icon layui-icon-close" style="font-size: 25px;"></i>
        </div>
        <br>

        <!--head-->
        <!--<div class="layui-row layui-card" style="height: 120px;">
            <div class="layui-col-md9 layui-row">
                <div class="layui-col-space1">
                    &lt;!&ndash;客户信息&ndash;&gt;
                    <br />
                    <div class="layui-col-md4 layui-row">
                        <div class="layui-col-space1">
                            <div class="layui-col-md3" style="padding-top: 10px;"><img id="img" th:src="@{/images/boy.png}" width="40px" height="40px" /></div>
                            <div class="layui-col-md7">
                                <div class="layui-row" style="margin-bottom: 2px;">
                                    <div class="layui-col-md6"><span style="font-size: 20px;" name="cName"></span></div>
                                    <div class="layui-col-md3"><span style="float: right;margin-top: 3px;" name="cAge"></span></div>岁
                                </div>
                                <div style="margin-bottom: 2px;"><span name="cTel"></span></div>
                                <div>上次:<span id="hName"></span></div>
                            </div>
                        </div>
                    </div>
                    &lt;!&ndash;成交金额&ndash;&gt;
                    <div class="layui-col-md2">
                        <br><div><span id="successMoney"></span></div>
                        <div><span style="color: #9F9F9F;">成交金额</span></div>
                    </div>
                    &lt;!&ndash;已收金额&ndash;&gt;
                    <div class="layui-col-md2">
                        <br><span id="payMoney"></span><br />
                        <span style="color: #9F9F9F;">已交金额</span>
                    </div>
                    &lt;!&ndash;待收金额&ndash;&gt;
                    <div class="layui-col-md2">
                        <br><span id="waitMoney"></span><br />
                        <span style="color: #9F9F9F;">待交金额</span>
                    </div>
                    &lt;!&ndash;预交金额&ndash;&gt;
                    <div class="layui-col-md2">
                        <br><span name="clEarnest"></span><br />
                        <span style="color: #9F9F9F;">预交金额</span>
                    </div>
                </div>
            </div>
            <br />
            <div class="layui-col-md3">
                <div style="margin-bottom: 2px;">创建时间:<span id="cTime"></span></div>
                <div style="margin-bottom: 2px;">修改时间:<span id="editTime"></span></div>
                <div>负责人:<span id="principal"></span></div>
            </div>
        </div>-->
        <!--head-->
        <div class="layui-row layui-card" style="height:90px;">
            <!--信息区域-->
            <div class="layui-col-md10" style="margin-top: 5px;">
                <div class="layui-row">
                    <!--头像div--><!--客户电话div-->
                    <div class="layui-col-md3">
                        <div class="layui-col-md2" style="text-align: center;">
                            <img style="height: 30px; width: 30px;" th:src="@{/images/boy.png}" />
                        </div>
                        <div class="layui-col-md10" style="border-right: solid 1px #D5D5D5;">
                            <div class="layui-col-md8"><span name="cName"></span></div>
                            <div class="layui-col-md4"><span name="cAge"></span></div>
                            <div class="layui-col-md8"><span name="cTel"></span></div>
                            <div class="layui-col-md4"><span id="cType" style="font-weight:bold;"></span></div>
                        </div>
                    </div>
                    <!--近期预约div-->
                    <div class="layui-col-md3" style="margin-left: 8px; border-right: solid 1px #D5D5D5;">
                        <div>最近就诊：<span id="hName"></span></div>
                        <div>最近就诊时间：<span id="date"></span></div>
                    </div>
                    <!--客户责任归属-->
                    <div class="layui-col-md3" style="margin-left: 8px;border-right: solid 1px #D5D5D5;">
                        <div>微信：<span id="wx"></span></div>
                        <div>负责人：<span id="principal"></span></div>
                    </div>
                    <!--变动时间-->
                    <div class="layui-col-md2" style="margin-left: 8px;">
                        <div>创建时间：<span id="cTime"></span></div>
                        <div>修改时间：<span id="editTime"></span></div>
                    </div>
                </div>
            </div>
            <!--按钮-->
            <div class="layui-col-md2" style="margin-top: 10px;">
                <span class="budiv"><button class="layui-btn layui-btn-sm layui-btn-warm" onclick="appoint()">预约</button></span>
                <span class="budiv"><button class="layui-btn layui-btn-sm layui-btn-normal" onclick="success()">成交</button></span>
                <span class="budiv"><button class="layui-btn layui-btn-sm layui-btn-danger" onclick="refund()">退报名费</button></span>
            </div>
        </div>

        <!--body-->
        <div class="layui-row">
            <div class="layui-col-space10">
                <!--左侧成交信息、选项卡-->
                <div class="layui-col-md8">
                    <!--成交信息-->
                    <div class="layui-row" style="height: 70px; margin: 5px 0;">
                        <div class="layui-col-md2 layui-col-md-offset1">
                            成交金额<br><span class="baseColor" id="successMoney"></span>
                        </div>
                        <div class="layui-col-md2">
                            已交金额<br><span class="baseColor" id="payMoney"></span>
                        </div>
                        <div class="layui-col-md2">
                            待交金额<br><span class="baseColor" id="waitMoney"></span>
                        </div>
                        <div class="layui-col-md2">
                            抵扣状态<br><span class="baseColor" id="status"></span>
                        </div>
                        <div class="layui-col-md2">
                            退款金额<br><span class="baseColor" id="refund"></span>
                        </div>
                    </div>
                    <!--选项卡-->
                    <div class="layui-card" style="height: 420px;">
                        <div class="layui-tab">
                                <ul class="layui-tab-title">
                                    <li class="layui-this">基本信息</li>
                                    <li>操作记录</li>
                                    <li>预约记录</li>
                                    <li>成交记录</li>
                                </ul>
                                <div class="layui-tab-content">
                                    <!--基本信息-->
                                    <div class="layui-tab-item layui-show">
                                        <div class="layui-row" style="align-content: center;margin-left: 5px;">
                                            <div class="layui-col-md4 baseMargin">姓名：<span class="baseColor" name="cName"></span></div>
                                            <div class="layui-col-md4 baseMargin">性别：<span class="baseColor" id="cSex"></span></div>
                                            <div class="layui-col-md4 baseMargin">年龄：<span class="baseColor" name="cAge"></span></div>
                                            <div class="layui-col-md4 baseMargin">电话：<span class="baseColor" name="cTel"></span></div>
                                            <div class="layui-col-md4 baseMargin">来源：<span class="baseColor" id="clSource"></span></div>
                                            <div class="layui-col-md4 baseMargin">报名费：<span class="baseColor" id="clEntryFee"></span></div><br>
                                            <div class="layui-col-md4 baseMargin">报名项目：<span class="baseColor" id="clProject"></span></div>
                                            <div class="layui-col-md8 baseMargin">报名时间：<span class="baseColor" id="clPlaceTime"></span></div>
                                            <div class="layui-col-md12 baseMargin">备注：<span class="baseColor" id="clRemark"></span></div>
                                        </div>
                                    </div>
                                    <!--操作记录-->
                                    <div class="layui-tab-item" style="height: 380px;overflow-y: auto;">
                                        <ul class="layui-timeline" id="operating"></ul>
                                    </div>
                                    <!--预约记录-->
                                    <div class="layui-tab-item" style="height: 380px;overflow-y: auto;">
                                        <ul class="layui-timeline" id="appoint"></ul>
                                    </div>
                                    <!--成交记录-->
                                    <div class="layui-tab-item">
                                        <div style="height: 370px; overflow-y: auto;">
                                            <table class="layui-hide" id="successTab" lay-filter="successTab"></table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <!--右侧跟进-->
                <div class="layui-col-md4">
                    <div class="layui-card" style="height: 518px;overflow-y: auto;">
                        <!--表单-->
                        <div style="border:1px solid #f2f2f2;height: 285px;">
                            <div class="layui-form layui-form-item" style="margin: 15px 15px 0 15px;">
                                <div class="layui-input-inline layui-form">
                                    <input type="radio" name="followInput" value="1" title="门诊反馈" checked>
                                    <input type="radio" name="followInput" value="2" title="客户回访">
                                </div>
                                <br><br><br>
                                <input class="layui-input" id="fTime" autocomplete="off"
                                       placeholder="跟进时间" readonly>
                            </div>
                            <div class="layui-form-item layui-form-text" style="margin-top: 15px; margin-left: 15px; margin-right: 15px;">
                                <input type="hidden" id="cId">
                                <input type="hidden" id="clId">
                                <input type="hidden" id="clUId">
                                <input type="hidden" id="hId">
                                <input type="hidden" id="sAId">
                                <textarea id="content" placeholder="请输入内容" class="layui-textarea" style="border-color: #FFFFFF;"></textarea>
                            </div>
                            <div class="layui-form-item" style="margin-top: 15px;text-align: center;">
                                <button class="layui-btn layui-btn-sm" onclick="saveFollow()">提交</button>
                                <button class="layui-btn layui-btn-sm layui-btn-primary" onclick="clean()">清空</button>
                            </div>
                        </div>
                        <!--跟进记录-->
                        <div style="margin-top: 20px;">
                            <ul class="layui-timeline" id="follow">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>

<script type="text/html" id="sBarDemo">
    <a class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>
    <a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="gathering">收款</a>
    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="refund">退款</a>
    <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="success">成交</a>
</script>

<script>

    var $ = layui.jquery
        ,element = layui.element //Tab的切换功能，切换事件监听等，需要依赖element模块
        ,layer = layui.layer
        ,table = layui.table
        ,form = layui.form
        ,laydate = layui.laydate

    //获取用户编号和用户名
    var uId = $("#uId").val();
    var uName = $("#uName").val();
    var uRoleId = $("#uRoleId").val();
    var rName = $("#rName").val();

    //把用户编号和用户名存到sessionStorage
    sessionStorage.setItem('uId', uId);
    sessionStorage.setItem('uName', uName);
    sessionStorage.setItem('uRoleId', uRoleId);
    sessionStorage.setItem('rName', rName);

    //设置iframe框架高度
    $(document).ready(function(){
        var height = $(window).height(); //浏览器当前窗口可视区域高度
        if ((height-65) < 590){
            $("#frame").height(590);
        } else {
            $("#frame").height(height - 65);
        }
    })

    //根据客户名称或者客户电话查询客户
    function getList(search, page){
        if(search != ""){
            $.post("/customer/queryCByCNameOrCTel", {rName:rName, uId:uId, key:search, page:page}, function (data) {
                var html = "";
                for (i = 0; i < data.data.length; i++){
                    html += "<div class='list' onclick='goDetail(&quot;"+data.data[i].cId+"&quot;,&quot;"+data.data[i].clId+"&quot;,&quot;"+data.data[i].clUId+"&quot;);'>"+data.data[i].cName+"/"+data.data[i].cTel+"</div>";
                }
                //赋值
                $("#data").html(html);
                $("#count").val(data.count);
            });
            $("#list").attr("style", "background-color: #383d49;height: auto; display: block;");
        }else{
            //赋值
            $("#data").html("");
            $("#list").attr("style", "background-color: #383d49;height: auto; display: none;");
        }
    }

    //给搜索框添加input事件
    $("#search").on("input", function () {
        var search = $("#search").val();
        var page = $("#page").val();
        getList(search, page);
    });

    //给搜索框添加onfocus事件
    $("#search").on("focus", function(){
        var search = $("#search").val();
        if(search != ""){
            $("#list").attr("style", "background-color: #383d49;height: auto; display: block;");
        }
    });

    //上一页
    function previousPage() {
        //获取当前页码
        var page = $("#page").val();
        //获取总条数
        var count = $("#count").val();
        if (count != 0){
            if (eval(page+"-"+1) <= 0){
                layer.msg('已经是第一页');
            } else {
                var search = $("#search").val();
                getList(search, eval(page+"-"+1));
                //给页码赋值
                $("#page").val(eval(page+"-"+1));
            }
        } else {
            layer.msg('没有数据');
        }
    }

    //下一页
    function nextPage() {
        //获取当前页码
        var page = $("#page").val();
        //获取总条数
        var count = $("#count").val();
        if (count != 0){
            if (eval(page+"+"+1) > count){
                layer.msg('已经是最后一页');
            } else {
                var search = $("#search").val();
                getList(search, eval(page+"+"+1));
                //给页码赋值
                $("#page").val(eval(page+"+"+1));
            }
        } else {
            layer.msg('没有数据');
        }
    }

    //隐藏列表
    function hideList() {
        $("#list").attr("style", "background-color: #383d49;height: auto; display: none;");
    }

    //时间控件
    laydate.render({
        elem: '#fTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
        ,value: new Date() //默认时间
        ,btns: ['now', 'confirm'] //工具按钮
    });

    //新增跟进记录
    function saveFollow() {
        //客户编号
        var cId = $("#cId").val();
        //线索编号
        var clId = $("#clId").val();
        //负责人编号
        var clUId = $("#clUId").val();
        var fTypeId;
        var ftType;
        //跟进类型编号、跟进类型
        if ($("[name=followInput]")[0].checked){
            fTypeId = $("[name=followInput]")[0].value;
            ftType = $("[name=followInput]")[0].title;
        } else if ($("[name=followInput]")[1].checked){
            fTypeId = $("[name=followInput]")[1].value;
            ftType = $("[name=followInput]")[1].title;
        }
        //跟进内容
        var fContent = $("#content").val();
        if (fContent != "" && fContent != null && fContent.trim() != "" && fContent.trim() != null){
            //跟进时间
            var fTime = $("#fTime").val();
            //新增跟进内容
            $.post("/follow/saveFollow"
                ,{uId:uId, cId:cId, fClId:clId, fTypeId:fTypeId, clUId:clUId,
                    ftType:ftType, fContent:fContent, fTime: fTime}
                ,function (data) {
                    layer.msg(data.msg, {time: 500}, function () {
                        $("#content").val("");
                        var time = new Date();
                        var fTime = time.getFullYear()+"-"+eval(time.getMonth()+"+"+1)+"-"+
                            time.getDate()+" "+time.getHours()+":"+
                            time.getMinutes()+":"+time.getSeconds();
                        $("#fTime").val(fTime);
                        goDetail(cId, clId, clUId);
                    });
                }
            )
        } else {
            layer.msg("请填写跟进内容！")
        }
    }

    //清空跟进内容
    function clean() {
        $("#content").val("");
    }

    //预约
    function appoint() {
        //客户编号
        var cId = $("#cId").val();
        //线索编号
        var clId = $("#clId").val();
        //负责人编号
        var clUId = $("#clUId").val();
        //客户姓名
        var cName = $("[name=cName]")[0].innerText;
        //客户状态
        var cType = $("#cType").text();
        //弹出预约页面
        layer.open({
            type: 2, //层类型，iframe
            title: '新增预约客户',
            content: ['/appointmentsave?clId='+clId+'&cName='+cName+'&atType=普通预约'],
            area: ['450px', '450px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var aClId = $(body).find("#aClId").val();
                var aTime = $(body).find("#aTime").val();
                var aHId = $(body).find("#aHId").val();
                var atType = $(body).find("#atType").val();
                if (aTime != '') {
                    $.post("/appointment/saveAppointment", {uId:uId, uName:uName, aClId:aClId, aTime:aTime,
                            aHId:aHId, atType:atType},
                        function (obj) {
                            layer.msg(obj.msg, {time: 500}, function () {
                                layer.close(index);
                                goDetail(cId, clId, clUId);
                            });
                        }
                    );
                } else {
                    layer.msg('请输入预约时间');
                }
            },
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    }

    //成交
    function success() {
        //客户编号
        var cId = $("#cId").val();
        //线索编号
        var clId = $("#clId").val();
        //负责人编号
        var clUId = $("#clUId").val();
        //客户姓名
        var cName = $("[name=cName]")[0].innerText;
        //门诊编号
        var hId = $("#hId").val();
        //门诊名称
        var hName = $("#hName").text();
        //报名费
        var clEntryFee = $("#clEntryFee").text();
        //预约编号
        var sAId = $("#sAId").val();
        if (sAId == ""){
            layer.msg("未预约的客户不能成交，请先预约！")
        } else {
            //弹出成交页面
            layer.open({
                type: 2, //层类型，iframe
                title: '新增成交客户',
                content: ['/successsave?cId='+cId+'&clId='+clId+'&sAId='+sAId+
                '&cName='+cName+'&hId='+hId+'&hName='+hName+'&clEntryFee='+clEntryFee],
                area: ['500px', '450px'],
                resize: false,
                btn: '确定',
                btn1: function (index, layero) {
                    var body = layer.getChildFrame('body', index);
                    //获取值
                    var cId = $(body).find("#cId").val();
                    var cName = $(body).find("#cName").val();
                    var clId = $(body).find("#clId").val();
                    var sAId = $(body).find("#sAId").val();
                    var sHId = $(body).find("#sHId").val();
                    var sMessage = $(body).find("#sMessage").val();
                    var isDeduction = "";
                    if ($(body).find("[name=clEntryFee]")[1].checked){
                        isDeduction = $(body).find("#isDeduction").val();
                    }
                    var sSum = $(body).find("#sSum").val();
                    var sPaysum = $(body).find("#sPaysum").val();
                    var sRemark = $(body).find("#sRemark").val();
                    if (sSum != '' && sSum.trim() != '') {
                        //声明格式是否正确
                        var verify = true;
                        //验证成交金额
                        if(isNaN(sSum) || sSum <= 0){
                            layer.msg("成交金额必须是大于零的数值");
                            verify = false;
                            return;
                        }
                        //验证支付金额
                        if(isNaN(sPaysum) || sPaysum <= 0 || parseFloat(sPaysum) > parseFloat(sSum)){
                            layer.msg("支付金额必须是大于零小于成交金额的数值");
                            verify = false;
                            return;
                        }
                        if(verify) {
                            $.post("/success/saveSuccess", {
                                    uId: uId,
                                    uName:uName,
                                    cName:cName,
                                    cId: cId,
                                    clId: clId,
                                    sAId: sAId,
                                    sHId: sHId,
                                    sMessage: sMessage,
                                    isDeduction: isDeduction,
                                    sSum: sSum.trim(),
                                    sPaysum: sPaysum.trim(),
                                    sRemark: sRemark
                                },
                                function (obj) {
                                    layer.msg(obj.msg, {time: 500}, function () {
                                        layer.close(index);
                                        goDetail(cId, clId, clUId);
                                    });
                                }
                            );
                        }
                    } else {
                        layer.msg('请填写带星号的必填项');
                    }
                },
                cancel: function(index, layero){
                    layer.close(index);
                }
            });
        }
    }

    //退报名费
    function refund() {
        //客户编号
        var cId = $("#cId").val();
        //客户编号
        var cName = $("#cName").val();
        //线索编号
        var clId = $("#clId").val();
        //负责人编号
        var clUId = $("#clUId").val();
        //报名费
        var clEntryFee = $("#clEntryFee").text();
        if (clEntryFee == "null" || clEntryFee == "" || clEntryFee.indexOf("已抵扣")!=-1 || clEntryFee.indexOf("已退还")!=-1){
            layer.msg("该客户不可退报名费");
        } else {
            layer.confirm('确定退报名费吗？', {icon: 3, title:'提示'}, function(index){
                $.get("/clue/refundClEntryFee", {uId: uId, uName: uName, cId: cId,
                        cName: cName, clId: clId, clEntryFee: clEntryFee},
                    function (obj) {
                        layer.msg(obj.msg, {time: 500}, function () {
                            layer.close(index);
                            goDetail(cId, clId, clUId);
                        });
                    }
                );
            });
        }
    }

    //表格折叠方法
    function collapseTable(options) {
        var trObj = options.elem;
        if (!trObj) return;
        var accordion = options.accordion,
            success = options.success,
            content = options.content || '';
        var tableView = trObj.parents('.layui-table-view'); //当前表格视图
        var id = tableView.attr('lay-id'); //当前表格标识
        var index = trObj.data('index'); //当前行索引
        var leftTr = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + index + '"]'); //左侧当前固定行
        var rightTr = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + index + '"]'); //右侧当前固定行
        var colspan = trObj.find('td').length; //获取合并长度
        var trObjChildren = trObj.next(); //展开行Dom
        var indexChildren = id + '-' + index + '-children'; //展开行索引
        var leftTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + indexChildren + '"]'); //左侧展开固定行
        var rightTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + indexChildren + '"]'); //右侧展开固定行
        var lw = leftTr.width() + 15; //左宽
        var rw = rightTr.width() + 15; //右宽
        //不存在就创建展开行
        if (trObjChildren.data('index') != indexChildren) {
            //装载HTML元素
            var tr = '<tr data-index="' + indexChildren + '"><td colspan="' + colspan + '"><div style="height: auto;padding-left:' + lw + 'px;padding-right:' + rw + 'px" class="layui-table-cell">' + content + '</div></td></tr>';
            trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
            var fixTr = '<tr data-index="' + indexChildren + '"></tr>';//固定行
            leftTrChildren = leftTr.after(fixTr).next().hide(); //左固定
            rightTrChildren = rightTr.after(fixTr).next().hide(); //右固定
        }
        //展开|折叠箭头图标
        trObj.find('td[lay-event="collapse"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
        //显示|隐藏展开行
        trObjChildren.toggle();
        //开启手风琴折叠和折叠箭头
        if (accordion) {
            trObj.siblings().find('td[lay-event="collapse"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
            trObjChildren.siblings('[data-index$="-children"]').hide(); //展开
            rightTrChildren.siblings('[data-index$="-children"]').hide(); //左固定
            leftTrChildren.siblings('[data-index$="-children"]').hide(); //右固定
        }
        success(trObjChildren, indexChildren); //回调函数
        heightChildren = trObjChildren.height(); //展开高度固定
        rightTrChildren.height(heightChildren + 115).toggle(); //左固定
        leftTrChildren.height(heightChildren + 115).toggle(); //右固定
    }

    //弹出详情页面
    function goDetail(cId, clId, clUId) {

        //隐藏搜索
        $("#list").attr("style", "background-color: #383d49;height: auto; display: none;");

        //显示详情页面
        document.getElementById("detail").style.right = 0;
        document.getElementById("detail").style.display = "block";

        //赋值
        $("#cId").val(cId);
        $("#clId").val(clId);
        $("#clUId").val(clUId);

        //根据线索编号查询信息并赋值
        $.get("/customer/detail", {clId:clId}, function (data) {
            //姓名
            var cNameList = $("[name=cName]");
            for(var i = 0; i < cNameList.length; i++){
                cNameList[i].innerText = data.customer.cName;
            }
            //年龄
            var cAgeList = $("[name=cAge]");
            for(var i = 0; i < cAgeList.length; i++){
                cAgeList[i].innerText = data.customer.cAge;
            }
            //电话
            var cTelList = $("[name=cTel]");
            for(var i = 0; i < cTelList.length; i++){
                cTelList[i].innerText = data.customer.cTel;
            }
            //客户状态
            $("#cType").text(data.customer.cType);
            //最近就诊
            $("#hName").text(data.hName);
            //最近就诊时间
            var date = data.date;
            date = date.substring(0, 10);
            $("#date").text(date);
            //微信
            $("#wx").text(data.customer.wx);
            //负责人
            $("#principal").text(data.customer.uName);
            //创建时间
            var cTime = data.customer.cTime;
            cTime = cTime.substring(0, 10);
            $("#cTime").text(cTime);
            //修改时间
            var editTime = data.editTime;
            editTime = editTime.substring(0, 10);
            $("#editTime").text(editTime);
            //报名费
            $("#clEntryFee").text(data.customer.clEntryFee);
            //成交金额
            $("#successMoney").text(data.successMoney);
            //已交金额
            $("#payMoney").text(data.payMoney);
            //待交金额
            $("#waitMoney").text(data.waitMoney);
            //抵扣状态
            $("#status").text(data.status);
            //退款金额
            $("#refund").text(data.refund);
            //性别
            $("#cSex").text(data.customer.cSex);
            //来源
            $("#clSource").text(data.customer.clSource);
            //来源
            $("#clEntryFee").text(data.customer.clEntryFee);
            //报名项目
            $("#clProject").text(data.customer.clProject);
            //报名时间
            $("#clPlaceTime").text(data.customer.clPlaceTime);
            //备注
            $("#clRemark").text(data.customer.clRemark);
            //预约编号
            $("#sAId").val(data.sAId);
            //门诊编号
            $("#hId").val(data.hId);
        });

        //预约记录
        $.get("/appointment/queryAToDetail", {clId:clId}, function (data) {
            var html = "";
            $.each(data.data, function (index, item) {
                html += "<li class='layui-timeline-item'>" +
                            "<i class='layui-icon layui-timeline-axis'>&#xe63f;</i>" +
                            "<div class='layui-timeline-content layui-text'>" +
                                "<div class='layui-card' style='background-color: aliceblue;'>" +
                                    "<div><span style='font-size: 20px;'>"+item.aTime+"【"+item.aType+"】</span></div>" +
                                    "<div style='margin-top: 5px;'>预约项目："+item.clProject+"</div>" +
                                    "<div style='margin-top: 5px;'>预约人："+item.uName+"</div>" +
                                    "<div style='margin-top: 5px;'>预交金额："+item.clEntryFee+"</div>" +
                                    "<div style='margin-top: 5px;'>" +
                                        "<div style='text-align: left'>预约门诊："+item.hName+"</div>" +
                                        "<div style='text-align: right'>创建时间："+item.aCreateTime+"</div>" +
                                    "</div"+
                                "</div>" +
                            "</div>" +
                        "</li>";
            });
            $("#appoint").html(html);
        });

        //操作记录
        $.get("/operating/queryOpByCId", {cId:cId}, function (data) {
            var html = "";
            $.each(data.data, function (index, item) {
                html += "<li class='layui-timeline-item'>" +
                    "<i class='layui-icon layui-timeline-axis'>&#xe63f;</i>" +
                    "<div class='layui-timeline-content layui-text'>" +
                    "<div class='layui-card' style='background-color: aliceblue;'>" +
                    "<div><span style='font-size: 20px;'>"+item.opTime+"</span></div>" +
                    "<div style='margin-top: 5px;'>操作用户："+item.uName+"</div>" +
                    "<div style='margin-top: 5px;'>操作名称："+item.opName+"</div>" +
                    "<div style='margin-top: 5px;'>操作内容："+item.opContent+"</div>" +
                    "</div>" +
                    "</div>" +
                    "</li>";
            });
            $("#operating").html(html);
        });

        //成交记录
        table.render({
            elem: '#successTab'
            ,url: '/success/querySByClId?clId='+clId //访问路径
            ,skin : 'line'
            ,cols: [ //表头
                [
                    {width: 10, title: '', align:'center', event: 'collapse',
                        templet: function(data) {
                            return "<div style='position: relative; cursor:pointer;'>" +
                                "<i	style='left: 0px;' lay-tips='展开' class='layui-icon layui-colla-icon layui-icon-right' lay-event='collapse'></i>" +
                                "</div>";
                        }
                    }
                    ,{field: 'hName', minWidth: 150, title: '成交门诊', align:'center'}
                    ,{field: 'sMessage', minWidth: 180, title: '成交信息', align:'center'}
                    ,{field: 'sSum', minWidth: 120, title: '成交金额', align:'center'}
                    ,{field: 'sPaysum', minWidth: 120, title: '支付金额', align:'center'}
                    ,{field: 'sRemark', minWidth: 180, title: '备注', align:'center'}
                    ,{field: 'sTime', minWidth: 200, title: '成交时间', align:'center'}
                    ,{fixed: 'right', minWidth: 220, title: '操作', toolbar: '#sBarDemo', align:'center'}
                ]
            ]
        });

        //监听行工具事件
        table.on('tool(successTab)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data //获得当前行数据
                ,layEvent = obj.event; //获得 lay-event 对应的值
            if (obj.event === 'collapse') {
                var trObj = layui.$(this).parent('tr'); //当前行
                var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                var content = '<table></table>' //内容
                //表格行折叠方法
                collapseTable({
                    elem: trObj,
                    accordion: accordion,
                    content: content,
                    success: function(trObjChildren, index) { //成功回调函数
                        //trObjChildren 展开tr层DOM
                        //index 当前层索引
                        trObjChildren.find('table').attr("id", index);
                        table.render({
                            elem: "#" + index
                            ,url: '/payrecord/queryPByPaySId?paySId=' + data.sId
                            ,cols: [
                                [
                                    {field: 'payId', minWidth: 120, title: 'ID', sort: true, align:'center'}
                                    ,{field: 'cName', minWidth: 120, title: '客户名称', align:'center'}
                                    ,{field: 'paySum', minWidth: 120, title: '支付金额', sort: true, align:'center'}
                                    ,{field: 'payTime', minWidth: 200, title: '支付时间', sort: true, align:'center'}
                                    ,{field: 'payRemark', minWidth: 200, title: '支付备注', align:'center'}
                                    ,{field: 'payType', minWidth: 120, title: '支付类型', align:'center'}
                                ]
                            ]
                        });
                    },

                });
            } else if (obj.event === 'edit'){
                //弹出编辑页面
                layer.open({
                    type: 2, //层类型，iframe
                    title: '编辑成交客户',
                    content: ['/success/querySBySId?sId='+data.sId+'&cId='+data.cId],
                    area: ['450px', '450px'],
                    resize: false,
                    btn: '确定',
                    btn1: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        //获取值
                        var sId = $(body).find("#sId").val();
                        var cId = $(body).find("#cId").val();
                        var cName = $(body).find("#cName").val();
                        var sAId = $(body).find("#sAId").val();
                        var sHId = $(body).find("#sHId").val();
                        var sMessage = $(body).find("#sMessage").val();
                        var sSum = $(body).find("#sSum").val();
                        var sRemark = $(body).find("#sRemark").val();
                        if (sSum != '' && sSum.trim() != '') {
                            //声明格式是否正确
                            var verify = true;
                            if (isNaN(sSum) || sSum <= 0 || parseFloat(sSum) < parseFloat(data.sPaysum)) {
                                layer.msg("成交金额必须是大于支付金额的数值");
                                verify = false;
                                return;
                            }
                            if (verify) {
                                $.post("/success/editSBySId",
                                    {
                                        uId: uId, sId:sId, cId:cId, sAId: sAId, sHId: sHId,
                                        sMessage: sMessage, sSum: sSum,
                                        sRemark: sRemark, uName: uName, cName: cName
                                    },
                                    function (obj) {
                                        layer.msg(obj.msg, {time: 500}, function () {
                                            layer.close(index);
                                            goDetail(cId, clId, clUId);
                                        });
                                    }
                                );
                            }
                        } else {
                            layer.msg('请填写带星号的必填项');
                        }
                    },
                    cancel: function (index, layero) {
                        layer.close(index);
                    }
                });
            } else if (obj.event === 'gathering'){
                if (parseFloat(data.sSum) == parseFloat(data.sPaysum)){
                    layer.msg('该客户全款已付全款');
                } else {
                    //尾款
                    var wk = eval(data.sSum + "-" + data.sPaysum);
                    //弹出收款页面
                    layer.open({
                        type: 2, //层类型，iframe
                        title: '收款',
                        content: ['/payrecordsave?sId='+data.sId+'&cId='+data.cId+'&cName='+data.cName+'&wk='+wk],
                        area: ['500px', '500px'],
                        resize: false,
                        btn: '确定',
                        btn1: function (index, layero) {
                            var body = layer.getChildFrame('body', index);
                            //获取值
                            var cId = $(body).find("#cId").val();
                            var cName = $(body).find("#cName").val();
                            var paySId = $(body).find("#paySId").val();
                            var wk = $(body).find("#wk").val();
                            var paySum = $(body).find("#paySum").val();
                            var payRemark = $(body).find("#payRemark").val();
                            var payTypeId = $(body).find("#payTypeId").val();
                            if (paySum != '' && paySum.trim() != '') {
                                if (!isNaN(paySum) && paySum >= 0){
                                    if (parseFloat(wk) < parseFloat(paySum)){
                                        layer.msg("支付金额不能大于尾款，尾款为"+wk);
                                    } else {
                                        $.post("/payrecord/savePayrecord",
                                            {uId: uId, uName: uName, cId: cId, cName: cName, paySId: paySId, paySum: paySum, payRemark:payRemark, payTypeId: payTypeId},
                                            function (obj) {
                                                layer.msg(obj.msg, {time: 500}, function () {
                                                    layer.close(index);
                                                    goDetail(cId, clId, clUId);
                                                });
                                            }
                                        );
                                    }
                                } else {
                                    layer.msg('支付金额必须是大于等于零的数值');
                                }
                            } else {
                                layer.msg('请填写支付金额');
                            }
                        },
                        cancel: function (index, layero) {
                            layer.close(index);
                        }
                    });
                }
            } else if (obj.event === 'refund'){
                //成交金额
                var sSum = data.sSum;
                //支付金额
                var sPaysum = data.sPaysum;
                layer.open({
                    type: 2, //层类型，iframe
                    title: '退款',
                    content: ['/refundMoney?sId='+data.sId+'&cId='+data.cId+
                    '&cName='+data.cName+'&sSum='+sSum+'&sPaysum='+sPaysum],
                    area: ['500px', '500px'],
                    resize: false,
                    btn: '确定',
                    btn1: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        //获取值
                        var cId = $(body).find("#cId").val();
                        var cName = $(body).find("#cName").val();
                        var paySId = $(body).find("#paySId").val();
                        var refundsSum = $(body).find("#refundsSum").val();
                        var refundsPaysum = $(body).find("#refundsPaysum").val();
                        var payRemark = $(body).find("#payRemark").val();
                        var payTypeId = $(body).find("#payTypeId").val();
                        //声明格式是否正确
                        var verify = true;
                        //验证成交退款金额
                        if (refundsSum != '' && refundsSum.trim() != '') {
                            if (!isNaN(refundsSum) && refundsSum >= 0) {
                                if (parseFloat(sSum) < parseFloat(refundsSum)) {
                                    layer.msg("成交退款金额不能大于成交金额，成交金额为" + sSum);
                                    verify = false;
                                    return;
                                } else {
                                    refundsSum = eval(sSum + "-" + refundsSum);
                                }
                            } else {
                                layer.msg('成交退款金额必须是大于零的数值');
                                verify = false;
                                return;
                            }
                        } else {
                            layer.msg('成交退款金额不能为空');
                            verify = false;
                            return;
                        }
                        //退款金额
                        var paySum;
                        //验证支付退款金额
                        if (refundsPaysum != '' && refundsPaysum.trim() != '') {
                            if (!isNaN(refundsPaysum) && refundsPaysum >= 0) {
                                if (parseFloat(sPaysum) < parseFloat(refundsPaysum)) {
                                    layer.msg("支付退款金额不能大于支付金额，支付金额为" + sPaysum);
                                    verify = false;
                                    return;
                                } else {
                                    paySum = refundsPaysum;
                                    refundsPaysum = eval(sPaysum + "-" + refundsPaysum);
                                }
                            } else {
                                layer.msg('支付退款金额必须是大于等于零的数值');
                                verify = false;
                                return;
                            }
                        } else {
                            layer.msg('支付退款金额不能为空');
                            verify = false;
                            return;
                        }
                        if (verify){
                            $.get("/success/refundMoney",
                                {uId: uId, uName: uName, cId: cId, cName: cName, paySId: paySId, refundsSum: refundsSum,
                                    refundsPaysum:refundsPaysum, payRemark:payRemark,
                                    payTypeId: payTypeId, paySum:paySum},
                                function (obj) {
                                    layer.msg(obj.msg, {time: 500}, function () {
                                        layer.close(index);
                                        goDetail(cId, clId, clUId);
                                    });
                                }
                            );
                        }
                    },
                    cancel: function (index, layero) {
                        layer.close(index);
                    }
                });
            } else if(layEvent === 'success'){
                //弹出成交页面
                layer.open({
                    type: 2, //层类型，iframe
                    title: '新增成交客户',
                    content: ['/successsave?cId='+data.cId+'&clId='+data.clId+'&sAId='+data.sAId+
                    '&cName='+data.cName+'&hId='+data.hId+'&hName='+data.hName+'&clEntryFee='+data.clEntryFee],
                    area: ['500px', '450px'],
                    resize: false,
                    btn: '确定',
                    btn1: function (index, layero) {
                        var body = layer.getChildFrame('body', index);
                        //获取值
                        var cId = $(body).find("#cId").val();
                        var cName = $(body).find("#cName").val();
                        var clId = $(body).find("#clId").val();
                        var sAId = $(body).find("#sAId").val();
                        var sHId = $(body).find("#sHId").val();
                        var sMessage = $(body).find("#sMessage").val();
                        var isDeduction = "";
                        if ($(body).find("[name=clEntryFee]")[1].checked){
                            isDeduction = $(body).find("#isDeduction").val();
                        }
                        var sSum = $(body).find("#sSum").val();
                        var sPaysum = $(body).find("#sPaysum").val();
                        var sRemark = $(body).find("#sRemark").val();
                        if (sSum != '' && sSum.trim() != '') {
                            //声明格式是否正确
                            var verify = true;
                            //验证成交金额
                            if(isNaN(sSum) || sSum <= 0){
                                layer.msg("成交金额必须是大于零的数值");
                                verify = false;
                                return;
                            }
                            //验证支付金额
                            if(isNaN(sPaysum) || sPaysum <= 0 || parseFloat(sPaysum) > parseFloat(sSum)){
                                layer.msg("支付金额必须是大于零小于成交金额的数值");
                                verify = false;
                                return;
                            }
                            if(verify) {
                                $.post("/success/saveSuccess", {
                                        uId: uId,
                                        uName:uName,
                                        cName:cName,
                                        cId: cId,
                                        clId: clId,
                                        sAId: sAId,
                                        sHId: sHId,
                                        sMessage: sMessage,
                                        isDeduction: isDeduction,
                                        sSum: sSum.trim(),
                                        sPaysum: sPaysum.trim(),
                                        sRemark: sRemark
                                    },
                                    function (obj) {
                                        layer.msg(obj.msg, {time: 500}, function () {
                                            layer.close(index);
                                            goDetail(cId, clId, clUId);
                                        });
                                    }
                                );
                            }
                        } else {
                            layer.msg('请填写带星号的必填项');
                        }
                    },
                    cancel: function(index, layero){
                        layer.close(index);
                    }
                });
            }
        });

    }

    //跳转页面
    function skip(id) {
        $("#frame").attr("src", id);
    }

    //修改密码
    function editPwd() {
        var ix = layer.open({
            type: 2, //层类型，iframe
            title: '修改密码',
            content: ['/goEditPwd'],
            area: ['400px', '300px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var oldPwd = $(body).find("#oldPwd").val();
                var newPwd = $(body).find("#newPwd").val();
                var newPwd2 = $(body).find("#newPwd2").val();
                //判断当前密码是否输入正确
                $.post("/user/verifyPwd", {uId:uId, uPassword:oldPwd}, function (data) {
                    if (data){
                        if (newPwd.length >=6 && newPwd.length <=16 && newPwd2.length >=6 && newPwd2.length <=16){
                            if (newPwd == newPwd2){
                                $.post("/user/editPwd", {uId:uId, uPassword:newPwd}, function (data) {
                                    layer.close(ix);
                                    layer.msg("密码已修改，请重新登录", {time: 1000}, function () {
                                        location.href = "/loginPage";
                                    });
                                })
                            } else {
                                layer.msg("两次密码不一致");
                            }
                        } else {
                            layer.msg("密码长度为6到16个字符");
                        }
                    } else {
                        layer.msg("当前密码输入错误");
                    }
                })
            },
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    }

    //获取菜单列表
    $.get("/authority/queryRMByRId?rId="+uRoleId, function (obj) {
        //定义内容
        var html = "";
        var parent = obj.data;
        var child = obj.data;
        for(index in parent){
            if(parent[index].mParentId == 0){
                html += "<li class='layui-nav-item layui-nav-itemed'>" +
                    "       <a class='' href='javascript:;'>"+parent[index].mName+"</a>" +
                    "       <dl class='layui-nav-child'>";
                for(i in child){
                    if(child[i].mParentId == parent[index].rmMId){
                        html += "<dd>" +
                            "   <a href='javascript:;' id='"+child[i].mUrl+"' class='skip'>"+child[i].mName+"</a>" +
                            "</dd>"
                    }
                }
                html += "   </dl>" +
                    "</li>";
            }
        }

        //给导航条赋值
        $("#nav").append(html);
        //重新渲染元素
        element.init();

        //绑定跳转事件
        $(".skip").on("click", function () {
            skip(this.id);
        })

    });

</script>
</body>
</html>