<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<body>
<div class="layui-container" style="width:600px;">

    <div>
        <h3 style="font-weight: bold">
            <a th:href="@{/customerlist}">
                <span class="glyphicon glyphicon-home"></span>首页
            </a>
            &nbsp;&gt;&nbsp;
            <a disabled="disabled">成交客户管理</a>
            &nbsp;&gt;&nbsp;
            <a disabled="disabled">新增成交客户</a>
        </h3>
    </div>
    <br><br>

    <div style="float: left">
        <button class="layui-btn" onclick="javascript:location.href = document.referrer;">
            返回
        </button>
    </div>
    <br>
    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">负责人</label>
            <div class="layui-input-block">
                <input type="hidden" name="csucid" th:value="${ct.cid}">
                <input type="hidden" name="csuuspid" th:value="${ct.cuspid}">
                <input class="layui-input" id="csuusp" name="csuusp"
                       autocomplete="off" th:value="${ct.cusp}" readonly />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交门诊</label>
            <div class="layui-input-block">
                <input class="layui-input" id="csuhospital" name="csuhospital"
                       th:value="${ct.chospital}" autocomplete="off" readonly />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交主诉</label>
            <div class="layui-input-block">
                <input class="layui-input" id="csumajor" name="csumajor"
                       autocomplete="off" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">主诉金额</label>
            <div class="layui-input-block">
                <input class="layui-input" id="csumajorsum" name="csumajorsum"
                       autocomplete="off" />
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交其他</label>
            <div class="layui-input-block">
                <input class="layui-input" id="csuelse" name="csuelse"
                       autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">其他金额</label>
            <div class="layui-input-block">
                <input class="layui-input" id="csuelsesum" name="csuelsesum"
                       autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">总成交金额</label>
            <div class="layui-input-block">
                <input class="layui-input" id="csusum" name="csusum"
                       autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">客户已交金额</label>
            <div class="layui-input-block">
                <input class="layui-input" id="csupayment" name="csupayment"
                       autocomplete="off"/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交客户门诊反馈</label>
            <div class="layui-input-block">
                <textarea class="layui-input" id="csufeedback" name="csufeedback"
                          autocomplete="off" style="width: 700px; height: 150px;"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
            </div>
        </div>
    </form>
</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //加载form、laydate
    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,$ = layui.jquery
            ,layer = layui.layer;

        // 保存
        form.on('submit(submit)', function (data) {
            data = data.field;
            if (data.cname == '') {
                layer.msg('请输入姓名');
                return false;
            }
            if (data.ctel == '') {
                layer.msg('电话不能为空');
                return false;
            }
            if (data.cproject == '') {
                layer.msg('报名项目不能为空');
                return false;
            }

            $.ajax({
                type: 'POST',
                url: '../success/transaction',
                dataType: "JSON",
                data: JSON.stringify(data),
                contentType: "application/json",
                success: function (obj) {
                    if (obj.code == 0) {
                        layer.msg(obj.msg, function () {
                            window.location = 'customerlist';
                        });
                    } else {
                        layer.msg(obj.msg)
                    }
                }
            })

            return false;
        });

    });

</script>
</body>
</html>