<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>工作台</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
    <style>
        .number{color: #01AAED; font-size: 30px;}
        .indexFont{font-size: 20px;}
        .css1 {
            width: 90%;
            height: 60px;
            background: #f1f5ff;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            margin-bottom: 8px;
            cursor: pointer;
        }
        .l_font{
            font-size: 12px;
            color: #333;
        }
        .r_font{
            font-size: 14px;
            color: #4f7afd;
        }
        input:hover{cursor: pointer;}
        a:hover{cursor: pointer;}
        body .demo-class .layui-layer-btn .layui-layer-btn1{
            border-color: #1E9FFF;
            background-color: #1E9FFF;
            color: #fff;
        }
        body .demo-class .layui-layer-btn .layui-layer-btn2{
            border-color: #1E9FFF;
            background-color: #1E9FFF;
            color: #fff;
        }
        body .font-topdiv{
            font-size: 10px;
            color: #969799;
        }
        body .font-div{
            font-size: 28px;
        }
        body .font-bottomdiv{
            font-size: 12px;
            color: #666;
        }
    </style>
</head>
<body bgcolor="#F0F0F0" style='overflow:scroll;overflow-x:hidden'>

    <br />
    <div class="layui-fluid">

        <!--快捷按钮-->
        <div class="layui-card layui-row" style="height: 100px; display: none;" id="admin">
            <div class="layui-col-md1">&nbsp;</div>
            <div class="layui-col-md2" align="center" style="margin-top: 5px;">
                <div name="insert" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/insert.png}">
                </div>
                新增客户
            </div>
            <div class="layui-col-md2" align="center" style="margin-top: 5px;">
                <div name="appoint" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/appoint.png}">
                </div>
                新增预约
            </div>
            <div class="layui-col-md2" align="center" style="margin-top: 5px;">
                <div name="success" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/success.png}">
                </div>
                新增成交
            </div>
            <div class="layui-col-md2" align="center" style="margin-top: 5px;">
                <div name="refund" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/refund.png}">
                </div>
                客户退款
            </div>
            <div class="layui-col-md2" align="center" style="margin-top: 5px;">
                <div id="allot" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/refund.png}">
                </div>
                分配客户
            </div>
            <div class="layui-col-md1">&nbsp;</div>
        </div>

        <!--快捷按钮-->
        <div class="layui-card layui-row" style="height: 100px;" id="sale">
            <div class="layui-col-md3" align="center" style="margin-top: 5px;">
                <div name="insert" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/insert.png}">
                </div>
                新增客户
            </div>
            <div class="layui-col-md3" align="center" style="margin-top: 5px;">
                <div name="appoint" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/appoint.png}">
                </div>
                新增预约
            </div>
            <div class="layui-col-md3" align="center" style="margin-top: 5px;">
                <div name="success" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/success.png}">
                </div>
                新增成交
            </div>
            <div class="layui-col-md3" align="center" style="margin-top: 5px;">
                <div name="refund" style="width: 65px; height: 65px; cursor: pointer;">
                    <img height="65px" width="65px" th:src="@{/images/refund.png}">
                </div>
                客户退款
            </div>
        </div>

        <!--销售简报-->
        <div class="layui-card">
            <div class="layui-card-header">
                <span style="font-size: 20px; font-weight: normal;">销售简报</span>
                <div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
                    <i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
                </div>
                <div style="float: right; margin-top: 7px;" class="layui-inline">
                    <input class="layui-input" id="bulletin" autocomplete="off" readonly
                           style="height: 28px; width: 170px; font-size: 10px;">
                </div>
            </div>
            <div class="layui-card-body layui-row">
                <div class="layui-row" style="height: 221.25px;">
                    <div class="layui-col-md6">
                        <div style="margin-top: 15px; margin-bottom: 15px; margin-left: 25px; border-right: solid 1px #DDDDEE; height: 206.25px;">
                            <div class="layui-row">
                                <div class="layui-col-md6" style="height: 75px;">
                                    <div><span class="font-topdiv">新增客户数</span></div>
                                    <div><a href="javascript:insert();"><span class="font-div" id="insert"></span></a></div>
                                    <div><span class="font-bottomdiv"></span></div>
                                </div>
                                <div class="layui-col-md6" style="height: 75px;">
                                    <div><span  class="font-topdiv">预约客户数</span></div>
                                    <div><a href="javascript:appoint();"><span class="font-div" id="appoint"></span></a></div>
                                    <div><span class="font-bottomdiv"></span></div>
                                </div>
                                <div class="layui-col-md6" style="height: 75px; margin-top: 20px;">
                                    <div><span class="font-topdiv">成交客户数</span></div>
                                    <div><a href="javascript:success();"><span class="font-div" id="success"></span></a></div>
                                    <div><span class="font-bottomdiv"></span></div>
                                </div>
                                <div class="layui-col-md6" style="height: 75px; margin-top: 20px;">
                                    <div><span class="font-topdiv">客户成交率</span></div>
                                    <div><a href="javascript:arrive();"><span class="font-div" id="percent"></span></a></div>
                                    <div><span class="font-bottomdiv"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-col-md6">
                        <div style="margin-top: 15px; margin-bottom: 15px; margin-left: 25px; border-right: solid 1px #DDDDEE; height: 206.25px;">
                            <div class="layui-row">
                                <div class="layui-col-md6" style="height: 75px;">
                                    <div><span class="font-topdiv">客户成交金额</span></div>
                                    <div><a href="javascript:success();"><span class="font-div" id="successMoney"></span></a></div>
                                    <div><span class="font-bottomdiv"></span></div>
                                </div>
                                <div class="layui-col-md6" style="height: 75px;">
                                    <div><span class="font-topdiv">平均客单价</span></div>
                                    <div><a href="javascript:success();"><span class="font-div" id="acup"></span></a></div>
                                    <div><span class="font-bottomdiv"></span></div>
                                </div>
                                <div class="layui-col-md6" style="height: 75px; margin-top: 20px;">
                                    <div><span class="font-topdiv">客户实收金额</span></div>
                                    <div><a href="javascript:success();"><span class="font-div" id="payMoney"></span></a></div>
                                    <div><span class="font-bottomdiv"></span></div>
                                </div>
                                <div class="layui-col-md6" style="height: 75px; margin-top: 20px;">
                                    <div><span class="font-topdiv">客户待收金额</span></div>
                                    <div><a href="javascript:success();"><span class="font-div" id="awaitMoney"></span></a></div>
                                    <div><span class="font-bottomdiv"></span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--销售简报-->
        <!--<div class="layui-card">
            <div class="layui-card-header">
                <span style="font-size: 20px; font-weight: normal;">销售简报</span>
                <div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
                    <i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
                </div>
                <div style="float: right; margin-top: 7px;" class="layui-inline">
                    <input class="layui-input" id="bulletin" autocomplete="off" readonly
                           style="height: 28px; width: 170px; font-size: 10px;">
                </div>
            </div>
            <div class="layui-card-body layui-row">
                &lt;!&ndash;新增&ndash;&gt;
                <div class="layui-col-md4">
                    <span class="indexFont">新增</span>
                    <div class="layui-row">
                        <div class="layui-col-md3">
                            <div><span class="number" id="addAwaitContact"></span></div>
                            <span class="nb_b">待联系</span>
                        </div>
                        <div class="layui-col-md3">
                            <div><span class="number" id="addAwaitAppoint">3</span></div>
                            <span class="nb_b">待预约</span>
                        </div>
                        <div class="layui-col-md3">
                            <div><span class="number" id="addAppoint"></span></div>
                            <span class="nb_b">预约</span>
                        </div>
                        <div class="layui-col-md3">
                            <div><span class="number" id="addSuccess"></span></div>
                            <span class="nb_b">成交</span>
                        </div>
                    </div>
                </div>
                &lt;!&ndash;成交&ndash;&gt;
                <div class="layui-col-md4">
                    <span style="font-size: 20px; font-weight: normal;">成交</span>
                    <div class="layui-row">
                        <div class="layui-col-md4">
                            <div><span class="number" id="total"></span></div>
                            <span class="nb_b">成交数</span>
                        </div>
                        <div class="layui-col-md4">
                            <div><span class="number" id="totalMoney"></span></div>
                            <span class="nb_b">成交金额</span>
                        </div>
                        <div class="layui-col-md4">
                            <div><span class="number" id="payMoney"></span></div>
                            <span class="nb_b">实收金额</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->

        <!--分块功能区-->
        <div class="layui-row layui-col-space10" style="background-color:#F0F0F0 ;">
            <div class="layui-col-md4">
                <div class="layui-card" style="height: 29.75rem;">
                    <div class="layui-card-header">
                        <span style="font-size: 20px; font-weight: normal;">待办客资</span>
                    </div>
                    <div class="layui-card-body">
                        <a href="javascript:void(0);" class="skip" id="contact">
                            <div class="css1">
                                <span class="l_font">待联系客户</span>
                                <span class="r_font" id="awaitContact"></span>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="skip" id="appointment">
                            <div class="css1">
                                <span class="l_font">待预约客户</span>
                                <span class="r_font" id="awaitAppoint"></span>
                            </div>
                        </a>
                        <a href="javascript:void(0);" class="skip" id="awaitarrive">
                            <div class="css1">
                                <span class="l_font">待到店客户</span>
                                <span class="r_font" id="awaitArriveSpan"></span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card" style="height: 29.75rem;" >
                    <div class="layui-card-header">
                        <span style="font-size: 20px; font-weight: normal;">销售目标</span>
                        <div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
                            <i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
                        </div>
                        <div style="float: right; margin-top: 7px;" class="layui-inline">
                            <input class="layui-input" id="target" autocomplete="off" readonly
                                   style="height: 28px; width: 170px; font-size: 10px;">
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <div id="like" style="width: 100%;height:350px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card" style="height: 29.75rem;">
                    <div class="layui-card-header">
                        <span style="font-size: 20px; font-weight: normal;">业务概览</span>
                        <div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
                            <i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
                        </div>
                        <div style="float: right; margin-top: 7px;" class="layui-inline">
                            <input class="layui-input" id="business" autocomplete="off" readonly
                                   style="height: 28px; width: 170px; font-size: 10px;">
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <div id="like2" style="width: 100%;height:350px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
<!--统计图表JS-->
<script src="//cdnjs.cloudflare.com/ajax/libs/echarts/5.0.0/echarts.min.js"></script>
<script type="text/javascript" th:src="@{/js/ld_vue.js}"></script>
<script type="text/javascript" th:src="@{/js/ld2_vue.js}"></script>
<script>

    var element = layui.element
        ,layer = layui.layer
        ,$ = layui.jquery
        ,laydate = layui.laydate

    //从sessionStorage中获取用户编号和角色名称
    var uId = sessionStorage.getItem('uId');
    var uName = sessionStorage.getItem('uName');
    var rName = sessionStorage.getItem('rName');

    //绑定跳转事件
    $(".skip").on("click", function () {
        skip(this);
    })

    //绑定跳转事件
    function skip(el) {
        $(window.parent.document).find("#frame").attr("src", el.id);
        var mNavgition = $(window.parent.document).find("[name=" + el.id + "]")[0].value;
        var navs = mNavgition.split("/");
        var html = "";
        for (var i = 0; i < navs.length; i++) {
            if (i == 0) {
                html += "<a lay-href=''>" + navs[i] + "</a>";
            } else {
                html += "<span lay-separator=''>/</span><a><cite>" + navs[i] + "</cite></a>";
            }
        }
        $(window.parent.document).find("#navgition").html(html);
    }

    //隐藏快捷
    if (rName == '销售员'){
        $("#admin").hide();
        $("#sale").show();
    } else {
        $("#admin").show();
        $("#sale").hide();
    }

    //保存客户
    function saveCustomer(index) {
        var body = layer.getChildFrame('body', index);
        //获取值
        var cName = $(body).find("#cName").val();
        var cSex = null;
        if ($(body).find("[name=cSex]")[0].checked) {
            cSex = $(body).find("[name=cSex]")[0].value;
        } else {
            cSex = $(body).find("[name=cSex]")[1].value;
        }
        var cAge = $(body).find("#cAge").val();
        var cTel = $(body).find("#cTel").val();
        var clProject = $(body).find("#clProject").val();
        var clRemark = $(body).find("#clRemark").val();
        var clMessage = $(body).find("#clMessage").val();
        var clEntryFee = $(body).find("#clEntryFee").val();
        var clUId = $(body).find("#clUId").val();
        var clSource = $(body).find("#clSource").val();
        var clTypeId = $(body).find("#clTypeId").val();
        var clPlaceTime = $(body).find("#clPlaceTime").val();
        if (cName != '' && cTel != '' && clPlaceTime != '') {
            //声明格式是否正确
            var verify = true;
            //验证姓名格式
            if(cName.length > 20){
                layer.msg("姓名长度不能大于20位");
                verify = false;
                return;
            }
            //验证年龄格式
            if(cAge != ''){
                if(isNaN(cAge) || cAge <= 0 || cAge >= 150){
                    layer.msg("年龄必须是大于0小于150的数值");
                    verify = false;
                    return;
                }
            }
            //验证电话格式
            if(!(/^1[3456789]\d{9}$/.test(cTel))){
                layer.msg("手机号码格式错误");
                verify = false;
                return;
            }
            if (verify) {
                var load = layer.load();
                $.ajax({
                    type: "POST",
                    async: false,
                    url: "/crm/customer/saveCustomer",
                    data: {
                        uId: uId,
                        uName:uName,
                        cName: cName,
                        cSex: cSex,
                        cAge: cAge,
                        cTel: cTel,
                        clProject: clProject,
                        clMessage: clMessage,
                        clRemark: clRemark,
                        clEntryFee: clEntryFee,
                        clUId: clUId,
                        clSource: clSource,
                        clTypeId: clTypeId,
                        clPlaceTime: clPlaceTime
                    },
                    success: function (obj) {
                        layer.close(load);
                        layer.close(index);
                    }
                });
            }
        } else {
            layer.msg('请输入带星号的必填项');
        }
    }

    //保存预约
    function saveAppoint(index) {
        var body = layer.getChildFrame('body', index);
        //获取值
        var aClId = $(body).find("#aClId").val();
        var aTime = $(body).find("#aTime").val();
        var aHId = $(body).find("#aHId").val();
        var atType = $(body).find("#atType").val();
        if (aTime != '') {
            var load = layer.load();
            $.ajax({
                type: "POST",
                async: false,
                url: "/crm/appointment/saveAppointment",
                data: {
                    uId: uId, uName:uName, aClId: aClId, aTime: aTime,
                    aHId: aHId, atType: atType
                },
                success: function (obj) {
                    layer.close(load);
                    layer.close(index);
                }
            });
        } else {
            layer.msg('请输入预约时间');
        }
    }

    //新增客户
    $("[name=insert]").click(function () {
        //弹出新增页面
        layer.open({
            type: 2, //层类型，iframe
            title: '新增客户',
            content: ['/crm/customer/customersave'],
            area: ['1000px', '500px'],
            resize: false,
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    });
    
    //新增预约
    $("[name=appoint]").click(function () {
        layer.open({
            type: 2, //层类型，iframe
            title: '新增预约客户',
            content: ['/crm/indexGoAppointSave'],
            area: ['500px', '500px'],
            resize: false,
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    });

    //新增成交
    $("[name=success]").click(function () {
        layer.open({
            type: 2, //层类型，iframe
            title: '新增成交',
            content: ['/crm/indexGoSuccessSave'],
            area: ['500px', '500px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var cId = $(body).find("#cId").val();
                var cName = $(body).find("#cName").val();
                var clId = $(body).find("#clId").val();
                var sAId = $(body).find("#sAId").val();
                var sHId = $(body).find("#sHId").val();
                var sMessage = $(body).find("#sMessage").val();
                var isDeduction = "";
                if ($(body).find("[name=clEntryFee]")[1].checked){
                    isDeduction = $(body).find("#isDeduction").val();
                }
                var sSum = $(body).find("#sSum").val();
                var sPaysum = $(body).find("#sPaysum").val();
                var sRemark = $(body).find("#sRemark").val();
                var sTime = $(body).find("#sTime").val();
                var entryFee = $(body).find("#entryFee").val();
                if (sAId != '' && sHId != '' && sSum != '' && sSum != '' && sPaysum != '' && sPaysum != '' && sTime != '') {
                    //声明格式是否正确
                    var verify = true;
                    //验证成交金额
                    if (isNaN(sSum) || sSum <= 0){
                        layer.msg("成交金额必须是大于零的数值");
                        verify = false;
                        return;
                    }
                    //验证支付金额
                    if (isNaN(sPaysum) || sPaysum <= 0){
                        layer.msg("支付金额必须是大于零的数值");
                        verify = false;
                        return;
                    } else {
                        if(parseFloat(sPaysum) > parseFloat(sSum)){
                            layer.msg("支付金额不能大于成交金额");
                            verify = false;
                            return;
                        }
                    }
                    if(verify) {
                        var load = layer.load();
                        $.post("/crm/success/saveSuccess", {
                                uId: uId,
                                cId: cId,
                                uName: uName,
                                cName: cName,
                                clId: clId,
                                sAId: sAId,
                                clId: clId,
                                sAId: sAId,
                                sHId: sHId,
                                sMessage: sMessage,
                                isDeduction: isDeduction,
                                sSum: sSum,
                                sPaysum: sPaysum,
                                sRemark: sRemark,
                                sTime: sTime
                            },
                            function (data) {
                                layer.close(load);
                                if (data.code != 200){
                                    layer.msg(data.msg);
                                } else {
                                    layer.msg(data.msg, {time: 500}, function () {
                                        layer.close(index);
                                        location.reload();
                                    });
                                }
                            }
                        );
                    }
                } else {
                    layer.msg('请填写带星号的必填项');
                }
            },
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    });

    //客户退款
    $("[name=refund]").click(function () {
        layer.open({
            type: 2, //层类型，iframe
            title: '客户退款',
            content: ['/crm/indexGoPayrecordSave'],
            area: ['500px', '500px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var cId = $(body).find("#cId").val();
                var cName = $(body).find("#cName").val();
                var paySId = $(body).find("#paySId").val();
                var sSum = $(body).find("#sSum").val();
                var sPaysum = $(body).find("#sPaysum").val();
                var refundsSum = $(body).find("#refundsSum").val();
                var refundsPaysum = $(body).find("#refundsPaysum").val();
                var payTime = $(body).find("#payTime").val();
                var payRemark = $(body).find("#payRemark").val();
                var payTypeId = $(body).find("#payTypeId").val();
                //声明格式是否正确
                var verify = true;
                //验证
                if (cName != '' && refundsSum != '' && refundsPaysum != '' && payTime != '') {
                    //成交退款金额
                    if (!isNaN(refundsSum) && refundsSum >= 0) {
                        if (parseFloat(sSum) < parseFloat(refundsSum)) {
                            layer.msg("成交退款金额不能大于成交金额，成交金额为" + sSum);
                            verify = false;
                            return;
                        }
                    } else {
                        layer.msg('成交退款金额必须是大于等于零的数值');
                        verify = false;
                        return;
                    }
                    //支付退款金额
                    if (!isNaN(refundsPaysum) && refundsPaysum > 0) {
                        if (parseFloat(sPaysum) < parseFloat(refundsPaysum)) {
                            layer.msg("支付退款金额不能大于支付金额，支付金额为" + sPaysum);
                            verify = false;
                            return;
                        }
                    } else {
                        layer.msg('支付退款金额必须是大于零的数值');
                        verify = false;
                        return;
                    }

                } else {
                    layer.msg('请填写带星号的必填项');
                    verify = false;
                    return;
                }
                if (verify){
                    var load = layer.load();
                    $.get("/crm/success/refundMoney",
                        {uId: uId, uName: uName, cId: cId, cName: cName, paySId: paySId, refundsSum: refundsSum,
                            refundsPaysum:refundsPaysum, sSum:sSum, sPaysum:sPaysum,
                            payRemark:payRemark, payTypeId: payTypeId, payTime:payTime},
                        function (data) {
                            layer.close(load);
                            if (data.code != 200){
                                layer.msg(data.msg);
                            } else {
                                layer.msg(data.msg, {time: 500}, function () {
                                    layer.close(index);
                                    location.reload();
                                });
                            }
                        }
                    );
                }
            },
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    });

    //分配客户
    $("#allot").click(function () {
        layer.open({
            type: 2, //层类型，iframe
            title: '分配客户',
            content: ['/crm/indexGoEditClue'],
            area: ['1000px', '500px'],
            resize: false,
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    });

    //给筛选条件赋值（默认本月）
    var date = new Date();
    var begin = date.getFullYear()+"-"+eval(date.getMonth()+1)+"-01";
    var end = date.getFullYear()+"-"+eval(date.getMonth()+1)+"-"+date.getDate();
    var time = begin + " - " + end;
    $("input").val(time);

    //onload事件
    $(function () {
        //销售简报
        bulletin(begin, end);
        //待办客资
        await();
    })

    //销售简报加载事件
    function bulletin(begin, end) {
        //销售简报查询并赋值
        $.get('/crm/customer/bulletin', {uId:uId, rName:rName, beginTime:begin, endTime:end},
            function (data) {
                //新增客户数
                $("#insert").html(data.insert);
                //预约客户数
                $("#appoint").html(data.appoint);
                //成交客户数
                $("#success").html(data.success);
                //客户成交率
                $("#percent").html(data.percent);
                //客户成交金额
                $("#successMoney").html(data.successMoney);
                //平均客单价
                $("#acup").html(data.acup);
                //客户实收金额
                $("#payMoney").html(data.payMoney);
                //客户待收金额
                $("#awaitMoney").html(data.awaitMoney);
            }
        );
    }

    //待办客资加载事件
    function await() {
        $.get('/crm/customer/await', {uId:uId, rName:rName},
            function (data) {
                //待联系客户
                $("#awaitContact").html(data.awaitContact);
                //待预约客户
                $("#awaitAppoint").html(data.awaitAppoint);
                //待到店客户
                $("#awaitArriveSpan").html(data.awaitArrive);
            }
        );
    }

    //销售简报
    laydate.render({
        elem: '#bulletin' //指定元素
        ,trigger: 'click' //采用click弹出
        ,range: true //范围选择
        ,max: 0 //最大值为今天
        ,btns: ['confirm'] //右下角显示按钮
        ,done: function(value){ //控件选择完毕后的回调
            var begin = value.substring(0, 10);
            var end = value.substring(13, 23);
            bulletin(begin, end);
        }
    });

    //销售目标
    laydate.render({
        elem: '#target' //指定元素
        ,trigger: 'click' //采用click弹出
        ,range: true //范围选择
        ,max: 0 //最大值为今天
        ,btns: ['confirm'] //右下角显示按钮
    });

    //业务概览
    laydate.render({
        elem: '#business ' //指定元素
        ,trigger: 'click' //采用click弹出
        ,range: true //范围选择
        ,max: 0 //最大值为今天
        ,btns: ['confirm'] //右下角显示按钮
    });

    //查询起止时间内新增客户
    function insert() {
        var value = $("#bulletin").val();
        var begin = value.substring(0, 10);
        var end = value.substring(13, 23);
        layer.open({
            type: 2, //层类型，iframe
            title: '新增客户列表',
            content: ['/crm/indexGoSaveCList?beginTime='+begin+'&endTime='+end],
            area: ['1000px', '535px'],
            resize: false,
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    }

    //查询起止时间内预约客户
    function appoint() {
        var value = $("#bulletin").val();
        var begin = value.substring(0, 10);
        var end = value.substring(13, 23);
        layer.open({
            type: 2, //层类型，iframe
            title: '预约客户列表',
            content: ['/crm/indexGoSaveAList?beginTime='+begin+'&endTime='+end],
            area: ['1000px', '535px'],
            resize: false,
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    }

    //查询起止时间内成交客户
    function success() {
        var value = $("#bulletin").val();
        var begin = value.substring(0, 10);
        var end = value.substring(13, 23);
        layer.open({
            type: 2, //层类型，iframe
            title: '成交客户列表',
            content: ['/crm/indexGoSaveSList?beginTime='+begin+'&endTime='+end],
            area: ['1000px', '535px'],
            resize: false,
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    }

    //查询起止时间内未成交和成交客户
    function arrive() {
        var value = $("#bulletin").val();
        var begin = value.substring(0, 10);
        var end = value.substring(13, 23);
        layer.open({
            type: 2, //层类型，iframe
            title: '已到店客户列表',
            content: ['/crm/indexGoSaveArriveList?beginTime='+begin+'&endTime='+end],
            area: ['1000px', '535px'],
            resize: false,
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    }

</script>

</html>