<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>工作台</title>
    <link rel="stylesheet" type="text/css" th:href="@{/layui/css/layui.css}" />
    <style>
        .number{color: #01AAED; font-size: 30px;}
        .indexFont{font-size: 20px;}
        .css1 {
            width: 90%;
            height: 60px;
            background: #f1f5ff;
            border-radius: 8px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
            margin-bottom: 8px;
            cursor: pointer;
        }
        .l_font{
            font-size: 12px;
            color: #333;
        }
        .r_font{
            font-size: 14px;
            color: #4f7afd;
        }
        input:hover{cursor: pointer;}
    </style>
</head>
<body bgcolor="#F0F0F0" style='overflow:scroll;overflow-x:hidden'>

    <br />
    <div class="layui-fluid">

        <!--快捷按钮-->
        <div class="layui-card layui-row" style="height: 100px;">
            <div id="success" class="layui-col-md3" align="center" style="margin-top: 5px; cursor: pointer;">
                <div><img height="65px" width="65px" th:src="@{/images/success.png}"></div>
                <span>新增成交</span>
            </div>
            <div id="refund" class="layui-col-md3" align="center" style="margin-top: 5px; cursor: pointer;">
                <div><img height="65px" width="65px" th:src="@{/images/refund.png}"></div>
                <span>客户退款</span>
            </div>
            <div id="insert" class="layui-col-md3" align="center" style="margin-top: 8px; cursor: pointer;">
                <div><img height="65px" width="65px" th:src="@{/images/insert.png}"></div>
                <span>新增客户</span>
            </div>
            <div id="appoint" class="layui-col-md3" align="center" style="margin-top: 5px; cursor: pointer;">
                <div><img height="65px" width="65px" th:src="@{/images/appoint.png}"></div>
                <span>新增预约</span>
            </div>
        </div>

        <!--销售简报-->
        <div class="layui-card">
            <div class="layui-card-header">
                <span style="font-size: 20px; font-weight: normal;">销售简报</span>
                <div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
                    <i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
                </div>
                <div style="float: right; margin-top: 7px;" class="layui-inline">
                    <input class="layui-input" id="bulletin" autocomplete="off" readonly
                           style="height: 28px; width: 170px; font-size: 10px;">
                </div>
            </div>
            <div class="layui-card-body layui-row">
                <!--新增-->
                <div class="layui-col-md4">
                    <span class="indexFont">新增</span>
                    <div class="layui-row">
                        <div class="layui-col-md3">
                            <div><span class="number" id="addAwaitContact"></span></div>
                            <span class="nb_b">待联系</span>
                        </div>
                        <div class="layui-col-md3">
                            <div><span class="number" id="addAwaitAppoint">3</span></div>
                            <span class="nb_b">待预约</span>
                        </div>
                        <div class="layui-col-md3">
                            <div><span class="number" id="addAppoint"></span></div>
                            <span class="nb_b">预约</span>
                        </div>
                        <div class="layui-col-md3">
                            <div><span class="number" id="addSuccess"></span></div>
                            <span class="nb_b">成交</span>
                        </div>
                    </div>
                </div>
                <!--成交-->
                <div class="layui-col-md4">
                    <span style="font-size: 20px; font-weight: normal;">成交</span>
                    <div class="layui-row">
                        <div class="layui-col-md4">
                            <div><span class="number" id="total"></span></div>
                            <span class="nb_b">成交数</span>
                        </div>
                        <div class="layui-col-md4">
                            <div><span class="number" id="totalMoney"></span></div>
                            <span class="nb_b">成交金额</span>
                        </div>
                        <div class="layui-col-md4">
                            <div><span class="number" id="payMoney"></span></div>
                            <span class="nb_b">实收金额</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--分块功能区-->
        <div class="layui-row layui-col-space10" style="background-color:#F0F0F0 ;">
            <div class="layui-col-md4">
                <div class="layui-card" style="height: 29.75rem;">
                    <div class="layui-card-header">
                        <span style="font-size: 20px; font-weight: normal;">待办客资</span>
                        <div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
                            <i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
                        </div>
                        <div style="float: right; margin-top: 7px;" class="layui-inline">
                            <input class="layui-input" id="await" autocomplete="off" readonly
                                   style="height: 28px; width: 170px; font-size: 10px;">
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <a href="hello.html">
                            <div class="css1">
                                <span class="l_font">待联系客户</span>
                                <span class="r_font" id="awaitContact"></span>
                            </div>
                        </a>
                        <a href="hello.html">
                            <div class="css1">
                                <span class="l_font">待预约客户</span>
                                <span class="r_font" id="awaitAppoint"></span>
                            </div>
                        </a>
                        <a href="hello.html">
                            <div class="css1">
                                <span class="l_font">待到店客户</span>
                                <span class="r_font" id="awaitArrive"></span>
                            </div>
                        </a>
                        <a href="hello.html">
                            <div class="css1">
                                <span class="l_font">待处理客户</span>
                                <span class="r_font">10</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card" style="height: 29.75rem;" >
                    <div class="layui-card-header">
                        <span style="font-size: 20px; font-weight: normal;">销售目标</span>
                        <div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
                            <i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
                        </div>
                        <div style="float: right; margin-top: 7px;" class="layui-inline">
                            <input class="layui-input" id="target" autocomplete="off" readonly
                                   style="height: 28px; width: 170px; font-size: 10px;">
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <div id="like" style="width: 100%;height:350px;"></div>
                    </div>
                </div>
            </div>
            <div class="layui-col-md4">
                <div class="layui-card" style="height: 29.75rem;">
                    <div class="layui-card-header">
                        <span style="font-size: 20px; font-weight: normal;">业务概览</span>
                        <div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
                            <i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
                        </div>
                        <div style="float: right; margin-top: 7px;" class="layui-inline">
                            <input class="layui-input" id="business" autocomplete="off" readonly
                                   style="height: 28px; width: 170px; font-size: 10px;">
                        </div>
                    </div>
                    <div class="layui-card-body">
                        <div id="like2" style="width: 100%;height:350px;"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</body>
<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
<!--统计图表JS-->
<script src="//cdn.bootcdn.net/ajax/libs/echarts/4.9.0-rc.1/echarts.min.js"></script>
<script type="text/javascript" th:src="@{/js/ld_vue.js}"></script>
<script type="text/javascript" th:src="@{/js/ld2_vue.js}"></script>
<script>

    var element = layui.element
        ,layer = layui.layer
        ,$ = layui.jquery
        ,laydate = layui.laydate

    //从sessionStorage中获取用户编号和角色名称
    var uId = sessionStorage.getItem('uId');
    var rName = sessionStorage.getItem('rName');

    //新增成交
    $("#success").click(function () {
        layer.open({
            type: 2, //层类型，iframe
            title: '新增成交',
            content: ['/indexGoSuccessSave'],
            area: ['500px', '450px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var sCId = $(body).find("#sCId").val();
                var sHId = $(body).find("#sHId").val();
                var sMessage = $(body).find("#sMessage").val();
                var sSum = $(body).find("#sSum").val();
                var sRemark = $(body).find("#sRemark").val();
                if (sCId != '' && sHId != '' && sSum != '' && sSum.trim() != '') {
                    //声明格式是否正确
                    var verify = true;
                    //验证成交金额
                    if(sSum <= 0){
                        layer.msg("成交金额不能小于等于零");
                        verify = false;
                        return;
                    }
                    if(verify) {
                        $.post("/success/saveSuccess", {
                                uId: uId,
                                sCId: sCId,
                                sHId: sHId,
                                sMessage: sMessage,
                                sSum: sSum.trim(),
                                sRemark: sRemark
                            },
                            function (obj) {
                                layer.msg(obj.msg, {time: 500}, function () {
                                    layer.close(index);
                                });
                            }
                        );
                    }
                } else {
                    layer.msg('请填写带星号的必填项');
                }
            },
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    });

    //客户退款
    $("#refund").click(function () {
        layer.open({
            type: 2, //层类型，iframe
            title: '客户退款',
            content: ['/indexGoPayrecordSave'],
            area: ['500px', '450px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var paySId = $(body).find("#paySId").val();
                var paySum = $(body).find("#paySum").val();
                var payTypeId = $(body).find("#payTypeId").val();
                if (paySId != '' && paySum != '' && paySum.trim() != '') {
                    //声明格式是否正确
                    var verify = true;
                    //验证成交金额
                    if(paySum <= 0){
                        layer.msg("退款金额不能小于等于零");
                        verify = false;
                        return;
                    }
                    if(verify) {
                        $.post("/payrecord/savePayrecord",
                            {uId: uId, paySId: paySId, paySum: paySum, payTypeId: payTypeId},
                            function (obj) {
                                layer.msg(obj.msg, {time: 500}, function () {
                                    layer.close(index);
                                    location.reload();
                                });
                            }
                        );
                    }
                } else {
                    layer.msg('请填写带星号的必填项');
                }
            },
            cancel: function(index, layero){
                layer.close(index);
                location.reload();
            }
        });
    });

    //新增客户
    $("#insert").click(function () {
        layer.open({
            type: 2, //层类型，iframe
            title: '新增客户',
            content: ['/customer/customersave'],
            area: ['1000px', '450px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var cName = $(body).find("#cName").val();
                var cSex = null;
                if ($(body).find("[name=cSex]")[0].checked) {
                    cSex = $(body).find("[name=cSex]")[0].value;
                } else {
                    cSex = $(body).find("[name=cSex]")[1].value;
                }
                var cAge = $(body).find("#cAge").val();
                var cTel = $(body).find("#cTel").val();
                var cProject = $(body).find("#cProject").val();
                var cRemark = $(body).find("#cRemark").val();
                var cMessage = $(body).find("#cMessage").val();
                var cEarnest = $(body).find("#cEarnest").val();
                var cUId = $(body).find("#cUId").val();
                var cSource = $(body).find("#cSource").val();
                var cTypeId = $(body).find("#cTypeId").val();
                if (cName != '' && cName.trim() != '' && cTel != '' && cTel.trim() != '') {
                    //声明格式是否正确
                    var verify = true;
                    //验证姓名格式
                    if (cName.length > 6) {
                        layer.msg("姓名长度不能大于6位");
                        verify = false;
                        return;
                    }
                    //验证年龄格式
                    if (cAge != '') {
                        if (cAge <= 0 || cAge >= 150) {
                            layer.msg("年龄必须大于0小于150");
                            verify = false;
                            return;
                        }
                    }
                    //验证电话格式
                    if (!(/^1[3456789]\d{9}$/.test(cTel))) {
                        layer.msg("手机号码格式错误");
                        verify = false;
                        return;
                    }
                    //验证定金格式
                    if (cEarnest != '') {
                        if (cEarnest < 0) {
                            layer.msg("定金不能为负数");
                            verify = false;
                            return;
                        }
                    }
                    if (verify) {
                        $.post("/customer/saveCustomer", {
                                uId: uId,
                                cName: cName.trim(),
                                cSex: cSex,
                                cAge: cAge,
                                cTel: cTel.trim(),
                                cProject: cProject,
                                cMessage: cMessage,
                                cRemark: cRemark,
                                cEarnest: cEarnest,
                                cUId: cUId,
                                cSource: cSource,
                                cTypeId: cTypeId
                            },
                            function (obj) {
                                layer.msg(obj.msg, {time: 500}, function () {
                                    layer.close(index);
                                    location.reload();
                                });
                            }
                        );
                    }
                } else {
                    layer.msg('请输入带星号的必填项');
                }
            },
            cancel: function (index, layero) {
                layer.close(index);
            }
        });
    });
    
    //新增预约
    $("#appoint").click(function () {
        layer.open({
            type: 2, //层类型，iframe
            title: '新增预约客户',
            content: ['/indexGoAppointSave'],
            area: ['450px', '450px'],
            resize: false,
            btn: '确定',
            btn1: function (index, layero) {
                var body = layer.getChildFrame('body', index);
                //获取值
                var aCId = $(body).find("#aCId").val();
                var aTime = $(body).find("#aTime").val();
                var aHId = $(body).find("#aHId").val();
                var atType = $(body).find("#atType").val();
                if (aTime != '') {
                    $.post("/appointment/saveAppointment", {uId:uId, aCId:aCId, aTime:aTime,
                            aHId:aHId, atType:atType},
                        function (obj) {
                            layer.msg(obj.msg, {time: 500}, function () {
                                layer.close(index);
                                location.reload();
                            });
                        }
                    );
                } else {
                    layer.msg('请输入预约时间');
                }
            },
            cancel: function(index, layero){
                layer.close(index);
            }
        });
    });

    //给筛选条件赋值（默认本月）
    var date = new Date();
    var begin = date.getFullYear()+"-"+eval(date.getMonth()+1)+"-01";
    var end = date.getFullYear()+"-"+eval(date.getMonth()+1)+"-"+date.getDate();
    var time = begin + " - " + end;
    $("input").val(time);

    //onload事件
    $(function () {
        //销售简报
        bulletin(begin, end);
        //待办客资
        await(begin, end);
    })

    //销售简报加载事件
    function bulletin(begin, end) {
        //查询待联系总数并赋值
        $.get('/customer/queryCByUIdAndTimeAndCTypeId',
            {uId:uId, ctType:'待联系', beginTime:begin, endTime:end},
            function (data) {
                $("#addAwaitContact").html(data.data);
            }
        );
        //查询待预约总数并赋值
        $.get('/customer/queryCByUIdAndTimeAndCTypeId',
            {uId:uId, ctType:'待预约', beginTime:begin, endTime:end},
            function (data) {
                $("#addAwaitAppoint").html(data.data);
            }
        );
        //查询待待到店总数并赋值
        $.get('/customer/queryCByUIdAndTimeAndCTypeId',
            {uId:uId, ctType:'待到店', beginTime:begin, endTime:end},
            function (data) {
                $("#addAppoint").html(data.data);
            }
        );
        //查询成交总数并赋值
        $.get('/success/querySByUIdAndTime',
            {uId:uId, beginTime:begin, endTime:end},
            function (data) {
                $("#addSuccess").html(data.data);
                $("#total").html(data.data);
            }
        );
        //查询成交总金额并赋值
        $.get('/success/querySSumByUIdAndTime',
            {uId:uId, beginTime:begin, endTime:end},
            function (data) {
                $("#totalMoney").html(data.data);
            }
        );
        //查询成交收款总金额并赋值
        $.get('/success/querySPaysumByUIdAndTime',
            {uId:uId, beginTime:begin, endTime:end},
            function (data) {
                $("#payMoney").html(data.data);
            }
        );
    }

    //待办客资加载事件
    function await(begin, end) {
        //查询待联系总数并赋值
        $.get('/customer/queryCByUIdAndTimeAndCTypeId',
            {uId:uId, ctType:'待联系', beginTime:begin, endTime:end},
            function (data) {
                $("#awaitContact").html(data.data);
            }
        );
        //查询待预约总数并赋值
        $.get('/customer/queryCByUIdAndTimeAndCTypeId',
            {uId:uId, ctType:'待预约', beginTime:begin, endTime:end},
            function (data) {
                $("#awaitAppoint").html(data.data);
            }
        );
        //查询待待到店总数并赋值
        $.get('/customer/queryCByUIdAndTimeAndCTypeId',
            {uId:uId, ctType:'待到店', beginTime:begin, endTime:end},
            function (data) {
                $("#awaitArrive").html(data.data);
            }
        );
    }

    //销售简报
    laydate.render({
        elem: '#bulletin' //指定元素
        ,trigger: 'click' //采用click弹出
        ,range: true //范围选择
        ,max: 0 //最大值为今天
        ,btns: ['confirm'] //右下角显示按钮
        ,done: function(value){ //控件选择完毕后的回调
            var begin = value.substring(0, 10);
            var end = value.substring(13, 23);
            bulletin(begin, end);
        }
    });

    //待办客资
    laydate.render({
        elem: '#await' //指定元素
        ,trigger: 'click' //采用click弹出
        ,range: true //范围选择
        ,max: 0 //最大值为今天
        ,btns: ['confirm'] //右下角显示按钮
        ,done: function(value){ //控件选择完毕后的回调
            var begin = value.substring(0, 10);
            var end = value.substring(13, 23);
            await(begin, end);
        }
    });

    //销售目标
    laydate.render({
        elem: '#target' //指定元素
        ,trigger: 'click' //采用click弹出
        ,range: true //范围选择
        ,max: 0 //最大值为今天
        ,btns: ['confirm'] //右下角显示按钮
    });

    //业务概览
    laydate.render({
        elem: '#business ' //指定元素
        ,trigger: 'click' //采用click弹出
        ,range: true //范围选择
        ,max: 0 //最大值为今天
        ,btns: ['confirm'] //右下角显示按钮
    });

    /*
    //根据用户编号和状态查询待联系客户总条数
    $.get("/customer/getTotalCByUIdAndCTypeId?uId="+uId+"&ctType=待联系", function (data){
        //赋值
        $("#awaitcontact").html(data);
    });

    //根据用户编号和状态查询待预约客户总条数
    $.get("/customer/getTotalCByUIdAndCTypeId?uId="+uId+"&ctType=待预约", function (data){
        //赋值
        $("#awaitappoint").html(data);
    });

    //根据用户编号和状态查询待预约客户总条数
    $.get("/customer/getTotalCByUIdAndCTypeId?uId="+uId+"&ctType=待到店", function (data){
        //赋值
        $("#awaitarrive").html(data);
    });

    //根据用户编号和状态查询未成交客户总条数
    $.get("/customer/getTotalCByUIdAndCTypeId?uId="+uId+"&ctType=未成交", function (data){
        //赋值
        $("#fail").html(data);
    });

    //根据用户编号和状态查询成交客户总条数
    $.get("/customer/getTotalCByUIdAndCTypeId?uId="+uId+"&ctType=成交", function (data){
        //赋值
        $("#success").html(data);
    });

    //获取客户到店率
    $.get("/statistics/arrivePercent?uId="+uId, function (data) {
        //赋值
        $(".layui-bg-red").attr("lay-percent", data);
        element.init();
        element.progress('arrive', data);
    });

    //获取到店成交率
    $.get("/statistics/successPercent?uId="+uId, function (data) {
        //赋值
        $(".layui-bg-green").attr("lay-percent", data);
        element.init();
        element.progress('success', data);
    });

    //获取目标业绩完成度
    $.get("/statistics/performance?uId="+uId, function (data) {
        //赋值
        $(".layui-bg-blue").attr("lay-percent", data);
        element.init();
        element.progress('performance', data);
    });
*/

</script>

</html>