<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>未成交客户列表</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	</head>
	<body>

	<br>

	<div id="screen">
		&nbsp;&nbsp;&nbsp;根据客户名称：
		<div class="layui-inline">
			<input class="layui-input" id="cName" autocomplete="off">
		</div>
		<button class="layui-btn search">搜索</button>
	</div>

	<!-- 数据表格 -->
	<table class="layui-hide" id="tab" lay-filter="test" lay-data="{id: 'tab'}"></table>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-1"></i></div>
		</script>

		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="feedback">门诊反馈</a>
			<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="callback">客户回访</a>
			<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="referral">转诊</a>
		</script>

		<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
		<!--<script th:src="@{/layui/layui.js}"></script>-->
		<script src="//cdn.bootcdn.net/ajax/libs/pym/1.3.2/pym.v1.min.js"></script>

		<script>

            new pym.Child({ polling: 500 });
            layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element'], function(){
                var laydate = layui.laydate //日期
                    ,laypage = layui.laypage //分页
                    ,layer = layui.layer //弹层
                    ,table = layui.table //表格
                    ,upload = layui.upload //上传
                    ,element = layui.element //元素操作
                    ,$ = layui.jquery //jQuery

                //从sessionStorage中获取用户编号和角色名称
                var uId = sessionStorage.getItem('uId');
                var rName = sessionStorage.getItem('rName');

                //为条件搜索按钮增加点击事件
                $(".search").on("click", function(data){
                    tableReload();
                });

                //表格重载
				function tableReload(){
				    //获取客户名称
					var cName = $("#cName").val();
					//根据客户名称查询
                    table.reload('tab', {
                        url: '/fail/queryFailByCName?uId='+uId+'&rName='+rName
                        ,where: {
                            cName: cName
                        }
                        ,page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
				}

				//新增客户跟进
                function saveFollow(data, ftType){
                    var ix = layer.open({
                        type: 2, //层类型，iframe
                        title: '新增客户跟进',
                        content: ['/followsave?cId='+data.cId+
                        '&cName='+data.cName+'&ftType='+ftType],
                        area: ['450px', '350px'],
                        resize: false,
                        btn: '确定',
                        btn1: function (index, layero) {
                            var body = layer.getChildFrame('body', index);
                            //获取值
                            var fCId = $(body).find("#fCId").val();
                            var fTypeId = $(body).find("#fTypeId").val();
                            var ftType = $(body).find("#ftType").val();
                            var fContent = $(body).find("#fContent").val();
                            if (fContent != '' && fContent.trim() != '') {
                                $.post("/follow/saveFollow", {uId:uId, fCId:fCId, fTypeId:fTypeId, fContent:fContent},
                                    function (obj) {
                                        layer.msg(obj.msg, {time: 500}, function () {
                                            layer.close(ix);
                                            tableReload();
                                        });
                                    }
                                );
                            } else {
                                layer.msg('请输入门诊反馈内容');
                            }
                        },
                        cancel: function(index, layero){
                            layer.close(index);
                        }
                    });
				}

                //执行一个 table 实例
                table.render({
                    elem: '#tab'
                    ,height: 420
                    ,url: '/fail/queryFailByCName?uId='+uId+'&rName='+rName //数据接口
                    ,title: '未成交客户表' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 5 //每页显示条数
                    ,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: '#toolbarDemo' //刷新、增加工具栏
                    ,defaultToolbar: ['filter', 'exports', 'print'] //筛选、导出、打印工具栏
                    ,cols: [ //表头
                        [
                            {field: 'flId', minWidth: 120, title: '编号', sort: true, align:'center'}
                            ,{field: 'cName', minWidth: 120, title: '客户姓名', align:'center'}
                            ,{field: 'hName', minWidth: 200, title: '门诊名称', align:'center'}
                            ,{field: 'flCause', minWidth: 200, title: '未成交原因', align:'center'}
                            ,{fixed: 'right', minWidth: 240, align:'center', toolbar: '#barDemo'}
                        ]
                    ]
                });

                //监听头工具栏事件
                table.on('toolbar(test)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id)
                        ,data = checkStatus.data; //获取选中的数据
                    switch(obj.event){
                        case 'refresh':
                            tableReload();
                            break;
                    }
                });

                //监听行工具事件
                table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                    var data = obj.data //获得当前行数据
                        ,layEvent = obj.event; //获得 lay-event 对应的值
                    if(layEvent === 'feedback'){
                        saveFollow(data, "未成交门诊反馈");
                    } else if(layEvent === 'callback'){
                        saveFollow(data, "未成交客户回访");
                    } else if(layEvent === 'referral'){
                        //弹出转诊页面
                        var ix = layer.open({
                            type: 2, //层类型，iframe
                            title: '新增转诊记录',
                            content: ['/referralsave?cId='+data.cId+
                            '&cName='+data.cName+'&hId='+data.hId+'&hName='+data.hName],
                            area: ['450px', '450px'],
                            resize: false,
                            btn: '确定',
                            btn1: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                //获取值
                                var rCId = $(body).find("#rCId").val();
                                var rFailHId = $(body).find("#rFailHId").val();
                                var rHId = $(body).find("#rHId").val();
                                var aTime = $(body).find("#aTime").val();
                                var rMessage = $(body).find("#rMessage").val();
                                var rCause = $(body).find("#rCause").val();
                                if (rMessage != '' && rMessage.trim() != '' && rCause != '' && rCause.trim() != '') {
                                    $.post("/referral/saveReferral",
										{uId:uId, rCId:rCId, rFailHId:rFailHId, aTime:aTime,
											rHId:rHId, rMessage:rMessage, rCause:rCause},
                                        function (obj) {
                                            layer.msg(obj.msg, {time: 500}, function () {
                                                layer.close(ix);
                                                tableReload();
                                            });
                                        }
                                    );
                                } else {
                                    layer.msg('请填写带星号的必填项');
                                }
                            },
                            cancel: function(index, layero){
                                layer.close(index);
                            }
                        });
                    }
                });

            });

		</script>

	</body>
</html>
