<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增菜单</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>菜单名称
            </label>
            <div class="layui-input-block">
                <input type="text" id="mName" placeholder="请输入菜单名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单路径</label>
            <div class="layui-input-block">
                <input type="text" id="mUrl" placeholder="请输入菜单路径"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">父级菜单</label>
            <div class="layui-input-block">
                <select id="mParentId" lay-filter="change">
                    <option value="0"></option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">菜单类型</label>
            <div class="layui-input-block">
                <input type="text" id="mType" class="layui-input" value="父级" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>菜单导航文本
            </label>
            <div class="layui-input-block">
                <input type="text" id="mNavgition" placeholder="请输入菜单导航文本"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
    </form>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
<script>

    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //查询父级菜单
    $.get("/crm/menu/queryMParent", function(obj){
        //定义父级菜单下拉框内容
        var html = "";
        $.each(obj.data, function (index, item) {
            html += "<option value='" + item.mId + "'>" + item.mName + "</option>";
        });
        $("#mParentId").append(html);
        //append后必须重新渲染
        form.render('select');
    });

    //下拉框改变事件
    form.on('select(change)', function(data){
        //改变客户状态
        if($("#mParentId").val() != ""){
            $("#mType").val("子级");
        }else{
            $("#mType").val("父级");
        }
    })

</script>
</body>
</html>