<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linxi.mapper.CArriveMapper">

  <resultMap id="BaseResultMap" type="com.linxi.entity.CArrive">
    <id column="ca_id" jdbcType="INTEGER" property="caId" />
    <result column="ca_ct_id" jdbcType="INTEGER" property="caCtId" />
    <result column="ca_callback" jdbcType="LONGVARCHAR" property="caCallback" />
  </resultMap>

  <select id="queryCAScreen" resultMap="BaseResultMap">
    SELECT ca.*, c.c_name AS cName, c.c_tel AS cTel, c.c_project AS cProject,
    ct.ct_hospital AS ctHospital, c.c_earnest AS cEarnest, u.u_name AS uName,
    c.c_source AS cSource, c.c_statu AS cStatu
    FROM c_arrive ca
    LEFT JOIN c_transaction ct ON cf.cf_ct_id = ct.ct_id
    LEFT JOIN customer c ON ct.ct_c_id = c.c_id
    LEFT JOIN user u ON c.c_u_id = u.u_id
    <where>
      <if test="cName != null and cName != ''">
        c.c_name LIKE '%${cName}%' AND
      </if>
      <if test="cTel != null and cTel != ''">
        c.c_tel = #{cTel} AND
      </if>
      <if test="cProject != null and cProject != ''">
        c.c_project = #{cProject} AND
      </if>
      <if test="ctHospital != null and ctHospital != ''">
        ct.ct_hospital = #{ctHospital} AND
      </if>
      <if test="cEarnest != null and cEarnest != '' and cEarnest == 0">
        c.c_earnest = 0 AND
      </if>
      <if test="cEarnest != null and cEarnest != '' and cEarnest == 1">
        c.c_earnest != 0 AND
      </if>
      <if test="beginTime!=null and beginTime!=''">
        <![CDATA[  c_place_time >= DATE_FORMAT(#{beginTime}, '%Y-%m-%d') AND   ]]>
      </if>
      <if test="endTime!=null and endTime!=''">
        <![CDATA[  c_place_time <= DATE_FORMAT(#{endTime}, '%Y-%m-%d') AND    ]]>
      </if>
      <if test="uId != null">
        c.c_u_id = #{uId} AND
      </if>
      <if test="cSource != null and cSource != ''">
        c.c_source = #{cSource} AND
      </if>
      <if test="cStatu != null and cStatu != ''">
        c.c_statu = #{cStatu} AND
      </if>
    </where>
    limit #{page}, #{limit}
  </select>

  <select id="getTotal" resultType="Integer">
    SELECT COUNT(*) FROM c_arrive
  </select>

  <insert id="saveCArrive">
    INSERT INTO c_arrive(ca_ct_id, ca_callback)
    VALUES (#{caCtId}, #{caCallback})
  </insert>

  <delete id="delCAByCAId">
    DELETE FROM c_arrive WHERE ca_id = #{caId}
  </delete>

  <select id="queryCAByCaId" resultMap="BaseResultMap">
    SELECT * FROM c_arrive WHERE ca_id = #{caId}
  </select>

  <update id="editCAByCaId">
    UPDATE c_arrive SET ca_ct_id = #{caCtId}, ca_callback = #{caCallback}
    WHERE ca_id = #{caId}
  </update>

</mapper>