<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linxi.mapper.CReferralMapper">

  <resultMap id="BaseResultMap" type="com.linxi.entity.CReferral">
    <id column="cr_id" jdbcType="INTEGER" property="crId" />
    <result column="cr_ct_id" jdbcType="INTEGER" property="crCtId" />
    <result column="cr_old_hospital" jdbcType="VARCHAR" property="crOldHospital" />
    <result column="cr_hospital" jdbcType="VARCHAR" property="crHospital" />
    <result column="cr_cause" jdbcType="LONGVARCHAR" property="crCause" />
    <result column="cr_feedback" jdbcType="LONGVARCHAR" property="crFeedback" />
    <result column="crCallback" jdbcType="LONGVARCHAR" property="crCallback" />
  </resultMap>

  <select id="queryCR" resultMap="BaseResultMap">
    SELECT * FROM c_referral limit #{page}, #{limit}
  </select>

  <select id="getTotal" resultType="Integer">
    SELECT COUNT(*) FROM c_referral
  </select>

  <insert id="saveCReferral">
    INSERT INTO c_referral(cr_ct_id, cr_old_hospital, cr_hospital, cr_cause,
    cr_feedback, cr_callback) VALUES (#{crCId}, #{crOldHospital}, #{crHospital},
    #{crCause}, #{crFeedback}, #{crCallback})
  </insert>

  <delete id="delCRByCrId">
    DELETE FROM c_referral WHERE cr_id = #{crId}
  </delete>

  <select id="queryCRByCrId" resultMap="BaseResultMap">
    SELECT * FROM c_referral WHERE cr_id = #{crId}
  </select>

  <update id="editCRByCrId">
    UPDATE c_referral SET cr_ct_id = #{crCtId}, cr_old_hospital = #{crOldHospital},
    cr_hospital = #{crHospital}, cr_cause = #{crCause}, cr_feedback = #{crFeedback},
    cr_callback = #{crCallback} WHERE cr_id = #{crId}
  </update>

  <select id="queryCRByCrCId" resultMap="BaseResultMap">
    SELECT * FROM c_referral WHERE cr_ct_id = #{crCtId} limit #{page}, #{limit}
  </select>

  <select id="getTotalByCrCtId" resultType="Integer">
    SELECT COUNT(*) FROM c_referral WHERE cr_ct_id = #{crCtId}
  </select>

</mapper>