<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linxi.mapper.CStatusMapper">

  <resultMap id="BaseResultMap" type="com.linxi.entity.CStatus">
    <id column="cst_id" jdbcType="INTEGER" property="cstId" />
    <result column="cst_name" jdbcType="VARCHAR" property="cstName" />
  </resultMap>

</mapper>