<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linxi.mapper.CTransactionMapper">

  <resultMap id="BaseResultMap" type="com.linxi.entity.CTransaction">
    <id column="ct_id" jdbcType="INTEGER" property="ctId" />
    <result column="ct_c_id" jdbcType="INTEGER" property="ctCId" />
    <result column="ct_time" jdbcType="TIMESTAMP" property="ctTime" />
    <result column="ct_hospital" jdbcType="VARCHAR" property="ctHospital" />
  </resultMap>

  <!-- 高级筛选加分页查询预约 -->
  <select id="queryCTScreen" resultMap="BaseResultMap">
    SELECT ct.*, c.c_name AS cName, c.c_tel AS cTel, c.c_project AS cProject,
    c.c_earnest AS cEarnest, c.c_source AS cSource, c.c_statu AS cStatu,
    u.u_name AS uName FROM c_transaction ct
    LEFT JOIN customer c ON ct.ct_c_id = c.c_id
    LEFT JOIN user u ON c.c_u_id = u.u_id
    <where>
      <if test="cName != null and cName != ''">
        c.c_name LIKE '%${cName}%' AND
      </if>
      <if test="cTel != null and cTel != ''">
        c.c_tel = #{cTel} AND
      </if>
      <if test="cProject != null and cProject != ''">
        c.c_project = #{cProject} AND
      </if>
      <if test="ctHospital != null and ctHospital != ''">
        ct.ct_hospital = #{ctHospital} AND
      </if>
      <if test="cEarnest != null and cEarnest != '' and cEarnest == 0">
        c.c_earnest = 0 AND
      </if>
      <if test="cEarnest != null and cEarnest != '' and cEarnest == 1">
        c.c_earnest != 0 AND
      </if>
      <if test="beginTime!=null and beginTime!=''">
        <![CDATA[  c_place_time >= DATE_FORMAT(#{beginTime}, '%Y-%m-%d') AND   ]]>
      </if>
      <if test="endTime!=null and endTime!=''">
        <![CDATA[  c_place_time <= DATE_FORMAT(#{endTime}, '%Y-%m-%d') AND    ]]>
      </if>
      <if test="uId != null">
        c.c_u_id = #{uId} AND
      </if>
      <if test="cSource != null and cSource != ''">
        c.c_source = #{cSource} AND
      </if>
      <if test="cStatu != null and cStatu != ''">
        c.c_statu = #{cStatu} AND
      </if>
    </where>
    limit #{page}, #{limit}
  </select>

  <!-- 查询预约总数 -->
  <select id="getTotal" resultType="Integer">
    SELECT COUNT(*) FROM c_transaction
  </select>

  <!-- 新增预约 -->
  <insert id="saveCTransaction">
    INSERT INTO c_transaction(ct_c_id, ct_time, ct_hospital)
    VALUES (#{ctCId}, #{ctTime}, #{ctHospital}
  </insert>

  <!-- 根据编号删除预约 -->
  <delete id="delCTByCtId">
    DELETE FROM c_transaction WHERE ct_id = #{ctId}
  </delete>

  <!-- 根据编号查询预约 -->
  <select id="queryCTByCtId" resultMap="BaseResultMap">
    SELECT * FROM c_transaction WHERE ct_id = #{ctId}
  </select>

  <!-- 根据编号编辑预约 -->
  <update id="editCTByCtId">
    UPDATE c_transaction SET ct_c_id = #{ctCId}, ct_time = #{ctTime},
    ct_hospital = #{ctHospital} WHERE ct_id = #{ctId}
  </update>

  <!-- 根据客户编号查询预约 -->
  <select id="queryCTByCtCId" resultMap="BaseResultMap">
    SELECT * FROM c_transaction WHERE ct_c_id = #{ctCId} limit #{page}, #{limit}
  </select>

  <!-- 根据客户编号查询总预约 -->
  <select id="getTotalByCtCId" resultType="Integer">
    SELECT COUNT(*) FROM c_transaction WHERE ct_c_id = #{ctCId}
  </select>

</mapper>