<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linxi.mapper.CustomertransferMapper">

  <resultMap id="BaseResultMap" type="com.linxi.entity.Customertransfer">
    <id column="ctId" jdbcType="INTEGER" property="ctid" />
    <result column="ctCid" jdbcType="INTEGER" property="ctcid" />
    <result column="ctUsp" jdbcType="VARCHAR" property="ctusp" />
    <result column="ctUspId" jdbcType="INTEGER" property="ctuspid" />
    <result column="ctOldHospital" jdbcType="VARCHAR" property="ctoldhospital" />
    <result column="ctOldFeedback" jdbcType="VARCHAR" property="ctoldfeedback" />
    <result column="ctNewHospital" jdbcType="VARCHAR" property="ctnewhospital" />
    <result column="ctNewFeedback" jdbcType="VARCHAR" property="ctnewfeedback" />
    <result column="ctArrive" jdbcType="VARCHAR" property="ctarrive" />
    <result column="ctTransaction" jdbcType="VARCHAR" property="cttransaction" />
  </resultMap>

  <select id="queryTransferByCtcid" resultMap="BaseResultMap">
    SELECT * FROM customertransfer WHERE ctCid = #{ctcid}
  </select>
  
  <insert id="saveTransfer">
    INSERT INTO customertransfer(ctCid, ctUsp, ctUspId, ctOldHospital, ctOldFeedback,
    ctNewHospital, ctNewFeedback, ctArrive, ctTransaction)
    VALUES (#{ctcid}, #{ctusp}, #{ctuspid}, #{ctoldhospital}, #{ctoldfeedback},
    #{ctnewhospital}, #{ctnewfeedback}, #{ctarrive}, #{cttransaction})
  </insert>

  <update id="editTransferByCtid">
    UPDATE customertransfer SET ctOldHospital = #{ctoldhospital},
    ctOldFeedback = #{ctoldfeedback}, ctNewHospital = #{ctnewhospital},
    ctNewFeedback = #{ctnewfeedback}, ctArrive = #{ctarrive},
    ctTransaction = #{cttransaction} WHERE ctCid = #{ctcid}
  </update>
  
</mapper>