<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.linxi.mapper.CustomertransactionMapper">

  <resultMap id="BaseResultMap" type="com.linxi.entity.Customertransaction">
    <id column="cId" jdbcType="INTEGER" property="cid" />
    <result column="cName" jdbcType="VARCHAR" property="cname" />
    <result column="cTel" jdbcType="VARCHAR" property="ctel" />
    <result column="cProject" jdbcType="VARCHAR" property="cproject" />
    <result column="cRegistrationTime" jdbcType="TIMESTAMP" property="cregistrationtime" />
    <result column="cEarnest" jdbcType="VARCHAR" property="cearnest" />
    <result column="cUsp" jdbcType="VARCHAR" property="cusp" />
    <result column="cUspId" jdbcType="INTEGER" property="cuspid" />
    <result column="cAppointmentTime" jdbcType="TIMESTAMP" property="cappointmenttime" />
    <result column="cHospital" jdbcType="VARCHAR" property="chospital" />
    <result column="cArrive" jdbcType="INTEGER" property="carrive" />
    <result column="cTransaction" jdbcType="INTEGER" property="ctransaction" />
    <result column="cStatus" jdbcType="INTEGER" property="cstatus" />
  </resultMap>

  <select id="queryCTByCNameOrCusp" resultMap="BaseResultMap">
    SELECT * FROM customertransaction
    <where>
      <if test="cName != null and cName != ''">
        cName LIKE '%${cName}%'
      </if>
      <if test="cUsp != null and cUsp != ''">
        AND cUsp LIKE '%${cUsp}%'
      </if>
    </where>
    limit #{page}, #{limit}
  </select>

  <select id="getTotal" resultType="Integer">
    SELECT COUNT(*) FROM customertransaction
  </select>

  <insert id="saveCustomer">
    INSERT INTO customertransaction(cName, cTel, cProject, cRegistrationTime, cEarnest,
    cUsp, cUspId, cAppointmentTime, cHospital, cArrive, cTransaction, cStatus)
    VALUES (#{cname}, #{ctel}, #{cproject}, NOW(), #{cearnest}, #{cusp}, #{cuspid},
    #{cappointmenttime}, #{chospital}, #{carrive}, 0, 1)
  </insert>

  <select id="queryCustomerByCid" resultMap="BaseResultMap">
    SELECT * FROM customertransaction WHERE cId = #{cid}
  </select>

  <update id="editCustomerByCid">
    UPDATE customertransaction
     <set>
       <if test="cname != null and cname != ''">
         cName = #{cname},
       </if>
       <if test="ctel != null and ctel != ''">
         cTel = #{ctel},
       </if>
       <if test="cproject != null and cproject != ''">
         cProject = #{cproject},
       </if>
       <if test="cearnest != null and cearnest != ''">
         cEarnest = #{cearnest},
       </if>
       <if test="cappointmenttime != null">
         cAppointmentTime = #{cappointmenttime},
       </if>
       <if test="chospital != null and chospital != ''">
         cHospital = #{chospital},
       </if>
       <if test="carrive != null">
         cArrive = #{carrive},
       </if>
     </set>
    WHERE cId = #{cid}
  </update>

  <update id="editTransaction">
    UPDATE customertransaction SET ctransaction = 1 WHERE cId = #{cid}
  </update>

  <delete id="delCustomerByCid">
    DELETE FROM customertransaction WHERE cId = #{cid}
  </delete>
  
</mapper>