<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>未到店列表</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	</head>
	<body>

	<!-- 高级筛选 -->
	<br />
	<div>
		&nbsp;&nbsp;&nbsp;<button id="screen" type="button" class="layui-btn">高级筛选</button>
	</div>
	<br />

	<!-- 列出筛选条件 -->
	<div id="list">

	</div>

	<!-- 数据表格 -->
	<table class="layui-hide" id="tab" lay-filter="test" lay-data="{id: 'tab'}"></table>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-1"></i></div>
		</script>

		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="reroute">改约</a>
			<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="appoint">待预约</a>
		</script>

		<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
		<!--<script th:src="@{/layui/layui.js}"></script>-->
		<script src="//cdn.bootcdn.net/ajax/libs/pym/1.3.2/pym.v1.min.js"></script>
		<script>

            new pym.Child({ polling: 500 });
            layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element'], function(){
                var laydate = layui.laydate //日期
                    ,laypage = layui.laypage //分页
                    ,layer = layui.layer //弹层
                    ,table = layui.table //表格
                    ,upload = layui.upload //上传
                    ,element = layui.element //元素操作
                    ,$ = layui.jquery //jQuery

                //从sessionStorage中获取用户编号和角色名称
                var uId = sessionStorage.getItem('uId');
                var rName = sessionStorage.getItem('rName');

                //筛选条件
                function screen(name, value, text){
                    //判断是否是报名时间
                    var condition;
                    if(name == "cPlaceTime"){
                        condition = "#beginTime";
					}else{
                        condition = "#"+name;
					}
                    //判断是否存在该条件
                    if($(condition).val() == undefined){
                        //新增节点
                        var div = document.createElement("div");
                        div.setAttribute('id', 'div'+name);
                        div.setAttribute('class', 'layui-input-inline');
                        var innerHTML = "<div class='layui-form-mid layui-word-aux'>"+
                            				"&nbsp;&nbsp;&nbsp;";
                        if(name == "cName"){
                            innerHTML += "姓名：";
                        }else if(name == "cTel"){
                            innerHTML += "电话：";
                        }else if(name == "cProject"){
                            innerHTML += "报名项目：";
                        }else if(name == "cEarnest"){
                            innerHTML += "是否交定金：";
                        }else if(name == "cSource"){
                            innerHTML += "来源：";
                        }else if(name == "cUId"){
                            innerHTML += "负责人：";
                        }else if(name == "cPlaceTime"){
                            innerHTML += "报名时间：";
                        }
                        if(name == "cPlaceTime"){
                            var beginTime = value.split(" - ")[0];
                            var endTime = value.split(" - ")[1];
                            innerHTML += "<span id='span"+name+"'>"+text+"</span>"+
                                "<input type='hidden' id='beginTime' value='"+beginTime+"'>"+
                                "<input type='hidden' id='endTime' value='"+endTime+"'>"+
                                "</div>"+
                                "<div class='layui-input-inline' style='cursor: pointer; padding: 10px 0px;'>"+
                                "<i class='layui-icon layui-icon-close' id='close"+name+"'></i>"+
                                "</div>";
                        }else{
                            innerHTML += "<span id='span"+name+"'>"+text+"</span>"+
                                "<input type='hidden' id='"+name+"' value='"+value+"'>"+
                                "</div>"+
                                "<div class='layui-input-inline' style='cursor: pointer; padding: 12px 0px;'>"+
                                "<i class='layui-icon layui-icon-close' id='close"+name+"'></i>"+
                                "</div>";
                        }
                        div.innerHTML = innerHTML;
                        document.getElementById("list").appendChild(div);
                        //关闭事件（移除节点）
                        $("#close"+name).click(function(){
                            list.removeChild(document.getElementById("div"+name));
                            //根据筛选条件查询客户
                            tableReload();
                        });
                    }else{
                        //改变已有的值
                        $("#span"+name).html(text);
                        if(name != "cPlaceTime"){
							$("#"+name).val(value);
                        }else{
                            var beginTime = value.split(" - ")[0];
                            var endTime = value.split(" - ")[1];
                            $("#beginTime").val(beginTime);
                            $("#endTime").val(endTime);
						}
                    }
                }

                //表格重载
				function tableReload(){

                    //获取筛选条件
                    var screenList = $("#list [type=hidden]");
                    //条件参数
                    var param = "";
                    for(var i = 0; i < screenList.length; i++){
						param += screenList[i].id + ":" + screenList[i].value + ",";
					}
					//根据筛选条件查询
                    table.reload('tab', {
                        url: '/arrive/queryCScreenByCTypeId?uId='+uId+'&rName='+rName+'&ctType=未到店'
                        ,where: {
                            param: param
                        }
                        ,page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });

				}

                //执行一个 table 实例
                table.render({
                    elem: '#tab'
                    ,url: '/arrive/queryCScreenByCTypeId?uId='+uId+'&rName='+rName+'&ctType=未到店' //数据接口
                    ,title: '未到店客户表' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 20 //每页显示条数
                    ,limits: [20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: '#toolbarDemo' //刷新、增加工具栏
                    ,defaultToolbar: ['filter', 'exports', 'print'] //筛选、导出、打印工具栏
                    ,cols: [ //表头
                        [
                            {field: 'cId', minWidth: 120, title: 'ID', sort: true, align:'center'}
                            ,{field: 'cName', minWidth: 120, title: '姓名', align:'center'}
                            ,{field: 'cSex', minWidth: 120, title: '性别', sort: true, align:'center'}
                            ,{field: 'cAge', minWidth: 120, title: '年龄', align:'center'}
                            ,{field: 'cTel', minWidth: 120, title: '电话', align:'center'}
                            ,{field: 'cProject', minWidth: 120, title: '报名项目', align:'center'}
                            ,{field: 'cPlaceTime', minWidth: 200, title: '报名时间', align:'center'}
                            ,{field: 'hName', minWidth: 120, title: '预约门诊', align:'center'}
                            ,{field: 'cRemark', minWidth: 120, title: '备注', align:'center'}
                            ,{field: 'cEarnest', minWidth: 120, title: '定金', align:'center'}
                            ,{field: 'uName', minWidth: 120, title: '负责人', align:'center'}
                            ,{field: 'cSource', minWidth: 120, title: '来源', align:'center'}
                            ,{field: 'cMessage', minWidth: 120, title: '症状信息', align:'center'}
                            ,{field: 'cType', minWidth: 120, title: '状态', align:'center'}
                            ,{fixed: 'right', minWidth: 150, align:'center', toolbar: '#barDemo'}
                        ]
                    ]
                });

                //监听头工具栏事件
                table.on('toolbar(test)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id)
                        ,data = checkStatus.data; //获取选中的数据
                    switch(obj.event){
                        case 'refresh':
                            tableReload();
                            break;
                    }
                });

                //监听行工具事件
                table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                    var data = obj.data //获得当前行数据
                        ,layEvent = obj.event; //获得 lay-event 对应的值
                    if(layEvent === 'reroute'){
                        //弹出改约页面
                        var ix = layer.open({
                            type: 2, //层类型，iframe
                            title: '新增改约记录',
                            content: ['/reroutesave?cId='+data.cId+
                            '&cName='+data.cName+'&hId='+data.hId+'&hName='+data.hName+
							'&aTime='+data.aTime],
                            area: ['450px', '450px'],
                            resize: false,
                            btn: '确定',
                            btn1: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                //获取值
                                var reCId = $(body).find("#reCId").val();
                                var reHId = $(body).find("#reHId").val();
                                var reLastTime = $(body).find("#reLastTime").val();
                                var reTime = $(body).find("#reTime").val();
                                var reCause = $(body).find("#reCause").val();
                                if (reTime != '' && reCause != '' && reCause.trim() != '') {
                                    $.post("/reroute/saveReroute", {uId:uId, reCId:reCId, reHId:reHId,
                                            reLastTime:reLastTime, reTime:reTime, reCause:reCause.trim()},
                                        function (obj) {
                                            layer.msg(obj.msg, {time: 500}, function () {
                                                layer.close(ix);
                                                tableReload();
                                            });
                                        }
                                    );
                                } else {
                                    layer.msg('请输入带星号的必填项');
                                }
                            },
                            cancel: function(index, layero){
                                layer.close(index);
                            }
                        });
                    } else if(layEvent === 'appoint'){
                        layer.confirm('确定更改为待预约状态？', {icon: 3, title:'提示'}, function(index){
                            $.get("/customer/editCTypeIdByCId", {cId:data.cId, cType:"待预约"},
                                function (obj) {
                                    layer.msg(obj.msg, {time: 500}, function () {
                                        layer.close(ix);
                                        tableReload();
                                    });
                                }
                            );
                            layer.close(index);
                        });
                    }
                });

                //弹出高级筛选列表
                $("#screen").click(function(){
                    layer.open({
                        type: 2, //层类型，iframe
                        title: '高级筛选',
                        content: ['screen?cType=未到店'],
                        area: ['1000px', '420px'],
                        resize: false,
                        btn: '确定',
                        btn1: function(index, layero){
                            var body = layer.getChildFrame('body', index);
                            //获取筛选值
                            var cName = $(body).find("#cName").val();
                            var cTel = $(body).find("#cTel").val();
                            var cProject = $(body).find("#cProject").val();
                            //给是否交定金赋值
                            var cEarnest;
                            var cEarnestText;
                            if($(body).find("[name=cEarnest]")[0].checked){
                                cEarnest = $(body).find("[name=cEarnest]")[0].value;
                                cEarnestText = $(body).find("[name=cEarnest]")[0].title;
                            }
                            if($(body).find("[name=cEarnest]")[1].checked){
                                cEarnest = $(body).find("[name=cEarnest]")[1].value;
                                cEarnestText = $(body).find("[name=cEarnest]")[1].title;
                            }
                            var cUId = $(body).find("#cUId").val();
                            var cSource = $(body).find("#cSource").val();
                            var cPlaceTime = $(body).find("#cPlaceTime").val();
                            //新增筛选条件或者修改
                            if(cName != ''){
                                screen("cName", cName.trim(), cName.trim());
                            }
                            if(cTel != ''){
                                screen("cTel", cTel.trim(), cTel.trim());
                            }
                            if(cProject != ''){
                                var cProjectText = $(body).find("#cProject [value="+cProject+"]").text();
                                screen("cProject", cProject, cProjectText);
                            }
                            if(cEarnest != undefined){
                                screen("cEarnest", cEarnest, cEarnestText);
                            }
                            if(cUId != ''){
                                var cUIdText = $(body).find("#cUId [value="+cUId+"]").text();
                                screen("cUId", cUId, cUIdText);
                            }
                            if(cSource != ''){
                                screen("cSource", cSource.trim(), cSource.trim());
                            }
                            if(cPlaceTime != ''){
                                screen("cPlaceTime", cPlaceTime, cPlaceTime);
                            }
                            //关闭弹出框
                            layer.close(layer.index);
                            //根据筛选条件查询客户
                            tableReload();
                        },
                        cancel: function(layero,index){
                            layer.close(layer.index);
                        }
                    });
                });

            });

		</script>

	</body>
</html>
