<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>待到店列表</title>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
		<style>
			.layui-table-fixed .layui-table-body {
				height: auto!important;
			}
			.layui-table-fixed.layui-hide {
				display: block!important;
			}
		</style>
	</head>
	<body>

	<br>

	<div class="layui-fluid">
		<div class="layui-row">
			<div class="layui-col-md4">
				<label class="layui-form-label">姓名</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchCName" autocomplete="off">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">电话</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchCTel" autocomplete="off">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">报名项目</label>
				<div class="layui-input-inline layui-form">
					<select id="searchClProject">
						<option value=""></option>
						<option value="种植牙">种植牙</option>
						<option value="隐形矫正">隐形矫正</option>
						<option value="其他">其他</option>
					</select>
				</div>
			</div><br><br><br>
			<div class="layui-col-md4">
				<label class="layui-form-label">报名费</label>
				<div class="layui-input-inline layui-form">
					<input type="radio" name="searchclEntryFee" value="0" title="否">
					<input type="radio" name="searchclEntryFee" value="1" title="是">
					<input type="radio" name="searchclEntryFee" value="2" title="全部" checked>
				</div>
			</div>
			<div class="layui-col-md4" id="principal">
				<label class="layui-form-label">负责人</label>
				<div class="layui-input-inline layui-form">
					<select id="searchClUId">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">来源</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchClSource" autocomplete="off">
				</div>
			</div><br><br><br>
			<div class="layui-col-md8">
				<label class="layui-form-label">预约时间</label>
				<div class="layui-input-inline layui-form">
					<input type="text" id="searchATime" readonly
						   autocomplete="off" class="layui-input" style="width: 300px;">
				</div>
			</div><br><br><br>
		</div>
		<div style="text-align: center;">
			<button class="layui-btn" onclick="tableReload()">查询</button>
			<button class="layui-btn" onclick="exportDataByScreen()">导出</button>
		</div>
	</div>

	<!-- 数据表格 -->
	<table class="layui-hide" id="tab" lay-filter="test" lay-data="{id: 'tab'}"></table>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-1"></i></div>
		</script>

		<script type="text/html" id="barDemo">
			<a class="layui-btn layui-btn-xs" lay-event="dispose">处理</a>
		</script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>

		<script th:src="@{/js/detail.js}"></script>

		<script>

            var layer = layui.layer //弹层
                ,table = layui.table //表格
                ,element = layui.element //元素操作
                ,$ = layui.jquery //jQuery
                ,laydate = layui.laydate //时间控件
                ,form = layui.form //表单

            //从sessionStorage中获取用户编号和角色名称
            var uId = sessionStorage.getItem('uId');
            var uName = sessionStorage.getItem('uName');
            var rName = sessionStorage.getItem('rName');

            //时间控件
            laydate.render({
                elem: '#searchATime' //指定元素
                ,type: 'datetime' //时间格式
                ,trigger: 'click' //采用click弹出
                ,range: true //开启左右面板范围选择
            });

            if (rName == "销售员"){
                saleTable();
                $("#searchClUId").attr("disabled", "disabled");
                form.render('select');
            } else {
                adminTable();
                //获取角色为销售员的用户对象
                $.get("/user/queryUserByRName", function (res){
                    //定义负责人下拉框内容
                    var html = "";
                    $.each(res.data, function (index, item) {
                        html += "<option value='" + item.uId + "'>" + item.uName + "</option>";
                    });
                    $("#searchClUId").append(html);
                    //append后必须重新渲染
                    form.render('select');
                })
            }

            //获取所有客户状态
            $.get("/ctype/queryCtype", function (res){
                //定义负责人下拉框内容
                var html = "";
                $.each(res.data, function (index, item) {
                    html += "<option value='" + item.ctId + "'>" + item.ctType + "</option>";
                });
                $("#searchClTypeId").append(html);
                //append后必须重新渲染
                form.render('select');
            });

            //表格重载
            function tableReload(){
                //获取筛选条件
                var cName = $("#searchCName").val();
                var cTel = $("#searchCTel").val();
                var clProject = $("#searchClProject").val();
                var clEntryFee;
                if ($("[name=searchclEntryFee]")[0].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[0].value;
                } else if ($("[name=searchclEntryFee]")[1].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[1].value;
                } else if ($("[name=searchclEntryFee]")[2].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[2].value;
                }
                var clUId = $("#searchClUId").val();
                var clSource = $("#searchClSource").val();
                var searchATime = $("#searchATime").val();
                var beginTime = null;
                var endTime = null;
                if (searchATime != null && searchATime != ""){
                    var beginTime = searchATime.split(" - ")[0];
                    var endTime = searchATime.split(" - ")[1];
                }
                //根据筛选条件查询
                table.reload('tab', {
                    url: '/customer/queryCScreen?uId='+uId+'&rName='+rName+'&ctType=待到店'+'&export=0'
                    ,where: {
                        cName: cName
                        ,cTel: cTel
                        ,clProject: clProject
                        ,clEntryFee: clEntryFee
                        ,clUId: clUId
                        ,clSource: clSource
                        ,beginTime: beginTime
                        ,endTime: endTime
                    }
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                });
            }

            //导出数据
            function exportDataByScreen(){
                //获取筛选条件
                var cName = $("#searchCName").val();
                var cTel = $("#searchCTel").val();
                var clProject = $("#searchclProject").val();
                var clEntryFee;
                if ($("[name=searchclEntryFee]")[0].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[0].value;
                } else if ($("[name=searchclEntryFee]")[1].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[1].value;
                } else if ($("[name=searchclEntryFee]")[2].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[2].value;
                }
                var clUId = $("#searchclUId").val();
                var clSource = $("#searchclSource").val();
                var searchATime = $("#searchATime").val();
                var beginTime = "";
                var endTime = "";
                if (searchATime != null && searchATime != ""){
                    beginTime = searchATime.split(" - ")[0];
                    endTime = searchATime.split(" - ")[1];
                }
                //根据筛选条件查询
                $.ajax({
                    url: '/customer/queryCScreen?uId='+uId+'&rName='+rName+'&ctType=待到店',
                    type: 'get',
                    data: {
                        cName: cName
                        ,cTel: cTel
                        ,clProject: clProject
                        ,clEntryFee: clEntryFee
                        ,clUId: clUId
                        ,clSource: clSource
                        ,beginTime: beginTime
                        ,endTime: endTime
                        ,export: 1
                        ,page: 1
                        ,limit: 10
                    },
                    async: false,
                    dataType: 'json',
                    success: function (res) {
                        //使用table.exportFile()导出数据
                        table.exportFile('tab', res.data, 'xls');
                    }
                });
            }

            //执行一个 table 实例
            function adminTable() {
                table.render({
                    elem: '#tab'
                    ,url: '/customer/queryCScreen?uId='+uId+'&rName='+rName+'&ctType=待到店'+'&export=0' //数据接口
                    ,title: '待到店客户' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 10 //每页显示条数
                    ,limits: [10, 20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: '#toolbarDemo' //刷新、增加工具栏
                    ,defaultToolbar: ['filter'] //筛选工具栏
                    ,cols: [ //表头
                        [
                            {field: 'cName', minWidth: 120, title: '姓名', align:'center'
                                ,templet: '<div><a href="javascript:goDetail({{d.cId}}, {{d.clId}}, {{d.clUId}});" class="layui-table-link">{{d.cName}}</a></div>'
                            }
                            ,{field: 'cTel', minWidth: 120, title: '电话', align:'center'}
                            ,{field: 'uName', minWidth: 120, title: '负责人', align:'center'}
                            ,{field: 'hName', minWidth: 120, title: '预约门诊', align:'center'}
                            ,{field: 'aTime', minWidth: 200, title: '预约时间', align:'center'}
                            ,{field: 'isDue', minWidth: 200, title: '预约状态', align: 'center', sort: true
                            	,templet: function (data) {
									if (data.isDue == "预约已过") {
										return "<span style='color: #FF0000;'>" + data.isDue + "</span>"
									} else {
										return data.isDue
									}
								}
                        	}
                            ,{field: 'clProject', minWidth: 120, title: '报名项目', align:'center'}
                            ,{field: 'clMessage', minWidth: 120, title: '症状信息', align:'center'}
                            ,{field: 'clEntryFee', minWidth: 120, title: '报名费', align:'center'}
                            ,{field: 'clPlaceTime', minWidth: 200, title: '报名时间', align:'center', sort:true}
                            ,{fixed: 'right', minWidth: 90, title: '操作', toolbar: '#barDemo', align:'center'}
                        ]
                    ]
                });
            }

            //执行一个 table 实例
            function saleTable() {
                table.render({
                    elem: '#tab'
                    ,url: '/customer/queryCScreen?uId='+uId+'&rName='+rName+'&ctType=待到店'+'&export=0' //数据接口
                    ,title: '待到店客户' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 10 //每页显示条数
                    ,limits: [10, 20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: '#toolbarDemo' //刷新、增加工具栏
                    ,defaultToolbar: ['filter'] //筛选工具栏
                    ,cols: [ //表头
                        [
                            {field: 'cName', minWidth: 120, title: '姓名', align:'center'
                                ,templet: '<div><a href="javascript:goDetail({{d.cId}}, {{d.clId}}, {{d.clUId}});" class="layui-table-link">{{d.cName}}</a></div>'
                            }
                            ,{field: 'cTel', minWidth: 120, title: '电话', align:'center'}
                            ,{field: 'hName', minWidth: 120, title: '预约门诊', align:'center'}
                            ,{field: 'aTime', minWidth: 200, title: '预约时间', align:'center'}
                            ,{field: 'isDue', minWidth: 200, title: '预约状态', align:'center', sort: true
								,templet:function (data){
									if (data.isDue == "预约已过"){
                                    	return "<span style='color: #FF0000;'>"+data.isDue+"</span>"
									} else {
                                        return data.isDue
									}
                            	}
                            }
                            ,{field: 'clProject', minWidth: 120, title: '报名项目', align:'center'}
                            ,{field: 'clMessage', minWidth: 120, title: '症状信息', align:'center'}
                            ,{field: 'clEntryFee', minWidth: 120, title: '报名费', align:'center'}
                            ,{field: 'clPlaceTime', minWidth: 200, title: '报名时间', align:'center', sort:true}
                            ,{fixed: 'right', minWidth: 90, title: '操作', toolbar: '#barDemo', align:'center'}
                        ]
                    ]
                });
            }

			//监听头工具栏事件
			table.on('toolbar(test)', function(obj){
				var checkStatus = table.checkStatus(obj.config.id)
					,data = checkStatus.data; //获取选中的数据
				switch(obj.event){
					case 'refresh':
						tableReload();
						break;
				}
			});

			//监听行工具事件
			table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
				var data = obj.data //获得当前行数据
					,layEvent = obj.event; //获得 lay-event 对应的值
				/*if(layEvent === 'arrive'){
					//弹出未到店页面
					layer.open({
						type: 2, //层类型，iframe
						title: '新增未到店客户',
						content: ['/arrivesave?cId='+data.cId+'&clId='+data.clId+'&aId='+data.aId+
                        	'&cName='+data.cName+'&hId='+data.hId+'&hName='+data.hName],
						area: ['400px', '350px'],
						resize: false,
						btn: '确定',
						btn1: function (index, layero) {
							var body = layer.getChildFrame('body', index);
							//获取值
							var cId = $(body).find("#cId").val();
                            var clId = $(body).find("#clId").val();
                            var arAId = $(body).find("#arAId").val();
							var arHId = $(body).find("#arHId").val();
							var arCause = $(body).find("#arCause").val();
							if (arCause != '' && arCause.trim() != '') {
								$.post("/arrive/saveArrive", {uId:uId, cId:cId, clId:clId,
										arAId:arAId, arHId:arHId, arCause:arCause},
									function (obj) {
										layer.msg(obj.msg, {time: 500}, function () {
											layer.close(ix);
											tableReload();
										});
									}
								);
							} else {
								layer.msg('请输入未到店原因');
							}
						},
						cancel: function(index, layero){
							layer.close(index);
						}
					});
				} else if(layEvent === 'appoint'){
					//弹出改约页面
					layer.open({
						type: 2, //层类型，iframe
						title: '新增改约记录',
						content: ['/reroutesave?cId='+data.cId+'&clId='+data.clId+'&reUId='+data.clUId+
                        '&aId='+data.aId+'&cName='+data.cName+'&hId='+data.hId+'&hName='+data.hName+
						'&aTime='+data.aTime],
						area: ['450px', '450px'],
						resize: false,
						btn: '确定',
						btn1: function (index, layero) {
							var body = layer.getChildFrame('body', index);
							//获取值
							var cId = $(body).find("#cId").val();
                            var cName = $(body).find("#cName").val();
                            var reClId = $(body).find("#reClId").val();
                            var reUId = $(body).find("#reUId").val();
                            var aId = $(body).find("#aId").val();
							var reHId = $(body).find("#reHId").val();
							var reLastTime = $(body).find("#reLastTime").val();
							var reTime = $(body).find("#reTime").val();
							var reCause = $(body).find("#reCause").val();
							if (reTime != '' && reCause != '' && reCause.trim() != '') {
								$.post("/reroute/saveReroute", {uId:uId, uName:uName, cName:cName, cId:cId, reClId:reClId, reUId:reUId,
										aId:aId, reHId:reHId, reLastTime:reLastTime, reTime:reTime, reCause:reCause},
									function (obj) {
										layer.msg(obj.msg, {time: 500}, function () {
											layer.close(index);
											tableReload();
										});
									}
								);
							} else {
								layer.msg('请输入带星号的必填项');
							}
						},
						cancel: function(index, layero){
							layer.close(index);
						}
					});
				} else if(layEvent === 'fail'){
					//弹出未成交页面
					layer.open({
						type: 2, //层类型，iframe
						title: '新增未成交客户',
						content: ['/failsave?cId='+data.cId+'&clId='+data.clId+'&aId='+data.aId+
						'&cName='+data.cName+'&hId='+data.hId+'&hName='+data.hName],
						area: ['400px', '350px'],
						resize: false,
						btn: '确定',
						btn1: function (index, layero) {
							var body = layer.getChildFrame('body', index);
							//获取值
                            var cId = $(body).find("#cId").val();
                            var cName = $(body).find("#cName").val();
                            var clId = $(body).find("#clId").val();
							var flAId = $(body).find("#flAId").val();
							var flHId = $(body).find("#flHId").val();
							var flCause = $(body).find("#flCause").val();
							if (flCause != '' && flCause.trim() != '') {
								$.post("/fail/saveFail", {uId:uId, uName:uName, cName:cName, cId:cId, clId:clId,
										flAId:flAId, flHId:flHId, flCause:flCause.trim()},
									function (obj) {
										layer.msg(obj.msg, {time: 500}, function () {
											layer.close(index);
											tableReload();
										});
									}
								);
							} else {
								layer.msg('请输入未成交原因');
							}
						},
						cancel: function(index, layero){
							layer.close(index);
						}
					});
				} else if(layEvent === 'success'){
					//弹出成交页面
					layer.open({
						type: 2, //层类型，iframe
						title: '新增成交客户',
						content: ['/successsave?cId='+data.cId+'&clId='+data.clId+'&sAId='+data.aId+
						'&cName='+data.cName+'&hId='+data.hId+'&hName='+data.hName],
						area: ['500px', '450px'],
						resize: false,
						btn: '确定',
						btn1: function (index, layero) {
							var body = layer.getChildFrame('body', index);
							//获取值
                            var cId = $(body).find("#cId").val();
                            var cName = $(body).find("#cName").val();
                            var clId = $(body).find("#clId").val();
							var sAId = $(body).find("#sAId").val();
							var sHId = $(body).find("#sHId").val();
							var sMessage = $(body).find("#sMessage").val();
							var sSum = $(body).find("#sSum").val();
                            var sPaysum = $(body).find("#sPaysum").val();
							var sRemark = $(body).find("#sRemark").val();
							if (sSum != '' && sSum.trim() != '') {
								//声明格式是否正确
								var verify = true;
								//验证成交金额
								if(isNaN(sSum) || sSum <= 0){
									layer.msg("成交金额必须是大于零的数值");
									verify = false;
									return;
								}
                                //验证支付金额
                                if(isNaN(sPaysum) || sPaysum <= 0 || parseFloat(sPaysum) > parseFloat(sSum)){
                                    layer.msg("支付金额必须是大于零小于成交金额的数值");
                                    verify = false;
                                    return;
                                }
								if(verify) {
									$.post("/success/saveSuccess", {
											uId: uId,
                                            uName:uName,
											cName:cName,
                                            cId: cId,
                                            clId: clId,
											sAId: sAId,
											sHId: sHId,
											sMessage: sMessage,
											sSum: sSum.trim(),
                                            sPaysum: sPaysum.trim(),
											sRemark: sRemark
										},
										function (obj) {
											layer.msg(obj.msg, {time: 500}, function () {
												layer.close(index);
												tableReload();
											});
										}
									);
								}
							} else {
								layer.msg('请填写带星号的必填项');
							}
						},
						cancel: function(index, layero){
							layer.close(index);
						}
					});
				}*/
                if(layEvent === 'dispose') {
                    //弹出处理页面
                    layer.open({
                        type: 2, //层类型，iframe
                        title: '处理',
                        content: ['/dispose?cId='+data.cId+'&clId='+data.clId+'&aId='+data.aId+'&aTime='+data.aTime+
                        '&cName='+data.cName+'&hId='+data.hId+'&hName='+data.hName+'&reUId='+data.clUId+'&clEntryFee='+data.clEntryFee],
                        area: ['550px', '550px'],
                        end: function(){
                            tableReload();
                        }
                    });
                }
			});

		</script>

	</body>
</html>
