<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<body>
<div class="layui-container">

	<div style="float: left">
		<h3 style="font-weight: bold">
			<a th:href="@{/customerlist}">
				<span class="glyphicon glyphicon-home"></span>客户信息列表
			</a>
			&nbsp;&gt;&nbsp;
			<a disabled="disabled">编辑客户信息</a>
		</h3>
	</div>

	<div style="float: right">
		<button class="layui-btn" onclick="javascript:location.href = document.referrer;">
			返回
		</button>
	</div>
	<br><br><br>


	<div>
		<div class="layui-card-body">
			<label th:text="${c.cName}"></label><br>
			<label th:text="${c.cTel}"></label><br>
		</div>
	</div>

	<div class="layui-tab">

		<ul class="layui-tab-title">
			<li class="layui-this">客户信息</li>
			<li>预约记录</li>
			<li>转诊记录</li>
			<li>成交记录</li>
		</ul>

		<div class="layui-tab-content">

			<!-- 客户信息 -->
			<div class="layui-tab-item layui-show">
				<input type="hidden" id="cId" th:value="${c.cId}">
				客户姓名：<label th:text="${c.cName}"></label>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				客户性别：<label th:text="${c.cSex}"></label><br /><br />
				客户电话：<label th:text="${c.cTel}"></label><br /><br />
				客户年龄：<label th:text="${c.cAge}"></label><br /><br />
				客户备注：<label th:text="${c.cRemark}"></label><br /><br />
				<div class="layui-row  layui-col-space10">

					<div class="anim-box layui-col-md5">
						<div class="layui-row">
							<div class="layui-card-header layui-col-md4" style="background-color: #F0F0F0;">患者信息收集</div>
						</div>
						<div class="layui-card-body" style="background-color: #F0F0F0;">
							<label th:text="${c.cMessage}"></label>
							<br /><br /><br />
						</div>
					</div>

					<div class="anim-box layui-col-md5">
						<div class="layui-row">
							<div class="layui-card-header layui-col-md4" style="background-color: #00FFFF;">患者回访信息</div>
						</div>
						<div class="layui-card-body" style="background-color: #00FFFF;">
							<label th:text="${c.cMessage}"></label>
							<br /><br /><br />
						</div>
					</div>

				</div>
			</div>

			<!-- 预约记录 -->
			<div class="layui-tab-item">
				<table class="layui-hide" id="transaction"></table>
			</div>

			<!-- 转诊记录 -->
			<div class="layui-tab-item">
				<table class="layui-hide" id="referral"></table>
			</div>

			<!-- 成交记录 -->
			<div class="layui-tab-item">
				<table class="layui-hide" id="success"></table>
			</div>

		</div>

	</div>

</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //加载form、laydate
    layui.use(['element', 'table'], function() {

        var element = layui.element
            ,$ = layui.jquery
            ,layer = layui.layer
			,table = layui.table;

        var cId = $("#cId").val();

        //预约记录
        table.render({
            elem: '#transaction'
            ,height: 350
            ,url: '../transaction/queryCTByCtCId?ctCId='+cId
            ,id: 'transaction' //表格id
            ,page: true //开启分页
            ,limit: 5 //每页显示条数
            ,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
            ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [
                [
                    {field:'ctHospital', title: '预约门诊'}
                    ,{field:'ctTime', title: '预约时间', sort: true}
                    ,{field:'ctArrive', title: '是否到店'}
                ]
            ]
        });

        //转诊记录
        table.render({
            elem: '#referral'
            ,height: 350
            ,url: '../referral/queryCRByCrCId?crCId='+cId
            ,id: 'referral' //表格id
            ,page: true //开启分页
            ,limit: 5 //每页显示条数
            ,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
            ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [
                [
                    {field:'crOldHospital', title: '上次门诊'}
                    ,{field:'crCause', title: '转诊原因'}
                    ,{field:'crHospital', title: '本次门诊'}
                ]
            ]
        });

        //成交记录
        table.render({
            elem: '#success'
            ,height: 350
            ,url: '../success/queryCSByCsCId?csCId='+cId
            ,id: 'success' //表格id
            ,page: true //开启分页
            ,limit: 5 //每页显示条数
            ,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
            ,toolbar: 'default' //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            ,cols: [
                [
                    {field:'csHospital', title: '成交门诊'}
                    ,{field:'csMajor', title: '成交主诉'}
                    ,{field:'csMajorsum', title: '主诉金额'}
                    ,{field:'csElse', title: '成交其他'}
                    ,{field:'csElsesum', title: '其他金额'}
                    ,{field:'csSum', title: '成交总金额'}
                    ,{field:'csPaysum', title: '客户支付金额'}
                    ,{field:'csFeedback', title: '门诊反馈'}
                ]
            ]
        });

    });
</script>
</body>
</html>