<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<body>
<div class="layui-form" lay-filter="layuiadmin-form-useradmin" id="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">

			<div class="layui-form-item">
				<label class="layui-form-label">预约门诊</label>
				<div class="layui-input-inline layui-form">
					<select name="rolename" id="aHId">
						<option value="1">哩哩门诊</option>
						<option value="2">非凡门诊</option>
						<option value="3">奥立卡门诊</option>
				
					</select>
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">预约类型</label>
				<div class="layui-input-inline layui-form">
					<select name="rolename" id="aTypeId">
						<option value="1">预约类型1</option>
						<option value="2">预约类型2</option>
						<option value="3">预约类型3</option>
						<option value="4">预约类型4</option>
						<option value="5">预约类型5</option>
					
					</select>
				</div>
			</div>

			<div class="layui-inline">
				<label class="layui-form-label">预约时间</label>
				<div class="layui-input-inline">
					<input type="text" class="layui-input" id="aTime" placeholder="yyyy-MM-dd">
				</div>
			</div>
			<div class="layui-form-item">
				<label class="layui-form-label">症状信息</label>
				<div class="layui-input-inline">
					<textarea th:text="${message}" id="cmessage" type="text" name="descr" lay-verify="required" autocomplete="off" class="layui-textarea">123</textarea>
				</div>
			</div>

		</div>
<script th:src="@{/layui/layui.js}"></script>
<script>
    //加载form、laydate
    layui.use(['form', 'laydate', 'layer'], function(){
        var form = layui.form
            ,laydate = layui.laydate//时间
            ,$ = layui.jquery
       
            ,layer = layui.layer;

   		//前后若干天可选，这里以7天为例
				laydate.render({
					elem: '#aTime'
					,trigger: 'click'//呼出事件改成click
					,min: 0
					,type: 'datetime'
					// ,max: 60
				});

    });

</script>
</body>
</html>