<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>客户信息列表</title>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
		<style>
			.baseMargin{
				margin: 5px 0 10px 0;
			}
			.baseColor{color: #1E9FFF}
			.layui-table-fixed .layui-table-body {
				height: auto!important;
			}
			.layui-table-fixed.layui-hide {
				display: block!important;
			}
		</style>
	</head>
	<body style='overflow:scroll;overflow-x:hidden'>

	<br>

	<div class="layui-fluid">
		<div class="layui-row">
			<div class="layui-col-md4">
				<label class="layui-form-label">姓名</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchCName" autocomplete="off">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">电话</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchCTel" autocomplete="off">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">报名项目</label>
				<div class="layui-input-inline layui-form">
					<select id="searchclProject">
						<option value=""></option>
						<option value="种植牙">种植牙</option>
						<option value="隐形矫正">隐形矫正</option>
						<option value="其他">其他</option>
					</select>
				</div>
			</div><br><br><br>
			<div class="layui-col-md4">
				<label class="layui-form-label">报名费</label>
				<div class="layui-input-inline layui-form">
					<input type="radio" name="searchclEntryFee" value="0" title="否">
					<input type="radio" name="searchclEntryFee" value="1" title="是">
					<input type="radio" name="searchclEntryFee" value="2" title="全部" checked>
				</div>
			</div>
			<div class="layui-col-md4" id="principal">
				<label class="layui-form-label">负责人</label>
				<div class="layui-input-inline layui-form">
					<select id="searchclUId">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">来源</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchclSource" autocomplete="off">
				</div>
			</div><br><br><br>
			<div class="layui-col-md4">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-inline layui-form">
					<select id="searchClTypeId">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="layui-col-md8">
				<label class="layui-form-label">报名时间</label>
				<div class="layui-input-inline layui-form">
					<input type="text" id="searchclPlaceTime" readonly
						   autocomplete="off" class="layui-input" style="width: 300px;">
				</div>
			</div><br><br><br>
		</div>
		<div style="text-align: center;">
			<button class="layui-btn" onclick="tableReload()">查询</button>
			<button class="layui-btn" onclick="exportDataByScreen()">导出</button>
		</div>
	</div>

	<!-- 数据表格 -->
	<table class="layui-hide" id="tab" lay-filter="test" lay-data="{id: 'tab'}"></table>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-1"></i></div>
			<div class='layui-inline' lay-event='add'><i class='layui-icon layui-icon-add-1'></i></div>
		</script>

		<script type="text/html" id="barDemo"></script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>

		<script th:src="@{/js/detail.js}"></script>

		<script>

			var layer = layui.layer //弹层
				,table = layui.table //表格
				,element = layui.element //元素操作
				,$ = layui.jquery //jQuery
				,laydate = layui.laydate //时间控件
				,form = layui.form //表单

			//从sessionStorage中获取用户编号和角色名称
			var uId = sessionStorage.getItem('uId');
            var uName = sessionStorage.getItem('uName');
			var rName = sessionStorage.getItem('rName');

            //时间控件
            laydate.render({
                elem: '#searchclPlaceTime' //指定元素
                ,type: 'datetime' //时间格式
                ,trigger: 'click' //采用click弹出
                ,range: true //开启左右面板范围选择
            });

            if (rName == "销售员"){
                saleTable();
                $("#searchclUId").attr("disabled", "disabled");
                form.render('select');
                var operate = "<a class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>";
                $("#barDemo").html(operate);
            } else if (rName == "管理者"){
                adminTable();
                var operate = "<a class='layui-btn layui-btn-xs layui-btn-normal' lay-event='update'>变更负责人</a>" +
							  "<a class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>";
                $("#barDemo").html(operate);
                //获取角色为销售员的用户对象
                $.get("/user/queryUserByRName", function (res){
                    //定义负责人下拉框内容
                    var html = "";
                    $.each(res.data, function (index, item) {
                        html += "<option value='" + item.uId + "'>" + item.uName + "</option>";
                    });
                    $("#searchclUId").append(html);
                    //append后必须重新渲染
                    form.render('select');
                })
            } else {
                superAdminTable();
                var operate = "<a class='layui-btn layui-btn-xs layui-btn-normal' lay-event='update'>变更负责人</a>" +
                    "<a class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>" +
                    "<a class='layui-btn layui-btn-danger layui-btn-xs' lay-event='del'>删除</a>";
                $("#barDemo").html(operate);
                //获取角色为销售员的用户对象
                $.get("/user/queryUserByRName", function (res){
                    //定义负责人下拉框内容
                    var html = "";
                    $.each(res.data, function (index, item) {
                        html += "<option value='" + item.uId + "'>" + item.uName + "</option>";
                    });
                    $("#searchclUId").append(html);
                    //append后必须重新渲染
                    form.render('select');
                })
            }

            //获取所有客户状态
            $.get("/ctype/queryCtype", function (res){
                //定义负责人下拉框内容
                var html = "";
                $.each(res.data, function (index, item) {
                    html += "<option value='" + item.ctId + "'>" + item.ctType + "</option>";
                });
                $("#searchClTypeId").append(html);
                //append后必须重新渲染
                form.render('select');
            })

            //时间控件
            laydate.render({
                elem: '#fTime' //指定元素
                ,type: 'datetime' //时间格式
                ,trigger: 'click' //采用click弹出
                ,value: new Date() //默认时间
                ,btns: ['now', 'confirm'] //工具按钮
            });

			//表格重载
			function tableReload(){
				//获取筛选条件
				var cName = $("#searchCName").val();
                var cTel = $("#searchCTel").val();
                var clProject = $("#searchclProject").val();
                var clEntryFee;
                if ($("[name=searchclEntryFee]")[0].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[0].value;
				} else if ($("[name=searchclEntryFee]")[1].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[1].value;
				} else if ($("[name=searchclEntryFee]")[2].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[2].value;
                }
                var clUId = $("#searchclUId").val();
                var clSource = $("#searchclSource").val();
                var clTypeId = $("#searchClTypeId").val();
                var searchclPlaceTime = $("#searchclPlaceTime").val();
                var beginTime = null;
                var endTime = null;
                if (searchclPlaceTime != null && searchclPlaceTime != ""){
                    beginTime = searchclPlaceTime.split(" - ")[0];
                    endTime = searchclPlaceTime.split(" - ")[1];
				}
				//根据筛选条件查询
				table.reload('tab', {
					url: '/customer/queryCScreen?uId='+uId+'&rName='+rName
					,where: {
						cName: cName
						,cTel: cTel
                        ,clProject: clProject
                        ,clEntryFee: clEntryFee
                        ,clUId: clUId
                        ,clSource: clSource
                        ,clTypeId: clTypeId
                        ,beginTime: beginTime
                        ,endTime: endTime
						,export: 0
					}
					,page: {
						curr: 1 //重新从第 1 页开始
					}
				});
			}

            //导出数据
            function exportDataByScreen(){
                //获取筛选条件
                var cName = $("#searchCName").val();
                var cTel = $("#searchCTel").val();
                var clProject = $("#searchclProject").val();
                var clEntryFee;
                if ($("[name=searchclEntryFee]")[0].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[0].value;
                } else if ($("[name=searchclEntryFee]")[1].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[1].value;
                } else if ($("[name=searchclEntryFee]")[2].checked){
                    clEntryFee = $("[name=searchclEntryFee]")[2].value;
                }
                var clUId = $("#searchclUId").val();
                var clSource = $("#searchclSource").val();
                var clTypeId = $("#searchClTypeId").val();
                var searchclPlaceTime = $("#searchclPlaceTime").val();
                var beginTime = "";
                var endTime = "";
                if (searchclPlaceTime != null && searchclPlaceTime != ""){
                    beginTime = searchclPlaceTime.split(" - ")[0];
                    endTime = searchclPlaceTime.split(" - ")[1];
                }
                //根据筛选条件查询
                $.ajax({
                    url: '/customer/queryCScreen?uId='+uId+'&rName='+rName,
                    type: 'get',
                    data: {
                        cName: cName
                        ,cTel: cTel
                        ,clProject: clProject
                        ,clEntryFee: clEntryFee
                        ,clUId: clUId
                        ,clSource: clSource
                        ,clTypeId: clTypeId
                        ,beginTime: beginTime
                        ,endTime: endTime
                        ,export: 1
                        ,page: 1
                        ,limit: 10
                    },
                    async: false,
                    dataType: 'json',
                    success: function (res) {
                        //使用table.exportFile()导出数据
                        table.exportFile('tab', res.data, 'xls');
                    }
                });
            }

            //执行一个 table 实例
            function superAdminTable() {
                table.render({
                    elem: '#tab'
                    ,url: '/customer/queryCScreen?uId='+uId+'&rName='+rName+'&export=0' //数据接口
                    ,title: '客户信息' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 10 //每页显示条数
                    ,limits: [10, 20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: '#toolbarDemo' //刷新、增加工具栏
                    ,defaultToolbar: ['filter'] //筛选工具栏
                    ,cols: [ //表头
                        [
                            {field: 'cName', minWidth: 120, title: '姓名', align:'center'
                                ,templet: '<div><a href="javascript:goDetail({{d.cId}}, {{d.clId}}, {{d.clUId}});" class="layui-table-link">{{d.cName}}</a></div>'
                            }
                            ,{field: 'cTel', minWidth: 120, title: '电话', align:'center'}
                            ,{field: 'uName', minWidth: 120, title: '负责人', align:'center'}
                            ,{field: 'clProject', minWidth: 120, title: '报名项目', align:'center'}
                            ,{field: 'clPlaceTime', minWidth: 200, title: '报名时间', align:'center', sort:true}
                            ,{field: 'clEntryFee', minWidth: 120, title: '报名费', align:'center'}
                            ,{field: 'cType', minWidth: 120, title: '状态', align:'center'}
                            ,{field: 'clSource', minWidth: 120, title: '来源', align:'center'}
                            ,{field: 'clRemark', minWidth: 200, title: '备注', align:'center'}
                            ,{field: 'clMessage', minWidth: 200, title: '症状信息', align:'center'}
                            ,{field: 'hName', minWidth: 150, title: '最近预约', align:'center'}
                            ,{field: 'sSum', minWidth: 120, title: '总成交金额', align:'center'}
                            ,{field: 'sPaysum', minWidth: 120, title: '总支付金额', align:'center'}
                            ,{field: 'sTime', minWidth: 200, title: '最早成交时间', align:'center'}
                            ,{fixed: 'right', minWidth: 200, title: '操作', toolbar: '#barDemo', align:'center'}
                        ]
                    ]
                });
            }

			//执行一个 table 实例
			function adminTable() {
                table.render({
                    elem: '#tab'
                    ,url: '/customer/queryCScreen?uId='+uId+'&rName='+rName+'&export=0' //数据接口
                    ,title: '客户信息' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 10 //每页显示条数
                    ,limits: [10, 20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: '#toolbarDemo' //刷新、增加工具栏
                    ,defaultToolbar: ['filter'] //筛选工具栏
                    ,cols: [ //表头
                        [
                            {field: 'cName', minWidth: 120, title: '姓名', align:'center'
                                ,templet: '<div><a href="javascript:goDetail({{d.cId}}, {{d.clId}}, {{d.clUId}});" class="layui-table-link">{{d.cName}}</a></div>'
                            }
                            ,{field: 'cTel', minWidth: 120, title: '电话', align:'center'}
                            ,{field: 'uName', minWidth: 120, title: '负责人', align:'center'}
                            ,{field: 'clProject', minWidth: 120, title: '报名项目', align:'center'}
                            ,{field: 'clPlaceTime', minWidth: 200, title: '报名时间', align:'center', sort:true}
                            ,{field: 'clEntryFee', minWidth: 120, title: '报名费', align:'center'}
                            ,{field: 'cType', minWidth: 120, title: '状态', align:'center'}
                            ,{field: 'clSource', minWidth: 120, title: '来源', align:'center'}
                            ,{field: 'clRemark', minWidth: 200, title: '备注', align:'center'}
                            ,{field: 'clMessage', minWidth: 200, title: '症状信息', align:'center'}
                            ,{field: 'hName', minWidth: 150, title: '最近预约', align:'center'}
                            ,{field: 'sSum', minWidth: 120, title: '总成交金额', align:'center'}
                            ,{field: 'sPaysum', minWidth: 120, title: '总支付金额', align:'center'}
                            ,{field: 'sTime', minWidth: 200, title: '最早成交时间', align:'center'}
                            ,{fixed: 'right', minWidth: 150, title: '操作', toolbar: '#barDemo', align:'center'}
                        ]
                    ]
                });
            }

            //执行一个 table 实例
            function saleTable() {
                table.render({
                    elem: '#tab'
                    ,url: '/customer/queryCScreen?uId='+uId+'&rName='+rName+'&export=0' //数据接口
                    ,title: '客户信息' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 10 //每页显示条数
                    ,limits: [10, 20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: '#toolbarDemo' //刷新、增加工具栏
                    ,defaultToolbar: ['filter'] //筛选工具栏
                    ,cols: [ //表头
                        [
                            {field: 'cName', minWidth: 120, title: '姓名', align:'center'
                                ,templet: '<div><a href="javascript:goDetail({{d.cId}}, {{d.clId}}, {{d.clUId}});" class="layui-table-link">{{d.cName}}</a></div>'
                            }
                            ,{field: 'cTel', minWidth: 120, title: '电话', align:'center'}
                            ,{field: 'clProject', minWidth: 120, title: '报名项目', align:'center'}
                            ,{field: 'clPlaceTime', minWidth: 200, title: '报名时间', align:'center', sort:true}
                            ,{field: 'clEntryFee', minWidth: 120, title: '报名费', align:'center'}
                            ,{field: 'cType', minWidth: 120, title: '状态', align:'center'}
                            ,{field: 'clSource', minWidth: 120, title: '来源', align:'center'}
                            ,{field: 'clRemark', minWidth: 200, title: '备注', align:'center'}
                            ,{field: 'clMessage', minWidth: 200, title: '症状信息', align:'center'}
                            ,{field: 'hName', minWidth: 150, title: '最近预约', align:'center'}
                            ,{field: 'sSum', minWidth: 120, title: '总成交金额', align:'center'}
                            ,{field: 'sPaysum', minWidth: 120, title: '总支付金额', align:'center'}
                            ,{field: 'sTime', minWidth: 200, title: '最早成交时间', align:'center'}
                            ,{fixed: 'right', minWidth: 90, title: '操作', toolbar: '#barDemo', align:'center'}
                        ]
                    ]
                });
            }

			//监听头工具栏事件
			table.on('toolbar(test)', function(obj){
				var checkStatus = table.checkStatus(obj.config.id)
					,data = checkStatus.data; //获取选中的数据
				switch(obj.event){
					case 'add':
						//弹出新增页面
						layer.open({
							type: 2, //层类型，iframe
							title: '新增客户',
							content: ['/customer/customersave'],
							area: ['1000px', '500px'],
							resize: false,
							cancel: function(index, layero){
								layer.close(index);
							}
						});
						break;
					case 'refresh':
						tableReload();
						break;
				}
			});

			//监听行工具事件
			table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
				var data = obj.data //获得当前行数据
					,layEvent = obj.event; //获得 lay-event 对应的值
				if(layEvent === 'del'){
					layer.confirm('确定删除吗？', {icon: 3, title:'提示'}, function(index){
						$.get("/customer/delCByCId?cId=" + data.cId + "&cName=" + data.cName + "&uId=" + uId + "&uName=" + uName, function(obj){
							if (obj.code == 200) {
								layer.msg(obj.msg, {time: 500}, function () {
									tableReload();
								});
							} else {
								layer.msg(obj.msg)
							}
						});
					});
				} else if(layEvent === 'edit'){
					//弹出编辑页面
					layer.open({
						type: 2, //层类型，iframe
						title: '编辑客户',
						content: ['/customer/queryCByCId?cId=' + data.cId],
						area: ['1000px', '500px'],
						resize: false,
						btn: '确定',
						btn1: function (index, layero) {
                            var body = layer.getChildFrame('body', index);
                            //获取值
                            var cId = $(body).find("#cId").val();
                            var cName = $(body).find("#cName").val();
                            var cSex = "";
                            if($(body).find("[name=cSex]")[0].checked){
                                cSex = $(body).find("[name=cSex]")[0].value;
                            } else if($(body).find("[name=cSex]")[1].checked){
                                cSex = $(body).find("[name=cSex]")[1].value;
                            } else if($(body).find("[name=cSex]")[2].checked){
                                cSex = $(body).find("[name=cSex]")[2].value;
                            }
                            var cAge = $(body).find("#cAge").val();
                            var cTel = $(body).find("#cTel").val();
                            var cWx = $(body).find("#cWx").val();
                            var clPlaceTime = $(body).find("#clPlaceTime").val();
                            var clProject = $(body).find("#clProject").val();
                            var clRemark = $(body).find("#clRemark").val();
                            var clMessage = $(body).find("#clMessage").val();
                            var clEntryFee = $(body).find("#clEntryFee").val();
                            var txt = $(body).find("#txt").text();
                            var clUId = $(body).find("#clUId").val();
                            var clSource = $(body).find("#clSource").val();
                            var clTypeId = $(body).find("#clTypeId").val();
                            if (cName != '' && cName.trim() != '' && cTel != '' && cTel.trim() != '' && clPlaceTime != '') {
                                //声明格式是否正确
                                var verify = true;
                                //验证姓名格式
                                if(cName.length > 20){
                                    layer.msg("姓名长度不能大于20位");
                                    verify = false;
                                    return;
                                }
                                //验证年龄格式
                                if(cAge != ''){
                                    if(isNaN(cAge) || cAge <= 0 || cAge >= 150){
                                        layer.msg("年龄必须是大于0小于150的数值");
                                        verify = false;
                                        return;
                                    }
                                }
                                //验证电话格式
                                if(!(/^1[3456789]\d{9}$/.test(cTel))){
                                    layer.msg("手机号码格式错误");
                                    verify = false;
                                    return;
                                }
                                //验证报名费格式
                                if (clEntryFee != '') {
                                    if (isNaN(clEntryFee) || clEntryFee < 0) {
                                        layer.msg("报名费必须是大于等于0的数值");
                                        verify = false;
                                        return;
                                    } else {
                                        clEntryFee = clEntryFee + txt;
									}
                                }
                                if(verify){
                                    $.post("/customer/editCByCId", {uId: uId, uName:uName, cId: cId, cName:cName.trim(), cSex:cSex, cAge:cAge, cTel:cTel.trim(), cWx:cWx, clPlaceTime:clPlaceTime, clProject:clProject,
                                            clMessage:clMessage, clRemark:clRemark, clEntryFee:clEntryFee, clUId:clUId, clSource:clSource, clTypeId:clTypeId},
                                        function (obj) {
                                            if (obj.code != 200){
                                                layer.msg(obj.msg);
                                            } else {
                                                layer.msg(obj.msg, {time: 500}, function () {
                                                    layer.close(index);
                                                    tableReload();
                                                });
                                            }
                                        }
                                    );
                                }
                            } else {
                                layer.msg('请输入带星号的必填项');
                            }
						},
						cancel: function(index, layero){
							layer.close(index);
						}
					});
				}else if(layEvent === 'update'){
				    if (data.uName == null || data.uName == ""){
				        layer.msg("请先分配负责人！");
					} else {
                        layer.confirm('确定变更负责人吗？', {icon: 3, title:'提示'}, function(index){
                            layer.open({
                                type: 2, //层类型，iframe
                                title: '变更负责人',
                                content: ['/editPrincipal?cId='+data.cId],
                                area: ['400px', '400px'],
                                resize: false,
                                btn: '确定',
                                btn1: function (index, layero) {
                                    var body = layer.getChildFrame('body', index);
                                    //获取值
                                    var cId = $(body).find("#cId").val();
                                    var clUId = $(body).find("#clUId").val();
                                    $.get("/clue/editPrincipal", {uId: uId, uName: uName, cId:cId, clUId:clUId},
                                        function (data) {
                                            if (data.code != 200){
                                                layer.msg(data.msg);
                                            } else {
                                                layer.msg(data.msg, {time: 500}, function () {
                                                    layer.close(index);
                                                    tableReload();
                                                });
                                            }
                                        }
                                    );
                                },
                                cancel: function(index, layero){
                                    layer.close(index);
                                }
                            })
                        });
					}
                }/* else if (layEvent === 'appoint'){
					if (data.cType == '待联系' || data.cType == '待预约'){
						//弹出预约页面
                        layer.open({
                            type: 2, //层类型，iframe
                            title: '新增预约客户',
                            content: ['/appointmentsave?clId='+data.clId+'&cName='+data.cName+'&atType=普通预约'],
                            area: ['450px', '450px'],
                            resize: false,
                            btn: '确定',
                            btn1: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                //获取值
                                var aClId = $(body).find("#aClId").val();
                                var aTime = $(body).find("#aTime").val();
                                var aHId = $(body).find("#aHId").val();
                                var atType = $(body).find("#atType").val();
                                if (aTime != '') {
                                    $.post("/appointment/saveAppointment", {uId:uId, uName:uName, aClId:aClId, aTime:aTime,
                                            aHId:aHId, atType:atType},
                                        function (obj) {
                                            layer.msg(obj.msg, {time: 500}, function () {
                                                layer.close(index);
                                                tableReload();
                                            });
                                        }
                                    );
                                } else {
                                    layer.msg('请输入预约时间');
                                }
                            },
                            cancel: function(index, layero){
                                layer.close(index);
                            }
                        });
					} else {
					    layer.msg('该客户不可预约');
					}
				}
                else if(layEvent === 'refund'){
				    if (data.clEntryFee == null || data.clEntryFee == ""){
						layer.msg("该客户没付报名费");
					} else {
                        layer.open({
                            type: 2, //层类型，iframe
                            title: '退报名费',
                            content: ['/refund?clId=' + data.clId],
                            area: ['400px', '400px'],
                            resize: false,
                            btn: '确定',
                            btn1: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                //获取值
                                var clId = $(body).find("#clId").val();
                                var money = $(body).find("#money").val();
                                if (money != "" && money != null){
                                    if (!isNaN(money) && 0 <= money && money <= data.clEntryFee){
                                        $.get("/clue/refund", {uId: uId, clId: clId, clEntryFee: money},
                                            function (obj) {
                                                layer.msg(obj.msg, {time: 500}, function () {
                                                    layer.close(index);
                                                    tableReload();
                                                });
                                            }
                                        );
									} else {
                                        layer.msg("退款金额必须是大于零小于报名费的数值，报名费为"+data.clEntryFee);
									}
								} else {
                                    layer.msg("退款金额不能为空");
								}
                            },
                            cancel: function (index, layero) {
                                layer.close(index);
                            }
                        })
                    }
                }*/

			});

		</script>

	</body>
</html>
