<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增客户信息</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<body>

<div class="layui-fluid">
    <br />
    <!--新增客户-->
    <div id="customer">
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color: red;">*&nbsp;</span>姓名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="cName" placeholder="请输入姓名"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;性别
            </label>
            <div class="layui-input-inline layui-form">
                <input type="radio" name="cSex" value="" title="未知" checked>
                <input type="radio" name="cSex" value="男" title="男">
                <input type="radio" name="cSex" value="女" title="女">
            </div>
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;年龄
            </label>
            <div class="layui-input-inline">
                <input type="text" id="cAge" placeholder="请输入年龄"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <br />
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span style="color: red;">*&nbsp;</span>电话
            </label>
            <div class="layui-input-inline">
                <input type="tel" id="cTel" placeholder="请输入电话" maxlength="11"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;微信号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="cWx" placeholder="请输入微信号"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;
                <span style="color: red;">*&nbsp;</span>报名时间
            </label>
            <div class="layui-input-inline">
                <input type="text" id="clPlaceTime" placeholder="请输入报名时间"
                       autocomplete="off" class="layui-input" readonly>
            </div>
        </div>
        <br />
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;报名项目
            </label>
            <div class="layui-input-inline layui-form">
                <select id="clProject">
                    <option value="种植牙">种植牙</option>
                    <option value="隐形矫正">隐形矫正</option>
                    <option value="其他">其他</option>
                </select>
            </div>
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报名费
            </label>
            <div class="layui-input-inline">
                <input type="text" id="clEntryFee" placeholder="请输入报名费"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责人
                <input type="hidden" id="clUId" value="">
            </label>
            <div class="layui-input-inline layui-form" id="admin">
                <select id="salelist" lay-filter="change">
                    <option value=""></option>
                </select>
            </div>
            <div class="layui-input-inline layui-form" id="sale">
                <input type="text" id="saleman" readonly class="layui-input">
            </div>
        </div>
        <br />
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来源
            </label>
            <div class="layui-input-inline">
                <input type="text" id="clSource" placeholder="请输入来源"
                       autocomplete="off" class="layui-input">
            </div>
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态
            </label>
            <div class="layui-input-inline layui-form">
                <input type="hidden" id="clTypeId">
                <input type="text" id="cType" readonly
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <br />
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;备注
            </label>
            <div class="layui-input-inline">
                <textarea class="layui-textarea" id="clRemark"
                          autocomplete="off"></textarea>
            </div>
            <label class="layui-form-label" style="width: auto;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;症状信息
            </label>
            <div class="layui-input-inline">
                <textarea class="layui-textarea" id="clMessage"
                          autocomplete="off"></textarea>
            </div>
        </div>
    </div>
    <!--新增预约-->
    <div id="appoint" style="display: none;">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="aCName" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门诊名称</label>
            <div class="layui-form layui-input-block">
                <select id="aHId"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预约时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="aTime" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预约类型</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="atType" value="初次预约" readonly>
            </div>
        </div>
    </div>
    <!--新增成交-->
    <div id="success" style="display: none;">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="sCName" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门诊名称</label>
            <div class="layui-input-block">
                <input type="hidden" id="sHId">
                <input type="text" class="layui-input" id="sHName" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门诊反馈</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="sMessage" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="layui-form-item" id="sClEntryFee">
            <label class="layui-form-label">抵扣报名费</label>
            <div class="layui-form layui-input-block">
                <input type="hidden" id="isDeduction">
                <input type="radio" name="clEntryFee" value="0" title="否" checked>
                <input type="radio" name="clEntryFee" value="1" title="是">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>成交金额
            </label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" placeholder="请输入成交金额"
                       autocomplete="off" id="sSum">
            </div>
            <div class="layui-form-mid layui-word-aux">（不含报名费）</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>支付金额
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="请输入支付金额"
                       autocomplete="off" id="sPaysum">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="sRemark" autocomplete="off"></textarea>
            </div>
        </div>
    </div>
    <div class="layui-form-item" id="customerBtn">
        <div class="layui-input-block" style="text-align: right;">
            <button class="layui-btn" onclick="cToA()">继续预约</button>
            <button class="layui-btn" onclick="cSave()">确认保存</button>
        </div>
    </div>
    <div class="layui-form-item" id="appointBtn" style="display: none;">
        <div class="layui-input-block" style="text-align: right;">
            <button class="layui-btn" onclick="aToPrevious()">上一步</button>
            <button class="layui-btn" onclick="aToS()">继续成交</button>
            <button class="layui-btn" onclick="aSave()">确认保存</button>
        </div>
    </div>
    <div class="layui-form-item" id="successBtn" style="display: none;">
        <div class="layui-input-block" style="text-align: right;">
            <button class="layui-btn" onclick="sToPrevious()">上一步</button>
            <button class="layui-btn" onclick="sSave()">确认保存</button>
        </div>
    </div>
</div>

<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>

<script>

    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //从sessionStorage中获取用户编号和用户名
    var uId = sessionStorage.getItem('uId');
    var uName = sessionStorage.getItem('uName');
    var rName = sessionStorage.getItem('rName');

    //时间控件
    laydate.render({
        elem: '#clPlaceTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
        ,value: new Date() //默认时间
    });

    //时间控件
    laydate.render({
        elem: '#aTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
    });


    if(rName != "销售员"){

        //管理员登录，隐藏负责人文本框，显示负责人下拉框
        $("#admin").addClass("layui-show");
        $("#sale").addClass("layui-hide");
        //状态赋值
        $("#cType").val("待分配");
        $("#clTypeId").val("1");

        //获取角色为销售员的用户对象
        $.get("/user/queryUserByRName", function (res){
            //定义负责人下拉框内容
            var html = "";
            $.each(res.data, function (index, item) {
                html += "<option value='" + item.uId + "'>" + item.uName + "</option>";
            });
            $("#salelist").append(html);
            //append后必须重新渲染
            form.render('select');
        })

    } else {
        //销售员登录，显示负责人文本框，隐藏负责人下拉框
        $("#admin").addClass("layui-hide");
        $("#sale").addClass("layui-show");
        //赋值
        $("#saleman").val(uName);
        $("#clUId").val(uId);
        //状态赋值
        $("#cType").val("待预约");
        $("#clTypeId").val("3");
    }

    //下拉框改变事件
    form.on('select(change)', function(data){
        //改变负责人编号
        $("#clUId").val(data.value+"");
        //改变客户状态
        if($("#clUId").val() != ""){
            $("#cType").val("待联系");
            $("#clTypeId").val("2");
        }else{
            $("#cType").val("待分配");
            $("#clTypeId").val("1");
        }
    })

    //获取所有门诊
    $.get("/hospital/queryHospital", function (res){
        //定义负责人下拉框内容
        var html = "";
        $.each(res.data, function (index, item) {
            html += "<option value='" + item.hId + "'>" + item.hName + "</option>";
        });
        $("#aHId").append(html);
        //append后必须重新渲染
        form.render('select');
    })

    //继续预约
    function cToA() {
        //获取客户信息
        var cName = $("#cName").val();
        var cAge = $("#cAge").val();
        var cTel = $("#cTel").val();
        var clPlaceTime = $("#clPlaceTime").val();
        var clEntryFee = $("#clEntryFee").val();
        if (cName != '' && cName.trim() != '' && cTel != '' && cTel.trim() != '' && clPlaceTime != '') {
            //声明格式是否正确
            var verify = true;
            //验证姓名格式
            if (cName.length > 20) {
                layer.msg("姓名长度不能大于20位");
                verify = false;
                return;
            }
            //验证年龄格式
            if (cAge != '') {
                if (isNaN(cAge) || cAge <= 0 || cAge >= 150) {
                    layer.msg("年龄必须是大于0小于150的数值");
                    verify = false;
                    return;
                }
            }
            //验证电话格式
            if (!(/^1[3456789]\d{9}$/.test(cTel))) {
                layer.msg("手机号码格式错误");
                verify = false;
                return;
            }
            //验证年龄格式
            if (cAge != '') {
                if (isNaN(cAge) || cAge <= 0 || cAge >= 150) {
                    layer.msg("年龄必须是大于0小于150的数值");
                    verify = false;
                    return;
                }
            }
            //验证报名费格式
            if (clEntryFee != '') {
                if (isNaN(clEntryFee) || cAge <= 0) {
                    layer.msg("报名费必须是大于0的数值");
                    verify = false;
                    return;
                }
            }
            //根据姓名和电话查询客户
            $.ajax({
                url:"/customer/queryCByCNameAndCTel",
                data:{cName:cName, cTel:cTel},
                async: false,
                success:function (data) {
                    if (data.code != 200){
                        layer.msg(data.msg);
                        verify = false;
                        return;
                    }
                }
            });
            if (verify){
                //隐藏新增客户信息、显示新增预约信息
                $("#customer").hide();
                $("#customerBtn").hide();
                $("#appoint").show();
                $("#appointBtn").show();
                //给预约客户姓名赋值
                $("#aCName").val($("#cName").val());
                //先得到当前iframe层的索引
                var index = parent.layer.getFrameIndex(window.name);
                var width = $(parent.window).width(); //浏览器当前窗口可视区域高度
                parent.layer.style(index, {
                    width: '500px'
                    ,height: '500px'
                    ,left: (width-500)/2+'px'
                });
            }
        } else {
            layer.msg("请填写带星号的必填项")
        }
    }

    //客户信息确认保存
    function cSave() {
        //获取客户信息
        var cName = $("#cName").val();
        var cSex = $("[name=cSex]").val();
        var cAge = $("#cAge").val();
        var cTel = $("#cTel").val();
        var cWx = $("#cWx").val();
        var clPlaceTime = $("#clPlaceTime").val();
        var clProject = $("#clProject").val();
        var clEntryFee = $("#clEntryFee").val();
        var clUId = $("#clUId").val();
        var clSource = $("#clSource").val();
        var clTypeId = $("#clTypeId").val();
        var clRemark = $("#clRemark").val();
        var clMessage = $("#clMessage").val();
        if (cName != '' && cName.trim() != '' && cTel != '' && cTel.trim() != '' && clPlaceTime != '') {
            //声明格式是否正确
            var verify = true;
            //验证姓名格式
            if (cName.length > 20) {
                layer.msg("姓名长度不能大于20位");
                verify = false;
                return;
            }
            //验证年龄格式
            if (cAge != '') {
                if (isNaN(cAge) || cAge <= 0 || cAge >= 150) {
                    layer.msg("年龄必须是大于0小于150的数值");
                    verify = false;
                    return;
                }
            }
            //验证电话格式
            if (!(/^1[3456789]\d{9}$/.test(cTel))) {
                layer.msg("手机号码格式错误");
                verify = false;
                return;
            }
            //验证报名费格式
            if (clEntryFee != '') {
                if (isNaN(clEntryFee) || cAge <= 0) {
                    layer.msg("报名费必须是大于0的数值");
                    verify = false;
                    return;
                }
            }
            if (verify){
                $.post("/customer/saveCustomer",
                    {uId: uId, uName:uName, cName:cName.trim(), cSex:cSex, cAge:cAge, cTel:cTel.trim(), cWx:cWx, clPlaceTime:clPlaceTime, clProject:clProject,
                        clMessage:clMessage, clRemark:clRemark, clEntryFee:clEntryFee, clUId:clUId, clSource:clSource, clTypeId:clTypeId},
                    function (obj) {
                        if (obj.code != 200){
                            layer.msg(obj.msg);
                        } else {
                            layer.msg(obj.msg, {time: 500}, function () {
                                parent.layer.closeAll();
                                parent.location.reload();
                            });
                        }
                    }
                );
            }
        } else {
            layer.msg("请填写带星号的必填项")
        }
    }

    //预约上一步
    function aToPrevious() {
        //隐藏新增客户信息、显示新增预约信息
        $("#customer").show();
        $("#customerBtn").show();
        $("#appoint").hide();
        $("#appointBtn").hide();
        //先得到当前iframe层的索引
        var index = parent.layer.getFrameIndex(window.name);
        var width = $(parent.window).width(); //浏览器当前窗口可视区域高度
        parent.layer.style(index, {
            width: '1000px'
            ,height: '500px'
            ,left: (width-1000)/2+'px'
        });
    }

    //继续成交
    function aToS() {
        //获取预约信息
        var cName = $("#aCName").val();
        var hId = $("#aHId").val();
        var hName = $("#aHId [value="+hId+"]").text();
        var aTime = $("#aTime").val();
        var clEntryFee = $("#clEntryFee").val();
        if (aTime != '') {
            //隐藏新增预约信息、显示新增成交信息
            $("#appoint").hide();
            $("#appointBtn").hide();
            $("#success").show();
            $("#successBtn").show();
            //赋值
            $("#sCName").val(cName);
            $("#sHId").val(hId);
            $("#sHName").val(hName);
            //判断是否可抵扣报名费并隐藏或显示
            if (clEntryFee != ""){
                $("#isDeduction").val("1");
                $("#sClEntryFee").show();
            } else {
                $("#isDeduction").val("0");
                $("#sClEntryFee").hide();
            }
        } else {
            layer.msg('请输入预约时间');
        }
    }

    //预约确认保存
    function aSave() {
        //获取客户信息
        var cName = $("#cName").val();
        var cSex = $("[name=cSex]").val();
        var cAge = $("#cAge").val();
        var cTel = $("#cTel").val();
        var cWx = $("#cWx").val();
        var clPlaceTime = $("#clPlaceTime").val();
        var clProject = $("#clProject").val();
        var clEntryFee = $("#clEntryFee").val();
        var clUId = $("#clUId").val();
        var clSource = $("#clSource").val();
        var clTypeId = $("#clTypeId").val();
        var clRemark = $("#clRemark").val();
        var clMessage = $("#clMessage").val();
        //获取预约信息
        var aTime = $("#aTime").val();
        var aHId = $("#aHId").val();
        var atType = $("#atType").val();
        if (aTime != ""){
            $.post("/appointment/saveCAndA",{
                    uId:uId
                    ,uName:uName
                    ,cName:cName
                    ,cSex:cSex
                    ,cAge:cAge
                    ,cTel:cTel
                    ,cWx:cWx
                    ,clPlaceTime:clPlaceTime
                    ,clProject:clProject
                    ,clEntryFee:clEntryFee
                    ,clUId:clUId
                    ,clSource:clSource
                    ,clTypeId:clTypeId
                    ,clRemark:clRemark
                    ,clMessage:clMessage
                    ,aTime:aTime
                    ,aHId:aHId
                    ,atType:atType
                },function (data) {
                    if (data.code != 200){
                        parent.layer.msg(data.msg);
                    } else {
                        layer.msg(data.msg, {time: 500}, function () {
                            parent.layer.closeAll();
                            parent.location.reload();
                        });
                    }
                }
            )
        } else {
            layer.msg("请填写预约时间")
        }
    }

    //成交上一步
    function sToPrevious() {
        //隐藏新增客户信息、显示新增预约信息
        $("#appoint").show();
        $("#appointBtn").show();
        $("#success").hide();
        $("#successBtn").hide();
    }

    //成交确认保存
    function sSave() {
        //获取客户信息
        var cName = $("#cName").val();
        var cSex = $("[name=cSex]").val();
        var cAge = $("#cAge").val();
        var cTel = $("#cTel").val();
        var cWx = $("#cWx").val();
        var clPlaceTime = $("#clPlaceTime").val();
        var clProject = $("#clProject").val();
        var clEntryFee = $("#clEntryFee").val();
        var clUId = $("#clUId").val();
        var clSource = $("#clSource").val();
        var clTypeId = $("#clTypeId").val();
        var clRemark = $("#clRemark").val();
        var clMessage = $("#clMessage").val();
        //获取预约信息
        var aTime = $("#aTime").val();
        var aHId = $("#aHId").val();
        var atType = $("#atType").val();
        //获取成交信息
        var sCName = $("#sCName").val();
        var sHId = $("#sHId").val();
        var sMessage = $("#sMessage").val();
        var isDeduction = "";
        if ($("[name=clEntryFee]")[1].checked){
            isDeduction = $("#isDeduction").val();
        }
        var sSum = $("#sSum").val();
        var sPaysum = $("#sPaysum").val();
        var sRemark = $("#sRemark").val();
        if (sSum != '' && sSum.trim() != '') {
            //声明格式是否正确
            var verify = true;
            //验证成交金额
            if(isNaN(sSum) || sSum <= 0){
                layer.msg("成交金额必须是大于零的数值");
                verify = false;
                return;
            }
            //验证支付金额
            if(isNaN(sPaysum) || sPaysum <= 0 || parseFloat(sPaysum) > parseFloat(sSum)){
                layer.msg("支付金额必须是大于零小于成交金额的数值");
                verify = false;
                return;
            }
            if(verify) {
                $.post("/success/saveCAndAAndS", {
                        uId:uId
                        ,uName:uName
                        ,cName:cName
                        ,cSex:cSex
                        ,cAge:cAge
                        ,cTel:cTel
                        ,cWx:cWx
                        ,clPlaceTime:clPlaceTime
                        ,clProject:clProject
                        ,clEntryFee:clEntryFee
                        ,clUId:clUId
                        ,clSource:clSource
                        ,clTypeId:clTypeId
                        ,clRemark:clRemark
                        ,clMessage:clMessage
                        ,aTime:aTime
                        ,aHId:aHId
                        ,atType:atType
                        ,sHId: sHId
                        ,sMessage: sMessage
                        ,isDeduction: isDeduction
                        ,sSum: sSum.trim()
                        ,sPaysum: sPaysum.trim()
                        ,sRemark: sRemark
                    },function (data) {
                        if (data.code != 200){
                            parent.layer.msg(data.msg);
                        } else {
                            layer.msg(data.msg, {time: 500}, function () {
                                parent.layer.closeAll();
                                parent.location.reload();
                            });
                        }
                    }
                );
            }
        } else {
            layer.msg('请填写带星号的必填项');
        }
    }

</script>
</body>
</html>