<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>客户信息详情</title>
	<link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<body>

	<!--保存客户信息-->
	<input type="hidden" id="cId" th:value="${customer.cId}">
	<input type="hidden" id="cName" th:value="${customer.cName}">
	<input type="hidden" id="cSex" th:value="${customer.cSex}">
	<input type="hidden" id="cAge" th:value="${customer.cAge}">
	<input type="hidden" id="cTel" th:value="${customer.cTel}">
    <input type="hidden" id="cSource" th:value="${customer.cSource}">
	<input type="hidden" id="cPlaceTime" th:value="${customer.cPlaceTime}">
	<input type="hidden" id="cType" th:value="${customer.cType}">
	<input type="hidden" id="cProject" th:value="${customer.cProject}">
	<input type="hidden" id="cEarnest" th:value="${customer.cEarnest}">
	<input type="hidden" id="cRemark" th:value="${customer.cRemark}">

	<!--头部信息-->
	<div>
		<ul>
			<li style="font-size: 22px;">
				<i class="layui-icon" style="font-size: 40px; color: #1E9FFF; float: left;">&#xe66f;</i>
				<span name="cName" style="margin-top: 15px;"></span>
			</li>
		</ul>
	</div>
	<br />

	<!--客户信息缩略-->
	<div>
		<table class="layui-table" lay-skin="nob">
			<thead>
				<tr>
					<th>姓名</th>
					<th>电话</th>
					<th>来源</th>
					<th>下单时间</th>
					<th>状态</th>
				</tr>
				<tr>
					<td><span name="cName"></span></td>
					<td><span name="cTel"></span></td>
					<td><span name="cSource"></span></td>
					<td><span name="cPlaceTime"></span></td>
					<td><span name="cType"></span></td>
				</tr>
			</thead>
		</table>
	</div>

	<!--选项卡div-->
	<div class="layui-tab">

		<!--选项卡-->
		<ul class="layui-tab-title">
			<li class="layui-this">基本信息</li>
			<li>预约记录</li>
			<li>成交记录</li>
			<li>回访跟进</li>
			<li>操作记录</li>
		</ul>

		<div class="layui-tab-content" style="height: 100px;">

			<!--客户信息-->
			<div class="layui-tab-item layui-show">

				<!--row.0-->
				<div class="layui-show layui-row">
					<div class="layui-col-sm6">
						姓名：<span name="cName"></span>
					</div>
					<div class="layui-col-sm6">
						性别：<span name="cSex"></span>
					</div>
				</div>
				<br />
				<!--row.1-->
				<div class="layui-show layui-row">
					<div class="layui-col-sm6">
						客户年龄：<span name="cAge"></span>
					</div>
					<div class="layui-col-sm6">
						客户电话：<span name="cTel"></span>
					</div>
				</div><br />
				<!--row.2-->
				<div class="layui-show layui-row">
					<div class="layui-col-sm6">
						报名项目：<span name="cProject"></span>
					</div>
					<div class="layui-col-sm6">
						报名时间：<span name="cPlaceTime"></span>
					</div>
				</div><br />
				<!--row.3-->
				<div class="layui-row">
					<div class="layui-col-sm6">
						客户来源：<span name="cSource"></span>
					</div>
					<div class="layui-col-sm6">
						客户预交金额：<span name="cEarnest"></span>
					</div>
				</div><br />
				<!--row.4-->
				<div class="layui-row">
					<div class="layui-col-sm12">
						备注：<textarea name="cRemark" disabled="disabled" class="layui-textarea"
								  th:text="${customer.cRemark}"></textarea>
					</div>
				</div>

			</div>

			<!--预约记录-->
			<div class="layui-tab-item">

				<!--监听头工具栏-->
				<script type="text/html" id="aToolbar">
					<div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-1"></i></div>
					<div class="layui-inline" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></div>
					<div class="layui-inline" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div>
				</script>

				<!--表格-->
				<table class="layui-hide" id="appointment" lay-filter="appointment"></table>

			</div>

			<!--成交记录-->
			<div class="layui-tab-item">

				<!--成交记录监听头工具栏-->
				<script type="text/html" id="sToolbar">
					<div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-1"></i></div>
					<div class="layui-inline" lay-event="edit"><i class="layui-icon layui-icon-edit"></i></div>
					<div class="layui-inline" lay-event="delete"><i class="layui-icon layui-icon-delete"></i></div>
				</script>

				<!--表格-->
				<table class="layui-hide" id="success" lay-filter="success"></table>

			</div>

			<!--回访跟进-->
			<div class="layui-tab-item">
				<ul class="layui-timeline" id="follow">

				</ul>
			</div>

			<!--操作记录-->
			<div class="layui-tab-item">
				<ul class="layui-timeline" id="operating">

				</ul>
			</div>

		</div>

	</div>

	<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
	<!--<script th:src="@{/layui/layui.js}"></script>-->
	<script>
		//加载form、laydate
		layui.use(['element', 'table'], function() {

			var element = layui.element
				,$ = layui.jquery
				,layer = layui.layer
				,table = layui.table;

            //从sessionStorage中获取用户编号和角色名称
            var uId = sessionStorage.getItem('uId');
            var rName = sessionStorage.getItem('rName');

			//获得客户信息
			var cId = $("#cId").val();
			var cName = $("#cName").val();
			var cSex = $("#cSex").val();
			var cAge = $("#cAge").val();
			var cTel = $("#cTel").val();
			var cProject = $("#cProject").val();
			//改变时间格式 yyyy-MM-dd HH:mm:ss.0 改为 yyyy-MM-dd HH:mm:ss
			var time = $("#cPlaceTime").val();
			var cPlaceTime = time.substring(0, time.length - 2);
			var cSource = $("#cSource").val();
			var cEarnest = $("#cEarnest").val();
			var cRemark = $("#cRemark").val();
			var cType = $("#cType").val();

			//赋值
			var cNameList = $("[name=cName]");
			for(var i = 0; i < cNameList.length; i++){
				cNameList[i].innerText = cName;
			}
			var cTelList = $("[name=cTel]");
			for(var i = 0; i < cTelList.length; i++){
				cTelList[i].innerText = cTel;
			}
			var cSourceList = $("[name=cSource]");
			for(var i = 0; i < cSourceList.length; i++){
				cSourceList[i].innerText = cSource;
			}
			var cPlaceTimeList = $("[name=cPlaceTime]");
			for(var i = 0; i < cPlaceTimeList.length; i++){
				cPlaceTimeList[i].innerText = cPlaceTime;
			}
			var cTypeList = $("[name=cType]");
			for(var i = 0; i < cTypeList.length; i++){
				cTypeList[i].innerText = cType;
			}
			$("[name=cSex]")[0].innerText = cSex;
			$("[name=cAge]")[0].innerText = cAge;
			$("[name=cProject]")[0].innerText = cProject;
			$("[name=cEarnest]")[0].innerText = cEarnest;
			$("[name=cRemark]")[0].innerText = cRemark;

            //表格重载
            function tableReload(id, url){
                table.reload(id, {
                    url: url
                });
            }

			//预约记录
			table.render({
				elem: '#appointment'
				,url: '/appointment/queryAByACId?aCId='+cId
				,id: 'appointment' //表格id
				,page: true //开启分页
				,limit: 5 //每页显示条数
				,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
                ,toolbar: '#aToolbar' //编辑、删除工具栏
				,cols: [
					[
						{type: 'checkbox', fixed: 'left'}
						,{field:'aId', title: '编号'}
						,{field:'hospital', title: '预约门诊'}
						,{field:'aTime', title: '预约时间', sort: true}
						,{field:'aType', title: '预约类型'}
					]
				]
			});

			//预约记录监听头工具栏事件
			table.on('toolbar(appointment)', function(obj){
				var checkStatus = table.checkStatus(obj.config.id)
					,data = checkStatus.data; //获取选中的数据
				switch(obj.event){
					case 'refresh':
					    tableReload('appointment', '/appointment/queryAByACId?aCId='+cId);
					    break;
					case 'edit':
						if(data.length === 0){
							layer.msg('请选择一行');
						} else if(data.length > 1){
							layer.msg('只能同时编辑一个');
						} else {
                            //弹出编辑页面
                            var edit = layer.open({
                                type: 2, //层类型，iframe
                                title: '编辑客户预约',
                                content: ['/appointment/queryAByAId?aId=' + checkStatus.data[0].aId],
                                area: ['500px', '450px'],
                                resize: false,
                                btn: '确定',
                                btn1: function (index, layero) {
                                    var body = layer.getChildFrame('body', index);
                                    //获取值
                                    var aCId = $(body).find("#aCId").val();
                                    var aTime = $(body).find("#aTime").val();
                                    var aHId = $(body).find("#aHId").val();
                                    var aTypeId = $(body).find("#aTypeId").val();

                                    if (aTime != '') {
                                        $.post("/appointment/editAByAId?aId=" + checkStatus.data[0].aId,
											{aCId:aCId, aTime: aTime, aHId:aHId, aTypeId:aTypeId},
                                            function (obj) {
                                                if (obj.code == 0) {
                                                    layer.msg(obj.msg, {time: 500}, function () {
                                                        layer.close(edit);
                                                        tableReload();
                                                    });
                                                } else {
                                                    layer.msg(obj.msg)
                                                }
                                            }
                                        );
                                    } else {
                                        layer.msg('请输入预约时间');
                                    }
                                },
                                cancel: function(index, layero){
                                    layer.close(index);
                                }
                            });
						}
						break;
					case 'delete':
						if(data.length === 0){
							layer.msg('请选择一行');
						} else {
							layer.confirm('真的删除行么', function(){
                                $.get("/appointment/delAByAId?aId=" + checkStatus.data[0].aId, function(obj){
                                    if (obj.code == 0) {
                                        layer.msg(obj.msg, {time: 500}, function () {
                                            tableReload();
                                        });
                                    } else {
                                        layer.msg(obj.msg)
                                    }
                                });
							});
						}
						break;
				};
			});

			//成交记录
			table.render({
				elem: '#success',
				url: '/success/querySBySCId?sCId=' + cId //访问路径
                ,page: true //开启分页
                ,limit: 5 //每页显示条数
                ,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
                ,toolbar: '#sToolbar' //编辑、删除工具栏
				,cols: [
					[
						{type: 'checkbox', fixed: 'left'} //头部工具栏
						,{field: 'sId', title: 'ID', minWidth: 120, sort: true, event: 'collapse',
							templet: function(data) {
								return "<div style='position: relative; padding: 0 10px 0 20px; cursor:pointer;'>" + data.sId +
											"<i	style='left: 0px;' lay-tips='展开' class='layui-icon layui-colla-icon layui-icon-right'></i>" +
										"</div>";
							}
						}
						,{field: 'cName', title: '客户名称', minWidth: 120}
						,{field: 'cTel', title: '电话', minWidth: 120}
                        ,{field: 'hName', title: '成交门诊', minWidth: 150}
						,{field: 'sMessage', title: '成交信息', minWidth: 150}
						,{field: 'sSum', title: '成交金额', minWidth: 120, sort: true}
						,{field: 'sPaysum', title: '已交金额', minWidth: 120, sort: true}
						,{field: 'sRemark', title: '成交备注', minWidth: 250}
						,{field: 'sTime', title: '成交时间', minWidth: 200}
					]
				]
			});

			//成交记录监听头工具栏事件
			table.on('toolbar(success)', function(obj) {
                var checkStatus = table.checkStatus(obj.config.id)
                    ,data = checkStatus.data; //获取选中的数据
                switch(obj.event){
                    case 'refresh':
                        tableReload('success', '/success/querySBySCId?sCId=' + cId);
                        break;
                    case 'edit':
                        if(data.length === 0){
                            layer.msg('请选择一行');
                        } else if(data.length > 1){
                            layer.msg('只能同时编辑一个');
                        } else {
                            //弹出编辑页面
                            var edit = layer.open({
                                type: 2, //层类型，iframe
                                title: '编辑成交客户',
                                content: ['/success/querySBySId?sId=' + checkStatus.data[0].sId],
                                area: ['500px', '450px'],
                                resize: false,
                                btn: '确定',
                                btn1: function (index, layero) {
                                    var body = layer.getChildFrame('body', index);
                                    //获取值
                                    var sId = $(body).find("#sId").val();
                                    var sHId = $(body).find("#sHId").val();
                                    var sMessage = $(body).find("#sMessage").val();
                                    var sSum = $(body).find("#sSum").val();
                                    var sPaysum = $(body).find("#sPaysum").val();
                                    var sRemark = $(body).find("#sRemark").val();
                                    //声明格式是否正确
                                    var verify = true;
                                    if(sSum == ''){
                                        verify = false;
                                        layer.msg('总金额不能为空');
									}
                                    if(sPaysum == ''){
                                        verify = false;
                                        layer.msg('客户支付金额不能为空');
                                    }
                                    if (verify) {
                                        $.post("/success/editSBySId",
                                            {uId:uId, sId:sId, sHId: sHId, sMessage:sMessage, sSum:sSum,
												sPaysum:sPaysum, sRemark:sRemark},
                                            function (obj) {
                                                if (obj.code == 0) {
                                                    layer.msg(obj.msg, {time: 500}, function () {
                                                        layer.close(edit);
                                                        tableReload('success', '/success/querySBySCId?sCId=' + cId);
                                                    });
                                                } else {
                                                    layer.msg(obj.msg)
                                                }
                                            }
                                        );
                                    }
                                },
                                cancel: function(index, layero){
                                    layer.close(index);
                                }
                            });
                        }
                        break;
                    case 'delete':
                        if(data.length === 0){
                            layer.msg('请选择一行');
                        } else {
                            layer.confirm('真的删除行么', function(){
                                $.get("/success/delSBySId?uId="+uId+"&sId=" + checkStatus.data[0].sId, function(obj){
                                    if (obj.code == 0) {
                                        layer.msg(obj.msg, {time: 500}, function () {
                                            tableReload('success', '/success/querySBySCId?sCId=' + cId);
                                        });
                                    } else {
                                        layer.msg(obj.msg)
                                    }
                                });
                            });
                        }
                        break;
                };
			});

			//成交记录监听行工具事件
			table.on('tool(success)', function(obj) {
                var data = obj.data;
                if (obj.event === 'collapse') {
                    var trObj = layui.$(this).parent('tr'); //当前行
                    var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                    var content = '<table></table>' //内容
                    //表格行折叠方法
                    collapseTable({
                        elem: trObj,
                        accordion: accordion,
                        content: content,
                        success: function(trObjChildren, index) { //成功回调函数
                            //trObjChildren 展开tr层DOM
                            //index 当前层索引
                            trObjChildren.find('table').attr("id", index);
                            table.render({
                                elem: "#" + index
                                ,url: '/payrecord/queryPByPaySId?paySId=' + data.sId
                                ,cols: [
                                    [
                                        {field: 'payId', minWidth: 120, title: 'ID', sort: true}
                                        ,{field: 'cName', minWidth: 120, title: '客户名称'}
                                        ,{field: 'paySum', minWidth: 120, title: '支付金额', sort: true}
                                        ,{field: 'payTime', minWidth: 200, title: '支付时间', sort: true}
                                        ,{field: 'payType', minWidth: 120, title: '支付类型'}
									]
								]
                            });

                        }
                    });

                }
			});

			//表格折叠方法
            function collapseTable(options) {
                var trObj = options.elem;
                if (!trObj) return;
                var accordion = options.accordion,
                    success = options.success,
                    content = options.content || '';
                var tableView = trObj.parents('.layui-table-view'); //当前表格视图
                var id = tableView.attr('lay-id'); //当前表格标识
                var index = trObj.data('index'); //当前行索引
                var leftTr = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + index + '"]'); //左侧当前固定行
                var rightTr = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + index + '"]'); //右侧当前固定行
                var colspan = trObj.find('td').length; //获取合并长度
                var trObjChildren = trObj.next(); //展开行Dom
                var indexChildren = id + '-' + index + '-children'; //展开行索引
                var leftTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + indexChildren + '"]'); //左侧展开固定行
                var rightTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + indexChildren + '"]'); //右侧展开固定行
                var lw = leftTr.width() + 15; //左宽
                var rw = rightTr.width() + 15; //右宽
                //不存在就创建展开行
                if (trObjChildren.data('index') != indexChildren) {
                    //装载HTML元素
                    var tr = '<tr data-index="' + indexChildren + '"><td colspan="' + colspan + '"><div style="height: auto;padding-left:' + lw + 'px;padding-right:' + rw + 'px" class="layui-table-cell">' + content + '</div></td></tr>';
                    trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
                    var fixTr = '<tr data-index="' + indexChildren + '"></tr>';//固定行
                    leftTrChildren = leftTr.after(fixTr).next().hide(); //左固定
                    rightTrChildren = rightTr.after(fixTr).next().hide(); //右固定
                }
                //展开|折叠箭头图标
                trObj.find('td[lay-event="collapse"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
                //显示|隐藏展开行
                trObjChildren.toggle();
                //开启手风琴折叠和折叠箭头
                if (accordion) {
                    trObj.siblings().find('td[lay-event="collapse"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                    trObjChildren.siblings('[data-index$="-children"]').hide(); //展开
                    rightTrChildren.siblings('[data-index$="-children"]').hide(); //左固定
                    leftTrChildren.siblings('[data-index$="-children"]').hide(); //右固定
                }
                success(trObjChildren, indexChildren); //回调函数
                heightChildren = trObjChildren.height(); //展开高度固定
                rightTrChildren.height(heightChildren + 115).toggle(); //左固定
                leftTrChildren.height(heightChildren + 115).toggle(); //右固定
            }

            //根据客户编号查询客户跟进记录并赋值
			$.get("/follow/queryFByFCId?fCId=" + cId, function(obj){
				var html = "";
			    for(var i = 0; i < obj.data.length; i++){
					html += "<li class='layui-timeline-item'>" +
                        		"<i class='layui-icon layui-timeline-axis'>&#xe63f;</i>" +
                        		"<div class='layui-timeline-content layui-text'>" +
                        			"<h3 class='layui-timeline-title'><span>" + obj.data[i].fTime + "</span></h3>" +
                        			"<p>" + obj.data[i].fContent + "</p>" +
                        			"<ul><li>" + obj.data[i].fType + "</li></ul>" +
                        		"</div>" +
                        	"</li>";
                }
                //赋值
			    $("#follow").html(html);
			})

            //根据客户编号查询操作记录并赋值
            $.get("/operating/queryOpByOpCId?opCId=" + cId, function(obj){
                var html = "";
                for(var i = 0; i < obj.data.length; i++){
                    html += "<li class='layui-timeline-item'>"+
                        		"<i class='layui-icon layui-timeline-axis'>&#xe63f;</i>"+
                    			"<div class='layui-timeline-content layui-text'>"+
                    				"<h3 class='layui-timeline-title'>"+
                    					"<span>" + obj.data[i].opTime + "</span>" +
										"&nbsp;||&nbsp;<span>" + obj.data[i].uName + "</span>"+
                    				"</h3>"+
                    				"<p><a>" + obj.data[i].uName + "</a>" + obj.data[i].opName + "</p>"+
                    			"</div>"+
                    		"</li>";
                }
                //赋值
                $("#operating").html(html);
            })

        });
	</script>

</body>
</html>