<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>客户信息列表</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
		<style>
			.baseMargin{
				margin: 5px 0 10px 0;
			}
			.baseColor{color: #1E9FFF}
			.layui-table-fixed .layui-table-body {
				height: auto!important;
			}
			.layui-table-fixed.layui-hide {
				display: block!important;
			}
		</style>
	</head>
	<body style='overflow:scroll;overflow-x:hidden'>

	<br>

	<div class="layui-fluid">
		<div class="layui-row">
			<div class="layui-col-md4">
				<label class="layui-form-label">姓名</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchCName" autocomplete="off">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">电话</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchCTel" autocomplete="off">
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">报名项目</label>
				<div class="layui-input-inline layui-form">
					<select id="searchclProject">
						<option value=""></option>
						<option value="种植">种植牙</option>
						<option value="矫正">隐形矫正</option>
						<option value="其他">其他</option>
					</select>
				</div>
			</div><br><br><br>
			<div class="layui-col-md4">
				<label class="layui-form-label">是否交定金</label>
				<div class="layui-input-inline layui-form">
					<input type="radio" name="searchclEarnest" value="0" title="否">
					<input type="radio" name="searchclEarnest" value="1" title="是">
					<input type="radio" name="searchclEarnest" value="2" title="全部">
				</div>
			</div>
			<div class="layui-col-md4" id="principal">
				<label class="layui-form-label">负责人</label>
				<div class="layui-input-inline layui-form">
					<select id="searchclUId">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="layui-col-md4">
				<label class="layui-form-label">来源</label>
				<div class="layui-inline">
					<input class="layui-input" id="searchclSource" autocomplete="off">
				</div>
			</div><br><br><br>
			<div class="layui-col-md4">
				<label class="layui-form-label">状态</label>
				<div class="layui-input-inline layui-form">
					<select id="searchClTypeId">
						<option value=""></option>
					</select>
				</div>
			</div>
			<div class="layui-col-md8">
				<label class="layui-form-label">报名时间</label>
				<div class="layui-input-inline layui-form">
					<input type="text" id="searchclPlaceTime" readonly
						   autocomplete="off" class="layui-input" style="width: 300px;">
				</div>
			</div><br><br><br>
		</div>
		<div style="text-align: center;">
			<button class="layui-btn" onclick="tableReload()">查询</button>
		</div>
	</div>

	<!-- 数据表格 -->
	<table class="layui-hide" id="tab" lay-filter="test" lay-data="{id: 'tab'}"></table>

	<!--详情页面-->
	<div id="detail" style="position:absolute; z-index:999999; top:0; right:-100%;
		transition:all linear 0.5s; width: 900px; height: 580px;background-color:white;
		border: 1px gainsboro solid;box-shadow: gainsboro 0 0 5px 5px;margin-top: 2px;">

		<div style="float: left; margin: 5px;">
			<span style="font-size: 20px;">客户详情</span>
		</div>
		<div style="float: right; cursor: pointer;">
			<i onclick="javascript:document.getElementById('detail').style.right = '-100%';" class="layui-icon layui-icon-close" style="font-size: 25px;"></i>
		</div>
		<br>

		<!--head-->
		<div class="layui-row layui-card" style="height: 120px;">
			<div class="layui-col-md9 layui-row">
				<div class="layui-col-space1">
					<!--客户信息-->
					<br />
					<div class="layui-col-md4 layui-row">
						<div class="layui-col-space1">
							<div class="layui-col-md3" style="padding-top: 10px;"><img id="img" th:src="@{/images/boy.png}" width="40px" height="40px" /></div>
							<div class="layui-col-md7">
								<div class="layui-row" style="margin-bottom: 2px;">
									<div class="layui-col-md6"><span style="font-size: 20px;" name="cName"></span></div>
									<div class="layui-col-md3"><span style="float: right;margin-top: 3px;" name="cAge"></span></div>岁
								</div>
								<div style="margin-bottom: 2px;"><span name="cTel"></span></div>
								<div>上次:<span id="hName"></span></div>
							</div>
						</div>
					</div>
					<!--成交金额-->
					<div class="layui-col-md2">
						<br><div><span id="successMoney"></span></div>
						<div><span style="color: #9F9F9F;">成交金额</span></div>
					</div>
					<!--已收金额-->
					<div class="layui-col-md2">
						<br><span id="payMoney"></span><br />
						<span style="color: #9F9F9F;">已交金额</span>
					</div>
					<!--待收金额-->
					<div class="layui-col-md2">
						<br><span id="waitMoney"></span><br />
						<span style="color: #9F9F9F;">待交金额</span>
					</div>
					<!--预交金额-->
					<div class="layui-col-md2">
						<br><span name="clEarnest"></span><br />
						<span style="color: #9F9F9F;">预交金额</span>
					</div>
				</div>
			</div>
			<br />
			<div class="layui-col-md3">
				<div style="margin-bottom: 2px;">创建时间:<span id="cTime"></span></div>
				<div style="margin-bottom: 2px;">修改时间:<span id="editTime"></span></div>
				<div>负责人:<span id="username"></span></div>
			</div>
		</div>

		<!--body-->
		<div class="layui-row">
			<div class="layui-col-space10">
				<!--左侧选项卡、预约记录-->
				<div class="layui-col-md8">
					<!--选项卡-->
					<div class="layui-card" style="height: 265px;">
						<div style="height: 330px;">
							<div class="layui-tab">
								<ul class="layui-tab-title">
									<li class="layui-this">基本信息</li>
									<li>操作记录</li>
									<li>成交记录</li>
								</ul>
								<div class="layui-tab-content">
									<!--基本信息-->
									<div class="layui-tab-item layui-show">
										<div class="layui-row" style="align-content: center;margin-left: 5px;">
											<div class="layui-col-md4 baseMargin">姓名：<span class="baseColor" name="cName"></span></div>
											<div class="layui-col-md4 baseMargin">性别：<span class="baseColor" id="cSex"></span></div>
											<div class="layui-col-md4 baseMargin">年龄：<span class="baseColor" name="cAge"></span></div>
											<div class="layui-col-md4 baseMargin">电话：<span class="baseColor" name="cTel"></span></div>
											<div class="layui-col-md4 baseMargin">来源：<span class="baseColor" id="clSource"></span></div>
											<div class="layui-col-md4 baseMargin">预交金额：<span class="baseColor" name="clEarnest"></span></div><br>
											<div class="layui-col-md4 baseMargin">报名项目：<span class="baseColor" id="clProject"></span></div>
											<div class="layui-col-md8 baseMargin">报名时间：<span class="baseColor" id="clPlaceTime"></span></div>
										</div>
									</div>
									<!--操作记录-->
									<div class="layui-tab-item" style="height: 200px;overflow-y: auto;">
										<ul class="layui-timeline" id="operating"></ul>
									</div>
									<!--成交记录-->
									<div class="layui-tab-item">
										<!--表格-->
										<table class="layui-hide" id="successTab" lay-filter="successTab"></table>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!--预约记录-->
					<div style="height: 145px;overflow-y: auto;">
						<ul class="layui-timeline" id="appoint"></ul>
					</div>
				</div>
				<!--右侧跟进-->
				<div class="layui-col-md4">
					<div class="layui-card" style="height: 430px;overflow-y: auto;">
						<!--表单-->
						<div style="border:1px solid #f2f2f2;height: 230px;">
							<div class="layui-form layui-form-item" style="margin: 15px 15px 0 15px;">
								<select id="followSel" lay-filter="followSel"></select>
							</div>
							<div class="layui-form-item layui-form-text" style="margin-top: 15px; margin-left: 15px; margin-right: 15px;">
								<input type="hidden" id="cId">
								<input type="hidden" id="clId">
								<input type="hidden" id="clUId">
								<textarea id="content" placeholder="请输入内容" class="layui-textarea" style="border-color: #FFFFFF;"></textarea>
							</div>
							<div class="layui-form-item" style="margin-top: 15px;text-align: center;">
								<button class="layui-btn layui-btn-sm" onclick="saveFollow()">提交</button>
								<button class="layui-btn layui-btn-sm layui-btn-primary" onclick="clean()">清空</button>
							</div>
						</div>
						<!--跟进记录-->
						<div style="margin-top: 20px;">
							<ul class="layui-timeline" id="follow">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-1"></i></div>
			<div class="layui-inline" lay-event="add"><i class="layui-icon layui-icon-add-1"></i></div>
		</script>

		<script type="text/html" id="barDemo"></script>

		<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
		<!--<script th:src="@{/layui/layui.all.js}"></script>-->
		<script>

			var layer = layui.layer //弹层
				,table = layui.table //表格
				,element = layui.element //元素操作
				,$ = layui.jquery //jQuery
				,laydate = layui.laydate //时间控件
				,form = layui.form //表单

			//从sessionStorage中获取用户编号和角色名称
			var uId = sessionStorage.getItem('uId');
			var rName = sessionStorage.getItem('rName');

            //时间控件
            laydate.render({
                elem: '#searchclPlaceTime' //指定元素
                ,type: 'datetime' //时间格式
                ,trigger: 'click' //采用click弹出
                ,range: true //开启左右面板范围选择
            });

            if (rName == "销售员"){
                $("#searchclUId").attr("disabled", "disabled");
                form.render('select');
                var operate = "<a class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>" +
							  "<a class='layui-btn layui-btn-danger layui-btn-xs' lay-event='del'>删除</a>";
                $("#barDemo").html(operate);
            } else {
                var operate = "<a class='layui-btn layui-btn-xs layui-btn-warm' lay-event='update'>变更负责人</a>" +
							  "<a class='layui-btn layui-btn-xs' lay-event='edit'>编辑</a>" +
							  "<a class='layui-btn layui-btn-danger layui-btn-xs' lay-event='del'>删除</a>";
                $("#barDemo").html(operate);
                //获取角色为销售员的用户对象
                $.get("/user/queryUserByRName", function (res){
                    //定义负责人下拉框内容
                    var html = "";
                    $.each(res.data, function (index, item) {
                        html += "<option value='" + item.uId + "'>" + item.uName + "</option>";
                    });
                    $("#searchclUId").append(html);
                    //append后必须重新渲染
                    form.render('select');
                })
            }

            //获取所有客户状态
            $.get("/ctype/queryCtype", function (res){
                //定义负责人下拉框内容
                var html = "";
                $.each(res.data, function (index, item) {
                    html += "<option value='" + item.ctId + "'>" + item.ctType + "</option>";
                });
                $("#searchClTypeId").append(html);
                //append后必须重新渲染
                form.render('select');
            })

            //新增跟进记录
            function saveFollow() {
                //客户编号
                var cId = $("#cId").val();
                //线索编号
                var clId = $("#clId").val();
                //负责人编号
                var clUId = $("#clUId").val();
                //回访类型编号
                var fTypeId = $("#followSel").val();
                //回访类型
                var ftType = $("#followSel [value="+fTypeId+"]").text();
                //跟进内容
                var fContent = $("#content").val();
                //新增跟进内容
                $.post("/follow/saveFollow"
                    ,{uId:uId, cId:cId, fClId:clId, fTypeId:fTypeId, clUId:clUId,
                        ftType:ftType, fContent:fContent}
                    ,function (data) {
                        layer.msg(data.msg, {time: 500}, function () {
                            $("#content").val("");
                            goDetail(cId, clId, clUId);
                        });
                    }
                )
            }

            //清空跟进内容
            function clean() {
                $("#content").val("");
            }

            //弹出详情页面
            function goDetail(cId, clId, clUId) {

                //显示详情页面
                document.getElementById("detail").style.right = 0;
                document.getElementById("detail").style.top = document.scrollingElement.scrollTop + "px";

                //赋值
                $("#cId").val(cId);
                $("#clId").val(clId);
                $("#clUId").val(clUId);

                //获取所有跟进类型
                $.get("/ftype/queryFtype", function (data) {
                    //定义跟进类型下拉框内容
                    var html = "";
                    $.each(data.data, function (index, item) {
                        html += "<option value='" + item.ftId + "'>" + item.ftType + "</option>";
                    });
                    $("#followSel").append(html);
                    //append后必须重新渲染
                    form.render('select');
                });

                //根据客户编号查询信息并赋值
                $.get("/customer/detail", {clId:clId}, function (data) {
                    if (data.customer.cSex == "男"){
                        $("#img").attr("src", "/images/boy.png");
                    } else {
                        $("#img").attr("src", "/images/boy.png");
                    }
                    //上次门诊
                    $("#hName").text(data.hName);
                    //给基本信息赋值
                    var cNameList = $("[name=cName]");
                    for(var i = 0; i < cNameList.length; i++){
                        cNameList[i].innerText = data.customer.cName;
                    }
                    var cAgeList = $("[name=cAge]");
                    for(var i = 0; i < cAgeList.length; i++){
                        cAgeList[i].innerText = data.customer.cAge;
                    }
                    var cTelList = $("[name=cTel]");
                    for(var i = 0; i < cTelList.length; i++){
                        cTelList[i].innerText = data.customer.cTel;
                    }
                    var clEarnestList = $("[name=clEarnest]");
                    for(var i = 0; i < clEarnestList.length; i++){
                        clEarnestList[i].innerText = data.customer.clEarnest;
                    }
                    //成交金额
                    $("#successMoney").text(data.successMoney);
                    //已交金额
                    $("#payMoney").text(data.payMoney);
                    //待交金额
                    $("#waitMoney").text(data.waitMoney);
                    //创建时间
                    $("#cTime").text(data.customer.cTime);
                    //修改时间
                    $("#editTime").text(data.updateTime);
                    //负责人
                    $("#username").text(data.customer.uName);
                    //性别
                    $("#cSex").text(data.customer.cSex);
                    //来源
                    $("#clSource").text(data.customer.clSource);
                    //报名项目
                    $("#clProject").text(data.customer.clProject);
                    //报名时间
                    $("#clPlaceTime").text(data.customer.clPlaceTime);
                });

                //预约记录
                $.get("/appointment/queryAToDetail", {clId:clId}, function (data) {
                    var html = "";
                    $.each(data.data, function (index, item) {
                        html += "<li class='layui-timeline-item'>" +
                            "<i class='layui-icon layui-timeline-axis'>&#xe63f;</i>" +
                            "<div class='layui-timeline-content layui-text'>" +
                            "<div class='layui-card' style='background-color: aliceblue;'>" +
                            "<div><span style='font-size: 20px;'>"+item.aTime+"【"+item.aType+"】</span></div>" +
                            "<div style='margin-top: 5px;'>预约项目："+item.clProject+"</div>" +
                            "<div style='margin-top: 5px;'>预约人："+item.uName+"</div>" +
                            "<div style='margin-top: 5px;'>预交金额："+item.clEarnest+"</div>" +
                            "<div style='margin-top: 5px;'>成交金额："+item.sSum+"</div>" +
                            "</div>" +
                            "</div>" +
                            "</li>";
                    });
                    $("#appoint").html(html);
                });

                //操作记录
                $.get("/operating/queryOpByCId", {cId:cId}, function (data) {
                    var html = "";
                    $.each(data.data, function (index, item) {
                        html += "<li class='layui-timeline-item'>" +
                            "<i class='layui-icon layui-timeline-axis'>&#xe63f;</i>" +
                            "<div class='layui-timeline-content layui-text'>" +
                            "<div class='layui-card' style='background-color: aliceblue;'>" +
                            "<div><span style='font-size: 20px;'>"+item.opTime+"</span></div>" +
                            "<div style='margin-top: 5px;'>操作用户："+item.uName+"</div>" +
                            "<div style='margin-top: 5px;'>操作名称："+item.opName+"</div>" +
                            "</div>" +
                            "</div>" +
                            "</li>";
                    });
                    $("#operating").html(html);
                });

                //成交记录
                table.render({
                    elem: '#successTab'
                    ,url: '/success/querySByClId?clId='+clId //访问路径
                    ,height: '180px'
                    ,page: true //开启分页
                    ,limit: 2 //每页显示条数
                    ,limits: [2] //自定义可选每页显示条数
                    ,cols: [
                        [
                            {field: 'sId', title: 'ID', minWidth: 120, sort: true}
                            ,{field: 'cName', title: '客户名称', minWidth: 120}
                            ,{field: 'cTel', title: '电话', minWidth: 120}
                            ,{field: 'hName', title: '成交门诊', minWidth: 150}
                            ,{field: 'sMessage', title: '成交信息', minWidth: 150}
                            ,{field: 'sSum', title: '成交金额', minWidth: 120, sort: true}
                            ,{field: 'sPaysum', title: '已交金额', minWidth: 120, sort: true}
                            ,{field: 'sRemark', title: '成交备注', minWidth: 250}
                            ,{field: 'sTime', title: '成交时间', minWidth: 200}
                        ]
                    ]
                });

                //根据客户编号查询所拥有的跟进类型
                $.get("/follow/queryFollowByFClId?clId="+clId, function(obj){
                    var html = "";
                    for(var i = 0; i < obj.length; i++) {
                        var year = obj[i].time.substring(0, 4);
                        var month = obj[i].time.substring(5, 7);
                        var day = obj[i].time.substring(8, 10);
                        var date = year+"年"+month+"月"+day+"日";
                        html += "<li class='layui-timeline-item'>" +
                            "<i class='layui-icon layui-timeline-axis'>&#xe63f;</i>" +
                            "<div class='layui-timeline-content layui-text'>" +
                            "<h3>"+date+"("+obj[i].type+")</h3>" +
                            "<ul>";
                        for(var j = 0; j < obj[i].followList.length; j++){
                            html += "<li>"+obj[i].followList[j]+"</li>";
                        }
                        html += "</ul>" +
                            "</div>" +
                            "</li>";
                    }
                    //赋值
                    $("#follow").html(html);
                });
            }

			//表格重载
			function tableReload(){
				//获取筛选条件
				var cName = $("#searchCName").val();
                var cTel = $("#searchCTel").val();
                var clProject = $("#searchclProject").val();
                var clEarnest;
                if ($("[name=searchclEarnest]")[0].checked){
                    clEarnest = $("[name=searchclEarnest]")[0].value;
				} else if ($("[name=searchclEarnest]")[1].checked){
                    clEarnest = $("[name=searchclEarnest]")[1].value;
				} else if ($("[name=searchclEarnest]")[2].checked){
                    clEarnest = $("[name=searchclEarnest]")[2].value;
                }
                var clUId = $("#searchclUId").val();
                var clSource = $("#searchclSource").val();
                var clTypeId = $("#searchClTypeId").val();
                var searchclPlaceTime = $("#searchclPlaceTime").val();
                var beginTime;
                var endTime;
                if (searchclPlaceTime != null && searchclPlaceTime != ""){
                    var beginTime = searchclPlaceTime.split(" - ")[0];
                    var endTime = searchclPlaceTime.split(" - ")[1];
				}
				//根据筛选条件查询
				table.reload('tab', {
					url: '/customer/queryCScreen?uId='+uId+'&rName='+rName
					,where: {
						cName: cName
						,cTel: cTel
                        ,clProject: clProject
                        ,clEarnest: clEarnest
                        ,clUId: clUId
                        ,clSource: clSource
                        ,clTypeId: clTypeId
                        ,beginTime: beginTime
                        ,endTime: endTime
					}
					,page: {
						curr: 1 //重新从第 1 页开始
					}
				});
			}

			//处理弹出的新增或修改页面
			function popup(ix, index, url) {
				var body = layer.getChildFrame('body', index);
				//获取值
				var cName = $(body).find("#cName").val();
				var cSex = null;
				if($(body).find("[name=cSex]")[0].checked){
					cSex = $(body).find("[name=cSex]")[0].value;
				}else{
					cSex = $(body).find("[name=cSex]")[1].value;
				}
				var cAge = $(body).find("#cAge").val();
				var cTel = $(body).find("#cTel").val();
                var clPlaceTime = $(body).find("#clPlaceTime").val();
				var clProject = $(body).find("#clProject").val();
				var clRemark = $(body).find("#clRemark").val();
				var clMessage = $(body).find("#clMessage").val();
				var clEarnest = $(body).find("#clEarnest").val();
				var clUId = $(body).find("#clUId").val();
				var clSource = $(body).find("#clSource").val();
				var clTypeId = $(body).find("#clTypeId").val();
				if (cName != '' && cName.trim() != '' && cTel != '' && cTel.trim() != '' && clPlaceTime != '') {
					//声明格式是否正确
					var verify = true;
					//验证姓名格式
					if(cName.length > 6){
						layer.msg("姓名长度不能大于6位");
						verify = false;
						return;
					}
					//验证年龄格式
					if(cAge != ''){
						if(cAge <= 0 || cAge >= 150){
							layer.msg("年龄必须大于0小于150");
							verify = false;
							return;
						}
					}
					//验证电话格式
					if(!(/^1[3456789]\d{9}$/.test(cTel))){
						layer.msg("手机号码格式错误");
						verify = false;
						return;
					}
					//验证定金格式
					if(clEarnest != ''){
						if(clEarnest < 0){
							layer.msg("定金不能为负数");
							verify = false;
							return;
						}
					}
					if(verify){
						$.post(url, {uId: uId, cName:cName.trim(), cSex:cSex, cAge:cAge, cTel:cTel.trim(), clPlaceTime:clPlaceTime, clProject:clProject,
								clMessage:clMessage, clRemark:clRemark, clEarnest:clEarnest, clUId:clUId, clSource:clSource, clTypeId:clTypeId},
							function (obj) {
								layer.msg(obj.msg, {time: 500}, function () {
									layer.close(ix);
									tableReload();
								});
							}
						);
					}
				} else {
					layer.msg('请输入带星号的必填项');
				}
			}

			//执行一个 table 实例
			table.render({
				elem: '#tab'
				,url: '/customer/queryCScreen?uId='+uId+'&rName='+rName //数据接口
				,title: '客户信息表' //表格名称
				,id: 'tab' //表格id
				,page: true //开启分页
				,limit: 10 //每页显示条数
				,limits: [10, 20, 50, 100] //自定义可选每页显示条数
				,toolbar: '#toolbarDemo' //刷新、增加工具栏
				,defaultToolbar: ['filter', 'exports', 'print'] //筛选、导出、打印工具栏
				,cols: [ //表头
					[
						{field: 'cName', minWidth: 120, title: '姓名', align:'center'
							,templet: '<div><a href="javascript:goDetail({{d.cId}}, {{d.clId}}, {{d.clUId}});" class="layui-table-link">{{d.cName}}</a></div>'
						}
						,{field: 'cAge', minWidth: 120, title: '年龄', align:'center'}
						,{field: 'cTel', minWidth: 120, title: '电话', align:'center'}
						,{field: 'clProject', minWidth: 120, title: '报名项目', align:'center'}
						,{field: 'clPlaceTime', minWidth: 200, title: '报名时间', align:'center'}
						,{field: 'clEarnest', minWidth: 120, title: '定金', align:'center'}
						,{field: 'clMessage', minWidth: 120, title: '症状信息', align:'center'}
						,{field: 'cType', minWidth: 120, title: '状态', align:'center'}
						,{fixed: 'right', minWidth: 200, title: '操作', toolbar: '#barDemo', align:'center'}
					]
				]
			});

			//监听头工具栏事件
			table.on('toolbar(test)', function(obj){
				var checkStatus = table.checkStatus(obj.config.id)
					,data = checkStatus.data; //获取选中的数据
				switch(obj.event){
					case 'add':
						//弹出新增页面
						var ix = layer.open({
							type: 2, //层类型，iframe
							title: '新增客户',
							content: ['/customer/customersave'],
							area: ['1000px', '450px'],
							resize: false,
							btn: '确定',
							btn1: function (index, layero) {
								popup(ix, index, "/customer/saveCustomer");
							},
							cancel: function(index, layero){
								layer.close(index);
							}
						});
						break;
					case 'refresh':
						tableReload();
						break;
				}
			});

			//监听行工具事件
			table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
				var data = obj.data //获得当前行数据
					,layEvent = obj.event; //获得 lay-event 对应的值
				if(layEvent === 'del'){
					layer.confirm('确定删除吗？', {icon: 3, title:'提示'}, function(index){
						$.get("/customer/delCByCId?cId=" + data.cId + "&cName=" + data.cName + "&uId=" + uId, function(obj){
							if (obj.code == 0) {
								layer.msg(obj.msg, {time: 500}, function () {
									tableReload();
								});
							} else {
								layer.msg(obj.msg)
							}
						});
					});
				} else if(layEvent === 'edit'){
					//弹出编辑页面
					var ix = layer.open({
						type: 2, //层类型，iframe
						title: '编辑客户',
						content: ['/customer/queryCByCId?cId=' + data.cId + "&page=customer"],
						area: ['1000px', '450px'],
						resize: false,
						btn: '确定',
						btn1: function (index, layero) {
							popup(ix, index, "/customer/editCByCId?cId=" + data.cId);
						},
						cancel: function(index, layero){
							layer.close(index);
						}
					});
				} else if(layEvent === 'update'){
                    layer.confirm('确定变更负责人吗？', {icon: 3, title:'提示'}, function(index){
                        layer.open({
                            type: 2, //层类型，iframe
                            title: '变更负责人',
                            content: ['/editPrincipal?cId='+data.cId],
                            area: ['400px', '400px'],
                            resize: false,
                            btn: '确定',
                            btn1: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                //获取值
                                var cId = $(body).find("#cId").val();
                                var clUId = $(body).find("#clUId").val();
                                $.get("/clue/editPrincipal", {uId: uId, cId:cId, clUId:clUId},
                                    function (obj) {
                                        layer.msg(obj.msg, {time: 500}, function () {
                                            layer.close(index);
                                            tableReload();
                                        });
                                    }
                                );
                            },
                            cancel: function(index, layero){
                                layer.close(index);
                            }
						})
                    });
                }

			});

		</script>

	</body>
</html>
