<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增客户跟进</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">客户姓名</label>
            <div class="layui-input-block">
                <input type="hidden" id="cId" th:value="${cId}">
                <input type="hidden" id="fClId" th:value="${clId}">
                <input type="hidden" id="clUId" th:value="${clUId}">
                <input type="text" class="layui-input" th:value="${cName}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">跟进类型</label>
            <div class="layui-input-block">
                <input type="radio" name="ftType" value="1" title="门诊反馈" checked>
                <input type="radio" name="ftType" value="2" title="客户回访">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">跟进时间</label>
            <div class="layui-input-block">
                <input type="text" id="fTime" class="layui-input" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">历史跟进</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" th:text="${content}" autocomplete="off" readonly></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">跟进内容</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="fContent" autocomplete="off"></textarea>
            </div>
        </div>
    </form>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
<script>

    //加载form、laydate
    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //时间控件
    laydate.render({
        elem: '#fTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
        ,value: new Date() //默认时间
        ,btns: ['now', 'confirm'] //工具按钮
    });

</script>
</body>
</html>