<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>成交客户列表</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	</head>
	<body>

	<input type="hidden" id="beginTime" th:value="${beginTime}">
	<input type="hidden" id="endTime" th:value="${endTime}">

	<div class="layui-fluid">
		<!-- 数据表格 -->
		<table class="layui-hide" id="tab" lay-filter="test" lay-data="{id: 'tab'}"></table>
	</div>

		<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>

		<script>

			var layer = layui.layer //弹层
				,table = layui.table //表格
				,element = layui.element //元素操作
				,$ = layui.jquery //jQuery
				,form = layui.form //表单

			//从sessionStorage中获取用户编号和角色名称
			var uId = sessionStorage.getItem('uId');
			var rName = sessionStorage.getItem('rName');

			//获取起止时间
			var beginTime = $("#beginTime").val();
            var endTime = $("#endTime").val();

			//执行一个 table 实例
			table.render({
				elem: '#tab'
				,url: '/success/querySByTime?uId='+uId+'&rName='+rName+'&beginTime='+beginTime+'&endTime='+endTime //数据接口
				,title: '成交客户列表' //表格名称
				,id: 'tab' //表格id
				,page: true //开启分页
				,limit: 10 //每页显示条数
				,limits: [10, 20, 50, 100] //自定义可选每页显示条数
				,cols: [ //表头
					[
                        {field: 'cName', minWidth: 120, title: '姓名', align:'center'}
                        ,{field: 'cTel', minWidth: 120, title: '电话', align:'center'}
                        ,{field: 'hName', minWidth: 120, title: '成交门诊', align:'center'}
                        ,{field: 'sTime', minWidth: 200, title: '成交时间', align:'center'}
                        ,{field: 'sSum', minWidth: 120, title: '成交金额', align:'center'}
                        ,{field: 'sPaysum', minWidth: 120, title: '实收金额', align:'center'}
                        ,{field: 'awaitMoney', minWidth: 120, title: '待收金额', align:'center'}
                    ]
				]
			});

		</script>

	</body>
</html>
