<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>退款</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
    <style>
        .list{cursor: pointer;height: 30px;padding: 5px;top: 0;line-height: 30px;}
        #list{border: 1px solid #C9C9C9; border-top: none;}
    </style>
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>客户姓名
            </label>
            <div class="layui-input-block">
                <input type="hidden" id="paySId">
                <input type="hidden" id="cId">
                <input type="text" class="layui-input" autocomplete="off" id="cName">
                <input type="hidden" id="page" value="1">
                <input type="hidden" id="count">
                <div id="list" style="height: auto; display: none; background-color: white;">
                    <div id="data"></div>
                    <div class='list' style='text-align: right;margin-top: -10px;'>
                        <i onclick="previousPage()" class="layui-icon layui-icon-up" style="font-size: 15px;"></i>&nbsp;&nbsp;&nbsp;
                        <i onclick="nextPage()" class="layui-icon layui-icon-down" style="font-size: 15px;"></i>
                    </div>
                    <div class='list' style='text-align: right;margin-top: -10px;' id='close'>
                        <i onclick="hideList()" class="layui-icon layui-icon-close" style="font-size: 15px;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>成交退款金额
            </label>
            <div class="layui-input-block">
                <input type="hidden" id="sSum">
                <input type="text" class="layui-input" id="refundsSum" value="0"
                       placeholder="请输入成交退款金额" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>支付退款金额
            </label>
            <div class="layui-input-block">
                <input type="hidden" id="sPaysum">
                <input type="text" class="layui-input" id="refundsPaysum"
                       placeholder="请输入支付退款金额" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>退款时间
            </label>
            <div class="layui-input-block">
                <input type="text" id="payTime" readonly
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="payRemark" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支付类型</label>
            <div class="layui-input-block">
                <input type="hidden" id="payTypeId" value="3">
                <input type="text" class="layui-input" value="退款" readonly>
            </div>
        </div>
    </form>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
<script>

    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //从sessionStorage中获取用户编号和角色名称
    var uId = sessionStorage.getItem('uId');
    var rName = sessionStorage.getItem('rName');

    //时间控件
    laydate.render({
        elem: '#payTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
        ,btns: ['now', 'confirm'] //底部按钮
        ,value: new Date() //默认时间
    });

    //根据客户名称查询成交客户
    function getList(cName, page){
        if(cName != ""){
            $.post("/crm/success/querySCByUIdAndCName", {rName:rName, uId:uId, cName:cName, page:page}, function (data) {
                var html = "";
                for (i = 0; i < data.data.length; i++){
                    html += "<div class='list' onclick='javascript:assign(&quot;"+data.data[i].sId+"&quot;,&quot;"+data.data[i].cId+"&quot;,&quot;"+data.data[i].cName+"&quot;,&quot;"+data.data[i].sSum+"&quot;,&quot;"+data.data[i].sPaysum+"&quot;);'>"+data.data[i].cName+"--"+data.data[i].cTel+"</div>";
                }
                //赋值
                $("#data").html(html);
                $("#count").val(data.count);
            });
            $("#list").attr("style", "background-color: white;height: auto; display: block;");
        }else{
            //赋值
            $("#data").html("");
            $("#list").attr("style", "background-color: white;height: auto; display: none;");
        }
    }

    //给搜索框添加input事件
    $("#cName").on("input", function(){
        var cName = $("#cName").val();
        var page = $("#page").val();
        getList(cName, page);
    });

    //给搜索框添加onfocus事件
    $("#cName").on("focus", function(){
        var cName = $("#cName").val();
        if(cName != ""){
            $("#list").attr("style", "background-color: white;height: auto; display: block;");
        }
    });

    //赋值
    function assign(sId, cId, cName, sSum, sPaysum) {
        $("#paySId").val(sId);
        $("#cId").val(cId);
        $("#cName").val(cName);
        $("#sSum").val(sSum);
        $("#sPaysum").val(sPaysum);
        //隐藏列表
        $("#list").attr("style", "background-color: white;height: auto; display: none;");
    }

    //上一页
    function previousPage() {
        //获取当前页码
        var page = $("#page").val();
        //获取总条数
        var count = $("#count").val();
        if (count != 0){
            if (eval(page+"-"+1) <= 0){
                layer.msg('已经是第一页');
            } else {
                var cName = $("#cName").val();
                getList(cName, eval(page+"-"+1));
                //给页码赋值
                $("#page").val(eval(page+"-"+1));
            }
        } else {
            layer.msg('没有数据');
        }
    }

    //下一页
    function nextPage() {
        //获取当前页码
        var page = $("#page").val();
        //获取总条数
        var count = $("#count").val();
        if (count != 0){
            if (eval(page+"+"+1) > count){
                layer.msg('已经是最后一页');
            } else {
                var cName = $("#cName").val();
                getList(cName, eval(page+"+"+1));
                //给页码赋值
                $("#page").val(eval(page+"+"+1));
            }
        } else {
            layer.msg('没有数据');
        }
    }

    //隐藏列表
    function hideList() {
        $("#list").attr("style", "background-color: #383d49;height: auto; display: none;");
    }

    //根据支付类型查询编号
    $.get("/crm/paytype/queryPByPayType", {payType:'退款'}, function (data){
        //赋值
        $("#payTypeId").val(data.data);
    })

</script>
</body>
</html>