<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>转诊客户列表</title>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
	</head>
	<body>

	<br>

	<div id="screen">
		&nbsp;&nbsp;&nbsp;根据姓名：
		<div class="layui-inline">
			<input class="layui-input" id="cName" autocomplete="off">
		</div>
		<button class="layui-btn search">查询</button>
		<button class="layui-btn" onclick="exportDataByScreen()">导出</button>
	</div>

	<!-- 数据表格 -->
	<table class="layui-hide" id="tab" lay-filter="test" lay-data="{id: 'tab'}"></table>

		<script type="text/html" id="toolbarDemo">
			<div class="layui-inline" lay-event="refresh"><i class="layui-icon layui-icon-refresh-1"></i></div>
		</script>

		<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>

		<script>

			var table = layui.table //表格
				,element = layui.element //元素操作
				,$ = layui.jquery //jQuery

			//从sessionStorage中获取用户编号和角色名称
			var uId = sessionStorage.getItem('uId');
			var rName = sessionStorage.getItem('rName');

			//为条件搜索按钮增加点击事件
			$(".search").on("click", function(data){
				tableReload();
			});

			//表格重载
			function tableReload(){
				//获取姓名
				var cName = $("#cName").val();
				//根据客户名称查询
				table.reload('tab', {
					url: '/crm/referral/queryRByCName?uId='+uId+'&rName='+rName
					,where: {
						cName: cName
					}
					,page: {
						curr: 1 //重新从第 1 页开始
					}
				});
			}

            //导出数据
            function exportDataByScreen(){
                //获取姓名
                var cName = $("#cName").val();
                //根据筛选条件查询
                $.ajax({
                    url: '/crm/referral/queryRByCName?uId='+uId+'&rName='+
						rName+'&cName='+cName+'&page=1&limit=10&export=1',
                    type: 'get',
                    async: false,
                    dataType: 'json',
                    success: function (res) {
                        //使用table.exportFile()导出数据
                        table.exportFile('tab', res.data, 'xls');
                    }
                });
            }

			//执行一个 table 实例
			table.render({
				elem: '#tab'
				,url: '/crm/referral/queryRByCName?uId='+uId+'&rName='+rName+'&export=0' //数据接口
				,title: '转诊记录' //表格名称
				,id: 'tab' //表格id
				,page: true //开启分页
				,limit: 10 //每页显示条数
				,limits: [10, 20, 50, 100] //自定义可选每页显示条数
				,toolbar: '#toolbarDemo' //刷新、增加工具栏
				,defaultToolbar: ['filter'] //筛选工具栏
				,cols: [ //表头
					[
						{field: 'rId', minWidth: 120, title: '编号', sort: true, align:'center'}
						,{field: 'cName', minWidth: 120, title: '姓名', align:'center'}
						,{field: 'failHName', minWidth: 200, title: '未成交门诊名称', align:'center'}
						,{field: 'hName', minWidth: 200, title: '新预约门诊名称', align:'center'}
						,{field: 'rMessage', minWidth: 200, title: '未成交信息', align:'center'}
						,{field: 'rCause', minWidth: 200, title: '转诊原因', align:'center'}
					]
				]
			});

			//监听头工具栏事件
			table.on('toolbar(test)', function(obj){
				var checkStatus = table.checkStatus(obj.config.id)
					,data = checkStatus.data; //获取选中的数据
				switch(obj.event){
					case 'refresh':
						tableReload();
						break;
				}
			});

		</script>

	</body>
</html>
