.row_button {
	border-radius: 10px;
}

.col {
	padding-left: 10px;
}

.panel {
	float: left;
	text-align: center;
	margin-bottom: 10px;
}

.panel_icon {
	width: 40%;
	display: inline-block;
	padding: 22px 0;
	background-color: #54ade8;
	float: left;
}
