<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增成交</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
    <style>
        .list{cursor: pointer;height: 30px;padding: 5px;top: 0;line-height: 30px;}
        #list{border: 1px solid #C9C9C9; border-top: none;}
    </style>
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>客户名称
            </label>
            <div class="layui-input-block">
                <input type="hidden" id="cId">
                <input type="hidden" id="clId">
                <input type="hidden" id="sAId">
                <input type="text" class="layui-input" autocomplete="off" id="cName">
                <input type="hidden" id="page" value="1">
                <input type="hidden" id="count">
                <div id="list" style="height: auto; display: none; background-color: white;">
                    <div id="data"></div>
                    <div class='list' style='text-align: right;margin-top: -10px;'>
                        <i onclick="previousPage()" class="layui-icon layui-icon-up" style="font-size: 15px;"></i>&nbsp;&nbsp;&nbsp;
                        <i onclick="nextPage()" class="layui-icon layui-icon-down" style="font-size: 15px;"></i>
                    </div>
                    <div class='list' style='text-align: right;margin-top: -10px;' id='close'>
                        <i onclick="hideList()" class="layui-icon layui-icon-close" style="font-size: 15px;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>门诊名称
            </label>
            <div class="layui-input-block">
                <input type="hidden" id="sHId">
                <input type="text" class="layui-input" id="hName" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交信息</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="sMessage" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="layui-form-item" id="clEntryFee">
            <label class="layui-form-label">抵扣报名费</label>
            <div class="layui-input-block">
                <input type="hidden" id="isDeduction">
                <input type="hidden" id="entryFee">
                <input type="radio" name="clEntryFee" value="0" title="否" checked>
                <input type="radio" name="clEntryFee" value="1" title="是">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>成交金额
            </label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" placeholder="请输入成交金额"
                       autocomplete="off" id="sSum">
            </div>
            <div class="layui-form-mid layui-word-aux">（包含报名费）</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>支付金额
            </label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" placeholder="请输入支付金额"
                       autocomplete="off" id="sPaysum">
            </div>
            <div class="layui-form-mid layui-word-aux">（包含报名费）</div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>成交时间
            </label>
            <div class="layui-input-block">
                <input type="text" id="sTime" readonly
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="sRemark" autocomplete="off"></textarea>
            </div>
        </div>
    </form>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
<script>

    var form = layui.form
        ,$ = layui.jquery
        ,laydate = layui.laydate
        ,layer = layui.layer;

    //从sessionStorage中获取用户编号和角色名称
    var uId = sessionStorage.getItem('uId');
    var rName = sessionStorage.getItem('rName');

    //时间控件
    laydate.render({
        elem: '#sTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
        ,btns: ['clear', 'confirm'] //底部按钮
        ,value: new Date() //初始时间
    });

    //根据客户名称查询可成交客户(待到店，成交）
    function getList(cName, page){
        if(cName != ""){
            $.post("/crm/customer/queryCSCByUIdAndCName", {rName:rName, uId:uId, cName:cName, page:page}, function (data) {
                var html = "";
                for (i = 0; i < data.data.length; i++){
                    html += "<div class='list' onclick='assign(&quot;"+data.data[i].cId+"&quot;," +
                        "&quot;"+data.data[i].clId+"&quot;,&quot;"+data.data[i].aId+"&quot;," +
                        "&quot;"+data.data[i].cName+"&quot;,&quot;"+data.data[i].hId+"&quot;," +
                        "&quot;"+data.data[i].clEntryFee+"&quot;," +
                        "&quot;"+data.data[i].hName+"&quot;)'>"+data.data[i].cName+"--"+data.data[i].cTel+"</div>";
                }
                //赋值
                $("#data").html(html);
                $("#count").val(data.count);
            });
            $("#list").attr("style", "background-color: white;height: auto; display: block;");
        }else{
            //赋值
            $("#data").html("");
            $("#list").attr("style", "background-color: white;height: auto; display: none;");
        }
    }

    //给搜索框添加input事件
    $("#cName").on("input", function () {
        var cName = $("#cName").val();
        var page = $("#page").val();
        getList(cName, page);
    });

    //给搜索框添加onfocus事件
    $("#cName").on("focus", function(){
        var cName = $("#cName").val();
        if(cName != ""){
            $("#list").attr("style", "background-color: white;height: auto; display: block;");
        }
    });

    //赋值
    function assign(cId, clId, aId, cName, hId, clEntryFee, hName) {
        $("#cId").val(cId);
        $("#clId").val(clId);
        $("#sAId").val(aId);
        $("#cName").val(cName);
        $("#sHId").val(hId);
        $("#hName").val(hName);
        $("#entryFee").val(clEntryFee);
        //是否隐藏抵扣报名费
        if (clEntryFee == null || clEntryFee == "" || clEntryFee == "null" || clEntryFee.indexOf("已抵扣")!=-1 || clEntryFee.indexOf("已退还")!=-1){
            $("#isDeduction").val("0");
            $("#clEntryFee").hide();
        } else {
            $("#isDeduction").val("1");
        }
        //隐藏列表
        $("#list").attr("style", "background-color: white;height: auto; display: none;");
    }

    //上一页
    function previousPage() {
        //获取当前页码
        var page = $("#page").val();
        //获取总条数
        var count = $("#count").val();
        if (count != 0){
            if (eval(page+"-"+1) <= 0){
                layer.msg('已经是第一页');
            } else {
                var cName = $("#cName").val();
                getList(cName, eval(page+"-"+1));
                //给页码赋值
                $("#page").val(eval(page+"-"+1));
            }
        } else {
            layer.msg('没有数据');
        }
    }

    //下一页
    function nextPage() {
        //获取当前页码
        var page = $("#page").val();
        //获取总条数
        var count = $("#count").val();
        if (count != 0){
            if (eval(page+"+"+1) > count){
                layer.msg('已经是最后一页');
            } else {
                var cName = $("#cName").val();
                getList(cName, eval(page+"+"+1));
                //给页码赋值
                $("#page").val(eval(page+"+"+1));
            }
        } else {
            layer.msg('没有数据');
        }
    }

    //隐藏列表
    function hideList() {
        $("#list").attr("style", "background-color: #383d49;height: auto; display: none;");
    }

</script>
</body>
</html>