<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>退款</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">客户姓名</label>
            <div class="layui-input-block">
                <input type="hidden" id="paySId" th:value="${sId}">
                <input type="hidden" id="cId" th:value="${cId}">
                <input type="text" class="layui-input" id="cName" th:value="${cName}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交退款金额</label>
            <div class="layui-input-block">
                <input type="hidden" id="sSum" th:value="${sSum}">
                <input type="text" class="layui-input" id="refundsSum" value="0"
                       placeholder="请输入成交退款金额" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支付退款金额</label>
            <div class="layui-input-block">
                <input type="hidden" id="sPaysum" th:value="${sPaysum}">
                <input type="text" class="layui-input" id="refundsPaysum"
                       placeholder="请输入支付退款金额" autocomplete="off">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="payRemark" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">支付类型</label>
            <div class="layui-input-block">
                <input type="hidden" id="payTypeId" value="3">
                <input type="text" class="layui-input" value="退款" readonly>
            </div>
        </div>
    </form>

</div>
<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
<!--<script th:src="@{/layui/layui.js}"></script>-->
<script>
    //加载form、laydate
    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,$ = layui.jquery
            ,layer = layui.layer;

    });

</script>
</body>
</html>