<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>成交客户列表</title>
		<link rel="stylesheet" th:href="@{/layui/css/layui.css}">
	</head>
	<body>

	<br>

	<div id="screen">
		根据客户名称：
		<div class="layui-inline">
			<input class="layui-input" id="cName" autocomplete="off">
		</div>
		<button class="layui-btn search">搜索</button>
	</div>

	<!-- 数据表格 -->
	<table class="layui-hide" id="tab" lay-filter="test" lay-data="{id: 'tab'}"></table>

		<script type="text/html" id="toolbarDemo">
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="refresh">刷新</a>
			<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
			<a class="layui-btn layui-btn-xs" lay-event="feedback">门诊反馈</a>
			<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="callback">客户回访</a>
			<a class="layui-btn layui-btn-warm layui-btn-xs" lay-event="gathering">收款</a>
		</script>

		<script th:src="@{/layui/layui.js}"></script>

		<script>

            layui.use(['laydate', 'laypage', 'layer', 'table', 'upload', 'element'], function(){
                var laydate = layui.laydate //日期
                    ,laypage = layui.laypage //分页
                    ,layer = layui.layer //弹层
                    ,table = layui.table //表格
                    ,upload = layui.upload //上传
                    ,element = layui.element //元素操作
                    ,$ = layui.jquery //jQuery

                //从sessionStorage中获取用户编号和角色名称
                var uId = sessionStorage.getItem('uId');
                var rName = sessionStorage.getItem('rName');

                //为条件搜索按钮增加点击事件
                $(".search").on("click", function(data){
                    tableReload();
                });

                //表格重载
                function tableReload(){
                    //获取客户名称
                    var cName = $("#cName").val();
                    //根据客户名称查询
                    table.reload('tab', {
                        url: '/success/querySByCName?uId='+uId+'&rName='+rName
                        ,where: {
                            cName: cName
                        }
                        ,page: {
                            curr: 1 //重新从第 1 页开始
                        }
                    });
                }

				//新增客户跟进
                function saveFollow(data, ftType){
                    var ix = layer.open({
                        type: 2, //层类型，iframe
                        title: '新增客户跟进',
                        content: ['/followsave?cId='+data.cId+
                        '&cName='+data.cName+'&ftType='+ftType],
                        area: ['450px', '350px'],
                        resize: false,
                        btn: '确定',
                        btn1: function (index, layero) {
                            var body = layer.getChildFrame('body', index);
                            //获取值
                            var fCId = $(body).find("#fCId").val();
                            var fTypeId = $(body).find("#fTypeId").val();
                            var ftType = $(body).find("#ftType").val();
                            var fContent = $(body).find("#fContent").val();
                            if (fContent != '' && fContent.trim() != '') {
                                $.post("/follow/saveFollow", {uId:uId, fCId:fCId, fTypeId:fTypeId, fContent:fContent},
                                    function (obj) {
                                        layer.msg(obj.msg, {time: 500}, function () {
                                            layer.close(ix);
                                            tableReload();
                                        });
                                    }
                                );
                            } else {
                                layer.msg('请输入门诊反馈内容');
                            }
                        },
                        cancel: function(index, layero){
                            layer.close(index);
                        }
                    });
				}

                //执行一个 table 实例
                table.render({
                    elem: '#tab'
                    ,height: 420
                    ,url: '/success/querySByCName?uId='+uId+'&rName='+rName //数据接口
                    ,title: '成交客户表' //表格名称
                    ,id: 'tab' //表格id
                    ,page: true //开启分页
                    ,limit: 5 //每页显示条数
                    ,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
                    ,toolbar: '#toolbarDemo' //刷新、增加工具栏
                    ,defaultToolbar: ['filter', 'exports', 'print'] //筛选、导出、打印工具栏
                    ,cols: [ //表头
                        [
                            {type: 'checkbox', fixed: 'left'} //左侧复选框
                            ,{field: 'sId', title: 'ID', width: 90, sort: true, event: 'collapse',
                                templet: function(data) {
                                    return "<div style='position: relative; padding: 0 10px 0 20px; cursor:pointer;'>" + data.sId +
                                        "<i	style='left: 0px;' lay-tips='展开' class='layui-icon layui-colla-icon layui-icon-right'></i>" +
                                        "</div>";
                                }
                            }
                            ,{field: 'cName', width: 120, title: '客户姓名', align:'center'}
                            ,{field: 'hName', width: 120, title: '门诊名称', align:'center'}
                            ,{field: 'sMessage', width: 180, title: '成交信息', align:'center'}
                            ,{field: 'sSum', width: 120, title: '成交金额', align:'center'}
                            ,{field: 'sPaysum', width: 120, title: '客户支付金额', align:'center'}
                            ,{field: 'sRemark', width: 180, title: '备注', align:'center'}
                            ,{field: 'sTime', width: 200, title: '成交时间', align:'center'}
                        ]
                    ]
                });

                //监听头工具栏事件
                table.on('toolbar(test)', function(obj){
                    var checkStatus = table.checkStatus(obj.config.id)
                        ,data = checkStatus.data[0]; //获取选中的数据
                    switch(obj.event){
                        case 'refresh':
                            tableReload();
                            break;
                        case 'edit':
                            if(data.length === 0){
                                layer.msg('请选择一行');
                            } else if(data.length > 1){
                                layer.msg('只能同时操作一个');
                            } else {
                                //弹出编辑页面
                                var ix = layer.open({
                                    type: 2, //层类型，iframe
                                    title: '编辑成交客户',
                                    content: ['/success/querySBySId?sId=' + data.sId],
                                    area: ['450px', '450px'],
                                    resize: false,
                                    btn: '确定',
                                    btn1: function (index, layero) {
                                        var body = layer.getChildFrame('body', index);
                                        //获取值
                                        var sCId = $(body).find("#sCId").val();
                                        var sHId = $(body).find("#sHId").val();
                                        var sMessage = $(body).find("#sMessage").val();
                                        var sSum = $(body).find("#sSum").val();
                                        var sPaysum = $(body).find("#sPaysum").val();
                                        var sRemark = $(body).find("#sRemark").val();
                                        if (sSum != '' && sSum.trim() != '' && sPaysum != '' && sPaysum.trim() != '') {
                                            //声明格式是否正确
                                            var verify = true;
                                            if (sSum <= 0) {
                                                layer.msg("成交金额必须大于零");
                                                verify = false;
                                                return;
                                            }
                                            if (sPaysum <= 0) {
                                                layer.msg("客户支付金额必须大于零");
                                                verify = false;
                                                return;
                                            }
                                            if (verify) {
                                                $.post("/success/editSBySId",
                                                    {
                                                        uId: uId, sCId: sCId, sHId: sHId, sMessage: sMessage,
                                                        sSum: sSum, sPaysum: sPaysum, sRemark: sRemark
                                                    },
                                                    function (obj) {
                                                        layer.msg(obj.msg, {time: 500}, function () {
                                                            layer.close(ix);
                                                            tableReload();
                                                        });
                                                    }
                                                );
                                            }
                                        } else {
                                            layer.msg('请填写带星号的必填项');
                                        }
                                    },
                                    cancel: function (index, layero) {
                                        layer.close(index);
                                    }
                                });
                            }
                            break;
                        case 'feedback':
                            if(data.length === 0){
                                layer.msg('请选择一行');
                            } else if(data.length > 1){
                                layer.msg('只能同时操作一个');
                            } else {
                                saveFollow(data, "成交门诊反馈");
                            }
                            break;
                        case 'callback':
                            if(data.length === 0){
                                layer.msg('请选择一行');
                            } else if(data.length > 1){
                                layer.msg('只能同时操作一个');
                            } else {
                                saveFollow(data, "成交客户回访");
                            }
                            break;
                        case 'gathering':
                            if(data.length === 0){
                                layer.msg('请选择一行');
                            } else if(data.length > 1){
                                layer.msg('只能同时操作一个');
                            } else {
                                //弹出收款页面
                                var ix = layer.open({
                                    type: 2, //层类型，iframe
                                    title: '新增支付记录',
                                    content: ['/payrecordsave?cId='+data.sId+'&cName='+data.cName],
                                    area: ['400px', '300px'],
                                    resize: false,
                                    btn: '确定',
                                    btn1: function (index, layero) {
                                        var body = layer.getChildFrame('body', index);
                                        //获取值
                                        var paySId = $(body).find("#paySId").val();
                                        var paySum = $(body).find("#paySum").val();
                                        var payTypeId = $(body).find("#payTypeId").val();
                                        if (paySum != '' && paySum.trim() != '') {
                                            //声明格式是否正确
                                            var verify = true;
                                            if(paySum <= 0){
                                                layer.msg("支付金额必须大于零");
                                                verify = false;
                                                return;
                                            }
                                            if(verify) {
                                                $.post("/payrecord/savePayrecord",
                                                    {uId: uId, paySId: paySId, paySum: paySum, payTypeId: payTypeId},
                                                    function (obj) {
                                                        layer.msg(obj.msg, {time: 500}, function () {
                                                            layer.close(ix);
                                                            tableReload();
                                                        });
                                                    }
                                                );
                                            }
                                        } else {
                                            layer.msg('请填写支付金额');
                                        }
                                    },
                                    cancel: function(index, layero){
                                        layer.close(index);
                                    }
                                });
                            }
                            break;
                    }
                });

                //监听行工具事件
                table.on('tool(test)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
                    var data = obj.data //获得当前行数据
                        ,layEvent = obj.event; //获得 lay-event 对应的值
                    if (obj.event === 'collapse') {
                        var trObj = layui.$(this).parent('tr'); //当前行
                        var accordion = true //开启手风琴，那么在进行折叠操作时，始终只会展现当前展开的表格。
                        var content = '<table></table>' //内容
                        //表格行折叠方法
                        collapseTable({
                            elem: trObj,
                            accordion: accordion,
                            content: content,
                            success: function(trObjChildren, index) { //成功回调函数
                                //trObjChildren 展开tr层DOM
                                //index 当前层索引
                                trObjChildren.find('table').attr("id", index);
                                table.render({
                                    elem: "#" + index
                                    ,url: '/payrecord/queryPByPaySId?paySId=' + data.sId
                                    ,page: true //开启分页
                                    ,limit: 5 //每页显示条数
                                    ,limits: [5, 10, 20, 50, 100] //自定义可选每页显示条数
                                    ,cols: [
                                        [
                                            {field: 'payId', title: 'ID', sort: true}
                                            ,{field: 'cName', title: '客户名称'}
                                            ,{field: 'paySum', title: '支付金额', sort: true}
                                            ,{field: 'payTime', title: '支付时间', sort: true}
                                            ,{field: 'payType', title: '支付类型'}
                                        ]
                                    ]
                                });
                            }
                        });
                    } else if(layEvent === 'edit'){
						//弹出编辑页面
                        var ix = layer.open({
                            type: 2, //层类型，iframe
                            title: '编辑成交客户',
                            content: ['/success/querySBySId?sId='+data.sId],
                            area: ['450px', '450px'],
                            resize: false,
                            btn: '确定',
                            btn1: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                //获取值
                                var sCId = $(body).find("#sCId").val();
                                var sHId = $(body).find("#sHId").val();
                                var sMessage = $(body).find("#sMessage").val();
                                var sSum = $(body).find("#sSum").val();
                                var sPaysum = $(body).find("#sPaysum").val();
                                var sRemark = $(body).find("#sRemark").val();
                                if (sSum != '' && sSum.trim() != '' && sPaysum != '' && sPaysum.trim() != '') {
                                    //声明格式是否正确
                                    var verify = true;
                                    if(sSum <= 0){
                                        layer.msg("成交金额必须大于零");
                                        verify = false;
                                        return;
                                    }
                                    if(sPaysum <= 0){
                                        layer.msg("客户支付金额必须大于零");
                                        verify = false;
                                        return;
                                    }
                                    if(verify) {
                                        $.post("/success/editSBySId",
                                            {
                                                uId: uId, sCId: sCId, sHId: sHId, sMessage: sMessage,
                                                sSum: sSum, sPaysum: sPaysum, sRemark: sRemark
                                            },
                                            function (obj) {
                                                layer.msg(obj.msg, {time: 500}, function () {
                                                    layer.close(ix);
                                                    tableReload();
                                                });
                                            }
                                        );
                                    }
                                } else {
                                    layer.msg('请填写带星号的必填项');
                                }
                            },
                            cancel: function(index, layero){
                                layer.close(index);
                            }
                        });
                    } else if(layEvent === 'feedback'){
                        saveFollow(data, "成交门诊反馈");
                    } else if(layEvent === 'callback'){
                        saveFollow(data, "成交客户回访");
                    } else if(layEvent === 'gathering'){
                        //弹出收款页面
                        var ix = layer.open({
                            type: 2, //层类型，iframe
                            title: '新增支付记录',
                            content: ['/payrecordsave?cId='+data.sId+'&cName='+data.cName],
                            area: ['400px', '300px'],
                            resize: false,
                            btn: '确定',
                            btn1: function (index, layero) {
                                var body = layer.getChildFrame('body', index);
                                //获取值
                                var paySId = $(body).find("#paySId").val();
                                var paySum = $(body).find("#paySum").val();
                                var payTypeId = $(body).find("#payTypeId").val();
                                if (paySum != '' && paySum.trim() != '') {
                                    //声明格式是否正确
                                    var verify = true;
                                    if(paySum <= 0){
                                        layer.msg("支付金额必须大于零");
                                        verify = false;
                                        return;
                                    }
                                    if(verify) {
                                        $.post("/payrecord/savePayrecord",
                                            {uId: uId, paySId: paySId, paySum: paySum, payTypeId: payTypeId},
                                            function (obj) {
                                                layer.msg(obj.msg, {time: 500}, function () {
                                                    layer.close(ix);
                                                    tableReload();
                                                });
                                            }
                                        );
                                    }
                                } else {
                                    layer.msg('请填写支付金额');
                                }
                            },
                            cancel: function(index, layero){
                                layer.close(index);
                            }
                        });
                    }
                });

                //表格折叠方法
                function collapseTable(options) {
                    var trObj = options.elem;
                    if (!trObj) return;
                    var accordion = options.accordion,
                        success = options.success,
                        content = options.content || '';
                    var tableView = trObj.parents('.layui-table-view'); //当前表格视图
                    var id = tableView.attr('lay-id'); //当前表格标识
                    var index = trObj.data('index'); //当前行索引
                    var leftTr = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + index + '"]'); //左侧当前固定行
                    var rightTr = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + index + '"]'); //右侧当前固定行
                    var colspan = trObj.find('td').length; //获取合并长度
                    var trObjChildren = trObj.next(); //展开行Dom
                    var indexChildren = id + '-' + index + '-children'; //展开行索引
                    var leftTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-l tr[data-index="' + indexChildren + '"]'); //左侧展开固定行
                    var rightTrChildren = tableView.find('.layui-table-fixed.layui-table-fixed-r tr[data-index="' + indexChildren + '"]'); //右侧展开固定行
                    var lw = leftTr.width() + 15; //左宽
                    var rw = rightTr.width() + 15; //右宽
                    //不存在就创建展开行
                    if (trObjChildren.data('index') != indexChildren) {
                        //装载HTML元素
                        var tr = '<tr data-index="' + indexChildren + '"><td colspan="' + colspan + '"><div style="height: auto;padding-left:' + lw + 'px;padding-right:' + rw + 'px" class="layui-table-cell">' + content + '</div></td></tr>';
                        trObjChildren = trObj.after(tr).next().hide(); //隐藏展开行
                        var fixTr = '<tr data-index="' + indexChildren + '"></tr>';//固定行
                        leftTrChildren = leftTr.after(fixTr).next().hide(); //左固定
                        rightTrChildren = rightTr.after(fixTr).next().hide(); //右固定
                    }
                    //展开|折叠箭头图标
                    trObj.find('td[lay-event="collapse"] i.layui-colla-icon').toggleClass("layui-icon-right layui-icon-down");
                    //显示|隐藏展开行
                    trObjChildren.toggle();
                    //开启手风琴折叠和折叠箭头
                    if (accordion) {
                        trObj.siblings().find('td[lay-event="collapse"] i.layui-colla-icon').removeClass("layui-icon-down").addClass("layui-icon-right");
                        trObjChildren.siblings('[data-index$="-children"]').hide(); //展开
                        rightTrChildren.siblings('[data-index$="-children"]').hide(); //左固定
                        leftTrChildren.siblings('[data-index$="-children"]').hide(); //右固定
                    }
                    success(trObjChildren, indexChildren); //回调函数
                    heightChildren = trObjChildren.height(); //展开高度固定
                    rightTrChildren.height(heightChildren + 115).toggle(); //左固定
                    leftTrChildren.height(heightChildren + 115).toggle(); //右固定
                }

            });

		</script>

	</body>
</html>
