<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑成交客户</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">客户姓名</label>
            <div class="layui-input-block">
                <input type="hidden" id="sId" th:value="${s.sId}">
                <input type="hidden" id="sAId" th:value="${s.sAId}">
                <input type="hidden" id="cId" th:value="${cId}">
                <input type="text" class="layui-input" id="cName"
                       th:value="${s.cName}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交门诊</label>
            <div class="layui-input-block">
                <input type="hidden" id="sHId" th:value="${s.sHId}">
                <input type="text" class="layui-input"
                       th:value="${s.hName}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交信息</label>
            <div class="layui-input-block">
                <textarea id="sMessage" class="layui-textarea"
                          th:text="${s.sMessage}"></textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>成交金额
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="sSum"
                       autocomplete="off" th:value="${s.sSum}" >
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>成交时间
            </label>
            <div class="layui-input-block">
                <input id="time" type="hidden" th:value="${s.sTime}">
                <input type="text" id="sTime" readonly
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">成交备注</label>
            <div class="layui-input-block">
                <textarea id="sRemark" class="layui-textarea"
                          th:text="${s.sRemark}"></textarea>
            </div>
        </div>
    </form>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
<script>

    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //时间控件
    laydate.render({
        elem: '#sTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
    });

    //给成交时间赋值
    var time = $("#time").val();
    $("#sTime").val(time.substring(0, time.length-2));

</script>
</body>
</html>