<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增成交</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="hidden" id="cId" th:value="${cId}">
                <input type="hidden" id="clId" th:value="${clId}">
                <input type="hidden" id="sAId" th:value="${sAId}">
                <input type="text" class="layui-input" id="cName" th:value="${cName}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门诊名称</label>
            <div class="layui-input-block">
                <input type="hidden" id="sHId" th:value="${hId}">
                <input type="text" class="layui-input" th:value="${hName}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门诊反馈</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="sMessage" autocomplete="off"></textarea>
            </div>
        </div>
        <div class="layui-form-item" id="clEntryFee">
            <label class="layui-form-label">抵扣报名费</label>
            <div class="layui-input-block">
                <input type="hidden" id="isDeduction" th:value="${isDeduction}">
                <input type="radio" name="clEntryFee" value="0" title="否" checked>
                <input type="radio" name="clEntryFee" value="1" title="是">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>成交金额
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="请输入成交金额"
                       autocomplete="off" id="sSum">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span style="color: red;">*&nbsp;</span>支付金额
            </label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" placeholder="请输入支付金额"
                       autocomplete="off" id="sPaysum">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <textarea class="layui-textarea" id="sRemark" autocomplete="off"></textarea>
            </div>
        </div>
    </form>

</div>
<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
<!--<script th:src="@{/layui/layui.js}"></script>-->
<script>

    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //隐藏抵扣报名费
    if ($("#isDeduction").val() == 0){
        $("#clEntryFee").hide();
    }

</script>
</body>
</html>