<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>筛选条件</title>
  <link rel="stylesheet" th:href="@{/layui/css/layui.css}">
</head>
<body>

	<input type="hidden" id="ctId" th:value="${cTypeId}">
	<div class="layui-fluid">
		
		<br />
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: auto;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;姓名
			</label>
			<div class="layui-input-inline">
				<input type="text" id="cName" required  lay-verify="required" 
					placeholder="请输入姓名" autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label" style="width: auto;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;电话
			</label>
			<div class="layui-input-inline">
				<input type="text" id="cTel" required  lay-verify="required" 
					placeholder="请输入电话" autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label" style="width: auto;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;报名项目
			</label>
			<div class="layui-input-inline layui-form">
			  <select id="cProject" lay-verify="required">
				<option value=""></option>
				<option value="种植">种植</option>
				<option value="矫正">矫正</option>
				<option value="牙贴面">牙贴面</option>
				<option value="牙齿治疗">牙齿治疗</option>
			  </select>
			</div>
		</div>
		
		<br />
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: auto;">
				&nbsp;&nbsp;预约门诊
			</label>
			<div class="layui-input-inline layui-form">
				<select id="hId" lay-verify="required">
					<option value=""></option>
				</select>
			</div>
			<label class="layui-form-label" style="width: auto;">是否交定金</label>
			<div class="layui-input-inline layui-form">
				 <input type="radio" name="cEarnest" value="1" title="是">
				 <input type="radio" name="cEarnest" value="0" title="否">
			</div>
			<label class="layui-form-label" style="width: auto;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;负责人
			</label>
			<div class="layui-input-inline layui-form">
			  <select id="cUId" lay-verify="required">
				<option value=""></option>
			  </select>
			</div>
		</div>
		
		<br />
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: auto;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;来源
			</label>
			<div class="layui-input-inline">
				<input type="text" id="cSource" required  lay-verify="required" 
					placeholder="请输入来源" autocomplete="off" class="layui-input">
			</div>
			<label class="layui-form-label" style="width: auto;">
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;状态
				<input type="hidden" id="cTypeId">
			</label>
			<div class="layui-input-inline layui-form" id="none">
			  <select id="typeId" lay-filter="change">
				<option value=""></option>
			  </select>
			</div>
			<div class="layui-input-inline layui-form" id="type">
				<input type="text" id="cType" th:value="${cType}" readonly class="layui-input">
			</div>
		</div>
		
		<br />
		<div class="layui-form-item">
			<label class="layui-form-label" style="width: auto;">
				&nbsp;&nbsp;报名时间
			</label>
			<div class="layui-input-inline layui-form">
			  <input type="text" id="cPlaceTime" readonly placeholder="请输入报名时间"
					 autocomplete="off" class="layui-input" style="width: 300px;">
			</div>
		</div>
		
  </div>
  
<script src="layui/layui.js"></script>
 
<script>
	layui.use(['form', 'layer', 'element', 'laydate'], function(){
		
		var layer = layui.layer //弹层
				,element = layui.element //元素操作
				,$ = layui.jquery //jQuery
				,laydate = layui.laydate //时间控件
				,form = layui.form //表单

        //从sessionStorage中获取用户编号
        var uId = sessionStorage.getItem('uId');
        var rName = sessionStorage.getItem('rName');

		//时间控件
		laydate.render({
			elem: '#cPlaceTime' //指定元素
			,type: 'datetime' //时间格式
			,trigger: 'click' //采用click弹出
			,range: true //开启左右面板范围选择
		});

        //获取所有门诊
        $.get("/hospital/queryHospital", function (res){
            //定义负责人下拉框内容
            var html = "";
            $.each(res.data, function (index, item) {
                html += "<option value='" + item.hId + "'>" + item.hName + "</option>";
            });
            $("#hId").append(html);
            //append后必须重新渲染
            form.render('select');
        })

		if (rName == "管理员"){
			//获取角色为销售员的用户对象
			$.get("/user/queryUserByRName", function (res){
				//定义负责人下拉框内容
				var html = "";
				$.each(res.data, function (index, item) {
					html += "<option value='" + item.uId + "'>" + item.uName + "</option>";
				});
				$("#cUId").append(html);
				//append后必须重新渲染
				form.render('select');
			})
		} else {
			$("#cUId").attr("disabled", "disabled");
		}

		//获取客户状态编号
		var ctId = $("#ctId").val();
        //判断客户状态是否为零
        if (ctId == 0){
            //客户管理点击，隐藏文本框，显示下拉框
            $("#none").addClass("layui-show");
            $("#type").addClass("layui-hide");
            //获取所有客户状态
            $.get("/ctype/queryCtype", function (res){
                //定义负责人下拉框内容
                var html = "";
                $.each(res.data, function (index, item) {
                    html += "<option value='" + item.ctId + "'>" + item.ctType + "</option>";
                });
                $("#typeId").append(html);
                //append后必须重新渲染
                form.render('select');
            })
        } else {
            //其他点击，显示文本框，隐藏下拉框
            $("#none").addClass("layui-hide");
            $("#type").addClass("layui-show");
            //赋值
            $("#type").val();
		}

        //下拉框改变事件
        form.on('select(change)', function(data){
            //改变客户状态
            $("#cTypeId").val(data.value);
        })

    });

</script>

</body>
</html>