<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>编辑客户状态</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">客户状态</label>
            <div class="layui-input-block">
                <input type="hidden" id="ctId" th:value="${ctype.ctId}">
                <input type="text" id="ctType" placeholder="请输入客户状态"
                       autocomplete="off" class="layui-input" th:value="${ctype.ctType}">
            </div>
        </div>
    </form>

</div>
<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
<!--<script th:src="@{/layui/layui.js}"></script>-->
<script>
    //加载form、laydate
    layui.use(['form', 'laydate'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,$ = layui.jquery
            ,layer = layui.layer;

    });

</script>
</body>
</html>