<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>设定角色</title>
		<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
	</head>

	<body>

		<input type="hidden" id="rId" th:value="${rId}">

		<div class="layui-fluid">

		    <br>
			<button type="button" class="layui-btn layui-btn-sm" lay-demo="getChecked">保存</button>
			<br>

			<div id="demo" class="demo-tree-more"></div>

		</div>

	</body>

	<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>

	<script>
		var tree = layui.tree
			,layer = layui.layer
			,util = layui.util
			,$ = layui.jquery;

		//获取值
		var rId = $("#rId").val();

		//获取树形组件
		$.get('/crm/role/roleSetting?rId=' + rId, function(data){

			tree.render({
				elem: '#demo'
				,data: data
				,showCheckbox: true  //是否显示复选框
				,id: 'demoId'
			});

		});

		//按钮事件
		util.event('lay-demo', {
			getChecked: function(othis){
				//获取选中节点的数据
				var checkedData = tree.getChecked('demoId');//获取选中节点的数据
				//定义选择数据编号列表
				var menuList = "";
				for(var i = 0; i < checkedData.length; i++){
					//添加到数组
					menuList += checkedData[i].id + ",";
					if("undefind" != checkedData[i].children){
						for(var j = 0; j < checkedData[i].children.length; j++){
							//添加到数组
							menuList += checkedData[i].children[j].id + ",";
						}
					}
				}
				//去除最后一个逗号
				menuList = menuList.substring(0, menuList.length-1)
				//保存到数据库
                var load = layer.load();
				$.get("/crm/authority/editRMByRId", {rId:rId, menuList:menuList}, function(obj){
					layer.close(load);
				    if(obj.code == 200){
                        layer.msg(obj.msg, {time: 500}, function () {
                            parent.layer.closeAll();
                        });
					} else {
					    layer.msg(obj.msg);
					}
				});
			}
		});

	</script>

</html>
