<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>业务概览</title>
	<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
	<style>
		.layui-select,.layui-input{
			height: 30px;
			width: 100px;
			margin-top: 6px;
		}
	</style>
</head>
<body bgcolor="#F0F0F0">
	<div class="layui-fluid">
		<div class="layui-card" style="margin-top: 15px;">
			<div class="layui-card-header">
				<div class="layui-form layui-form-item layui-input-inline"
					 style="float: right;">
					<select id="unit" lay-filter="change">
						<option value="负责人">负责人</option>
						<option value="门诊">门诊</option>
						<option value="报名项目">报名项目</option>
					</select>
				</div>
			</div>
			<div class="layui-card-body layui-row">
				<div class="layui-col-md6 layui-card">
					<div class="layui-card-header">
					</div>
					<div class="layui-card-body" style="height: 300px;">
						<div style="text-align: center; margin: 8px 0;font-size: 20px;">成交额统计</div>
						<!--数据表格-->
						<table id="tab" class="layui-hide" lay-filter="tab"></table>
					</div>
				</div>
				<div class="layui-col-md6 layui-card">
					<div class="layui-card-header">
						<div style="float: right; margin-left: -20px; z-index: 99;" class="layui-inline">
							<i class="layui-icon layui-icon-date" style="font-size: 20px;"></i>
						</div>
						<div style="float: right; margin-top: 7px;" class="layui-inline">
							<input class="layui-input" id="statistics" autocomplete="off" readonly
								   style="height: 28px; width: 170px; font-size: 10px; cursor: pointer; margin-top: 0;">
						</div>
					</div>
					<div class="layui-card-body" style="height: 300px;">
						<div id="chart" style="width: 100%;height:300px;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>

</body>
<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
<!--统计图表JS-->
<script src="//cdnjs.cloudflare.com/ajax/libs/echarts/5.0.0/echarts.min.js"></script>

<script>

    var element = layui.element
        ,layer = layui.layer
        ,$ = layui.jquery
        ,laydate = layui.laydate
		,table = layui.table
		,form = layui.form

    //给筛选条件赋值（默认本月）
    var date = new Date();
    var begin = date.getFullYear()+"-"+eval(date.getMonth()+1)+"-01";
    var end = date.getFullYear()+"-"+eval(date.getMonth()+1)+"-"+date.getDate();
    var time = begin + " - " + end;
    $("#statistics").val(time);

    //onload事件
    $(function () {
        //统计
        statistics("负责人", begin, end);
    })

	//统计单位下拉框改变事件
    form.on('select(change)', function(data){
        //统计
        var date = $("#statistics").val();
        var begin = date.substring(0, 10);
        var end = date.substring(13, 23);
        statistics(data.value, begin, end);
    })

    //统计图表
	function statistics(unit, begin, end) {

        //执行一个 table 实例
        table.render({
            elem: '#tab'
            ,height: 238
            ,page: true //开启分页
            ,limit: 4 //每页显示条数
            ,limits: [4] //自定义可选每页显示条数
            ,url: '/success/getGruopByUNameSSum?unit='+unit+'&beginTime='+begin+'&endTime='+end //数据接口
            ,title: '成交额统计' //表格名称
            ,id: 'tab' //表格id
            ,cols: [ //表头
                [
                    {field: 'unit', minWidth: 120, title: '统计单位', align:'center'}
                    ,{field: 'sum', minWidth: 120, title: '成交额', align:'center'}
                ]
            ]
        });

        //获取所有统计单位
		var unites = [];
		var sumes = [];
		//根据起止时间和分组获取总成交额
		$.ajax({
			url: "/success/getGruopByUNameSSum"
			,data: {unit:unit, beginTime:begin, endTime:end}
			,async: false
			,success: function (res) {
				$.each(res.data, function (index, item) {
					unites.push(item.unit);
					sumes.push(item.sum);
				});
			}
		});
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('chart'));
        // 指定图表的配置项和数据
        var option = {
            color: '#37a2da',
			barMaxWidth: '50%',
            tooltip: {
                axisPointer: {
                    type: 'none'
				}
            },
            xAxis: {
                type: 'category',
                axisLabel: {
                    interval:0,
                    rotate:20
                },
                data: unites
            },
            yAxis: {
                type: 'value'
            },
            series: [{
                data: sumes,
                type: 'bar',
                showBackground: true,
                backgroundStyle: {
                    color: 'rgba(220, 220, 220, 0.8)'
                }
            }]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    }

    //统计图表时间控件
    laydate.render({
        elem: '#statistics' //指定元素
        ,trigger: 'click' //采用click弹出
        ,range: true //范围选择
        ,max: 0 //最大值为今天
        ,btns: ['confirm'] //右下角显示按钮
        ,done: function(value){ //控件选择完毕后的回调
            var begin = value.substring(0, 10);
            var end = value.substring(13, 23);
            var unit = $("#unit").val();
            statistics(unit, begin, end);
        }
    });

</script>

</html>
