<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增预约客户</title>
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/css/layui.min.css" />
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="hidden" id="aClId" th:value="${clId}">
                <input type="text" class="layui-input" th:value="${cName}" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门诊名称</label>
            <div class="layui-input-block">
                <select id="aHId"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预约时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="aTime" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预约类型</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="atType" th:value="${atType}" readonly>
            </div>
        </div>
    </form>

</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/layui/2.5.7/layui.all.min.js"></script>
<script>

    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //从sessionStorage中获取用户编号
    var uId = sessionStorage.getItem('uId');
    var rName = sessionStorage.getItem('rName');

    //时间控件
    laydate.render({
        elem: '#aTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
    });

    //获取所有门诊
    $.get("/crm/hospital/queryHospital", function (res){
        //定义负责人下拉框内容
        var html = "";
        $.each(res.data, function (index, item) {
            html += "<option value='" + item.hId + "'>" + item.hName + "</option>";
        });
        $("#aHId").append(html);
        //append后必须重新渲染
        form.render('select');
    })

</script>
</body>
</html>