<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增预约客户</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <style>
        .list{cursor: pointer;height: 30px;padding: 5px;top: 0;line-height: 30px;}
        #list{border: 1px solid #C9C9C9; border-top: none;}
    </style>
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="hidden" id="aCId">
                <input type="text" class="layui-input" autocomplete="off" id="cName">
                <div id="list" style="height: auto; display: none; background-color: white;"></div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门诊名称</label>
            <div class="layui-input-block">
                <select id="aHId"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预约时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="aTime" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预约类型</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="atType" value="普通预约" readonly>
            </div>
        </div>
    </form>

</div>
<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
<!--<script th:src="@{/layui/layui.js}"></script>-->
<script>

    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //从sessionStorage中获取用户编号
    var uId = sessionStorage.getItem('uId');
    var rName = sessionStorage.getItem('rName');

    //给搜索框添加input事件
    $("#cName").on("input", function(){
        var cName = $("#cName").val();
        if(cName != ""){
            //根据客户名称查询可预约客户
            $.post("/customer/queryCACByUIdAndCName", {rName:rName, uId:uId, cName:cName}, function (data) {
                var html = "";
                for (i = 0; i < data.data.length; i++){
                    html += "<div class='list' onclick='javascript:assign(&quot;"+data.data[i].cId+"&quot;,&quot;"+data.data[i].cName+"&quot;);'>"+data.data[i].cName+"</div>";
                }
                html += "<div class='list' style='text-align: right;margin-top: -10px;' id='close'>关闭</div>";
                //赋值
                $("#list").html(html);
                //给关闭添加onclick事件
                $("#close").on("click", function(){
                    $("#list").attr("style", "background-color: white;height: auto; display: none;");
                });
            });
            $("#list").attr("style", "background-color: white;height: auto; display: block;");
        }else{
            //赋值
            $("#list").html("");
            $("#list").attr("style", "background-color: white;height: auto; display: none;");
        }
    });

    //给搜索框添加onfocus事件
    $("#cName").on("focus", function(){
        var cName = $("#cName").val();
        if(cName != ""){
            $("#list").attr("style", "background-color: white;height: auto; display: block;");
        }
    });

    //赋值
    function assign(cId, cName) {
        $("#aCId").val(cId);
        $("#cName").val(cName);
    }

    //时间控件
    laydate.render({
        elem: '#aTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
    });

    //获取所有门诊
    $.get("/hospital/queryHospital", function (res){
        //定义负责人下拉框内容
        var html = "";
        $.each(res.data, function (index, item) {
            html += "<option value='" + item.hId + "'>" + item.hName + "</option>";
        });
        $("#aHId").append(html);
        //append后必须重新渲染
        form.render('select');
    })

</script>
</body>
</html>