<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>新增预约客户</title>
    <link rel="stylesheet" th:href="@{/layui/css/layui.css}"  media="all">
    <style>
        .list{cursor: pointer;height: 30px;padding: 5px;top: 0;line-height: 30px;}
        #list{border: 1px solid #C9C9C9; border-top: none;}
    </style>
</head>
<body>

<div class="layui-fluid">

    <br />
    <form class="layui-form" lay-filter="form">
        <div class="layui-form-item">
            <label class="layui-form-label">客户名称</label>
            <div class="layui-input-block">
                <input type="hidden" id="aClId">
                <input type="text" class="layui-input" autocomplete="off" id="cName">
                <input type="hidden" id="page" value="1">
                <input type="hidden" id="count">
                <div id="list" style="height: auto; display: none; background-color: white;">
                    <div id="data"></div>
                    <div class='list' style='text-align: right;margin-top: -10px;'>
                        <i onclick="previousPage()" class="layui-icon layui-icon-up" style="font-size: 15px;"></i>&nbsp;&nbsp;&nbsp;
                        <i onclick="nextPage()" class="layui-icon layui-icon-down" style="font-size: 15px;"></i>
                    </div>
                    <div class='list' style='text-align: right;margin-top: -10px;' id='close'>
                        <i onclick="hideList()" class="layui-icon layui-icon-close" style="font-size: 15px;"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">门诊名称</label>
            <div class="layui-input-block">
                <select id="aHId"></select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预约时间</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="aTime" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">预约类型</label>
            <div class="layui-input-block">
                <input type="text" class="layui-input" id="atType" value="普通预约" readonly>
            </div>
        </div>
    </form>

</div>
<script src="//cdn.bootcdn.net/ajax/libs/layui/2.4.3/layui.all.min.js"></script>
<!--<script th:src="@{/layui/layui.js}"></script>-->
<script>

    var form = layui.form
        ,laydate = layui.laydate
        ,$ = layui.jquery
        ,layer = layui.layer;

    //从sessionStorage中获取用户编号
    var uId = sessionStorage.getItem('uId');
    var rName = sessionStorage.getItem('rName');

    //根据客户名称查询可预约客户
    function getList(cName, page) {
        if (cName != "") {
            $.post("/customer/queryCACByUIdAndCName", {rName:rName, uId:uId, cName:cName, page:page}, function (data) {
                var html = "";
                for (i = 0; i < data.data.length; i++){
                    html += "<div class='list' onclick='javascript:assign(&quot;"+data.data[i].clId+"&quot;,&quot;"+data.data[i].cName+"&quot;);'>"+data.data[i].cName+"</div>";
                }
                //赋值
                $("#data").html(html);
                $("#count").val(data.count);
            });
            $("#list").attr("style", "background-color: white;height: auto; display: block;");
        }else{
            //赋值
            $("#data").html("");
            $("#list").attr("style", "background-color: white;height: auto; display: none;");
        }
    }

    //给搜索框添加input事件
    $("#cName").on("input", function(){
        var cName = $("#cName").val();
        var page = $("#page").val();
        getList(cName, page);
    });

    //给搜索框添加onfocus事件
    $("#cName").on("focus", function(){
        var cName = $("#cName").val();
        if(cName != ""){
            $("#list").attr("style", "background-color: white;height: auto; display: block;");
        }
    });

    //赋值
    function assign(clId, cName) {
        $("#aClId").val(clId);
        $("#cName").val(cName);
        //隐藏列表
        $("#list").attr("style", "background-color: white;height: auto; display: none;");
    }

    //上一页
    function previousPage() {
        //获取当前页码
        var page = $("#page").val();
        //获取总条数
        var count = $("#count").val();
        if (count != 0){
            if (eval(page+"-"+1) <= 0){
                layer.msg('已经是第一页');
            } else {
                var cName = $("#cName").val();
                getList(cName, eval(page+"-"+1));
                //给页码赋值
                $("#page").val(eval(page+"-"+1));
            }
        } else {
            layer.msg('没有数据');
        }
    }

    //下一页
    function nextPage() {
        //获取当前页码
        var page = $("#page").val();
        //获取总条数
        var count = $("#count").val();
        if (count != 0){
            if (eval(page+"+"+1) > count){
                layer.msg('已经是最后一页');
            } else {
                var cName = $("#cName").val();
                getList(cName, eval(page+"+"+1));
                //给页码赋值
                $("#page").val(eval(page+"+"+1));
            }
        } else {
            layer.msg('没有数据');
        }
    }

    //隐藏列表
    function hideList() {
        $("#list").attr("style", "background-color: #383d49;height: auto; display: none;");
    }

    //时间控件
    laydate.render({
        elem: '#aTime' //指定元素
        ,type: 'datetime' //时间格式
        ,trigger: 'click' //采用click弹出
    });

    //获取所有门诊
    $.get("/hospital/queryHospital", function (res){
        //定义负责人下拉框内容
        var html = "";
        $.each(res.data, function (index, item) {
            html += "<option value='" + item.hId + "'>" + item.hName + "</option>";
        });
        $("#aHId").append(html);
        //append后必须重新渲染
        form.render('select');
    })

</script>
</body>
</html>